.codex-build/li_33_hausflur_keller_migrated_20260515.flow.json
{"id":"30542f7ed05f2dd7","label":"LI - 33 Hausflur Keller","disabled":false,"info":"","env":[],"nodes":[{"id":"435be8fd1b7cdc31","type":"group","z":"30542f7ed05f2dd7","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["2938fd5ef83e8842","c9723f2312e8717b","8953057c18bfd1a1","045ae4c286b4c7fe","dfe7c7015c825b31","5bb585a68231c85c","682baf66ed0a4af1","077343c1c9ce1510","cf155d7981aef551","6a313d5beb60fb22","7abd2b5669e2bbc0","ef7b3f5c63748772","c02eeb89d93a0f74","c93732c7d3ce71ab","08c9cfba1e068d85","21fa35a003b71564","68a8092ca8c0a98f","f559a740b06948c7","d7c63cfc3795ecee"],"x":68,"y":68,"w":3674,"h":1139},{"id":"183b19a4a4b2a68c","type":"group","z":"30542f7ed05f2dd7","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["5afad4c2704d8d8c","aaa9e4606285e99a","49bcebff0fd4f769"],"x":84,"y":1279,"w":632,"h":82},{"id":"30628cac8e282097","type":"group","z":"30542f7ed05f2dd7","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["c1d0570d06b4b54f","4f63167d583471d2","f07dd6a47ea81ad1","d4a7a515eca7a86b"],"x":74,"y":1419,"w":700,"h":82},{"id":"c93732c7d3ce71ab","type":"group","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["5351d21e5e073132","4887bae3162a7f21","fbfcb09f9fae7b4b","8041140216e06ef2","6506c8bb0b9e2960","0fd701f75afb5a4c","84573065811956a8","b8b8eff7ced50639","7be0f37c32a5533b","f542722af869ac11","fd9a51552b523461","4ca04f616a80e77c","904080d7412f2080","a41409d9c4840f71","03f9e58269d2ca43","3d11d040e9402652","df2f25b2db1c76d0","4bdd3f41af6f3fae","281d9d66da9683eb","f89333fc85f70ea2"],"x":94,"y":99,"w":442,"h":1042},{"id":"08c9cfba1e068d85","type":"group","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["688260fe5eb0bd80","cf23192f20a638fd","90a1ead980f2c495","58b088fce4da4b50","49970dc432c55f50","9ec5c340b4e018c6","0c7ff3a4745a96c3","59a4f4268dea5dc9","4562d0adfa7de197","937081b1c7072bc5","46c7d1e809c1dba4","bb53dfa5c7c4ad2f","288c572f3e5e5268","abfaf72f681d7985","884d803031a1779d","87d7702c365c2d99","69291980023e3127","b21b01887a635cb9","6b51ad551ed09d42","f4fabd4113a82ea3","e8685f3722c4a97b","98a3650044981496","cab825c5d0753238","348c3f61a73808a1","9f7c7ad1994b878d","c28ee8da99628c02","137201e6dcd3da9b","8d0c1275b05433a9","ba3aee8f0455f621","c71171de4bc20a22","b8045a35ed7dd4ce","3cdd7df76a7b6857","f7ed4638027a5a00","ae0ab15a5ea89b5c","bbd1e1e102c140f8","83032e4745b2d8b6"],"x":714,"y":619,"w":1082,"h":562},{"id":"21fa35a003b71564","type":"group","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["c857160f044fdeb3","ec14c0b3dc8cef28","0a8740d2720f3585","a74fc77d1508a4af","b62d64063bd1317b","303514cfeeb4fbfa","8939c416bdc6e26a","ff5937b7394d77da","66eef5627d8a9340","c5529de883559b03","72e08386f692eb77","3451a27cfdd7e051","2d395913e5117f85","2392f664ca7bd09e","695d74b642ae07c3","792471a1a7e4b834","47fb81ad5e4f9a0e","2d2b1a766578df41","75b4555d739d56cc","aaca655e1629b2b3","7b43198ba87e80bd","54ca93c0b1a76904","e5df579f0d83d075","eb0a27e02f48971b","44291dbe0c5aec5c","c15c0d046ad4f01c","feb2c5cca2221306","78a5f14e17a6cee7"],"x":724,"y":94,"w":2152,"h":607},{"id":"68a8092ca8c0a98f","type":"group","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["949292afc2aa0d3f","a2d793b2bc372c12","57a401d00aaab4ec"],"x":2874,"y":99,"w":842,"h":82},{"id":"d7c63cfc3795ecee","type":"group","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["75f07625202859bd","69515f6d7adca4f9"],"x":1834,"y":619,"w":432,"h":82},{"id":"2938fd5ef83e8842","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger1 - true","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":140,"wires":[]},{"id":"c9723f2312e8717b","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger2 - true","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":200,"wires":[]},{"id":"8953057c18bfd1a1","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger3 - true","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":260,"wires":[]},{"id":"045ae4c286b4c7fe","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger1 - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":320,"wires":[]},{"id":"dfe7c7015c825b31","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger2 - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":380,"wires":[]},{"id":"5bb585a68231c85c","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger3 - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":440,"wires":[]},{"id":"682baf66ed0a4af1","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger1 long - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":500,"wires":[]},{"id":"077343c1c9ce1510","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger2 long - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":560,"wires":[]},{"id":"cf155d7981aef551","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger3 long - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":620,"wires":[]},{"id":"6a313d5beb60fb22","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger1 long extended - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":680,"wires":[]},{"id":"7abd2b5669e2bbc0","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger2 long extended - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":740,"wires":[]},{"id":"ef7b3f5c63748772","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"Trigger3 long extended - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":800,"wires":[]},{"id":"c02eeb89d93a0f74","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"TriggerN - true","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":860,"wires":[]},{"id":"5351d21e5e073132","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_hausflur_eg_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":190,"y":140,"wires":[["2938fd5ef83e8842"],[]]},{"id":"4887bae3162a7f21","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_hausflur_ug_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":190,"y":200,"wires":[["c9723f2312e8717b"],[]]},{"id":"fbfcb09f9fae7b4b","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":190,"y":260,"wires":[["8953057c18bfd1a1"],[]]},{"id":"8041140216e06ef2","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_hausflur_eg_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":200,"y":320,"wires":[["045ae4c286b4c7fe"],[]]},{"id":"6506c8bb0b9e2960","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_hausflur_ug_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":200,"y":380,"wires":[["dfe7c7015c825b31"],[]]},{"id":"0fd701f75afb5a4c","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":200,"y":440,"wires":[["5bb585a68231c85c"],[]]},{"id":"84573065811956a8","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_hausflur_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":210,"y":500,"wires":[["682baf66ed0a4af1"],[]]},{"id":"b8b8eff7ced50639","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_hausflur_ug"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":210,"y":560,"wires":[["077343c1c9ce1510"],[]]},{"id":"7be0f37c32a5533b","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":210,"y":620,"wires":[["cf155d7981aef551"],[]]},{"id":"f542722af869ac11","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_hausflur_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":240,"y":680,"wires":[["6a313d5beb60fb22"],[]]},{"id":"fd9a51552b523461","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_hausflur_ug"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":240,"y":740,"wires":[["7abd2b5669e2bbc0"],[]]},{"id":"4ca04f616a80e77c","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":240,"y":800,"wires":[["ef7b3f5c63748772"],[]]},{"id":"904080d7412f2080","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":200,"y":860,"wires":[["c02eeb89d93a0f74"],[]]},{"id":"a41409d9c4840f71","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":190,"y":980,"wires":[["f559a740b06948c7"],[]]},{"id":"03f9e58269d2ca43","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":200,"y":920,"wires":[["3d11d040e9402652"],[]]},{"id":"3d11d040e9402652","type":"link out","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"TriggerN - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":920,"wires":[]},{"id":"df2f25b2db1c76d0","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":200,"y":1040,"wires":[["4bdd3f41af6f3fae"],[]]},{"id":"4bdd3f41af6f3fae","type":"link out","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"TriggerA - false","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":1040,"wires":[]},{"id":"281d9d66da9683eb","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_hausflur_keller"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":190,"y":1100,"wires":[["f89333fc85f70ea2"]]},{"id":"f89333fc85f70ea2","type":"link out","z":"30542f7ed05f2dd7","g":"c93732c7d3ce71ab","name":"Licht-Gruppe","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":1100,"wires":[]},{"id":"688260fe5eb0bd80","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"single_both","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"single_both","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1070,"y":660,"wires":[["f4fabd4113a82ea3"]]},{"id":"cf23192f20a638fd","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":720,"wires":[[]]},{"id":"90a1ead980f2c495","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"58b088fce4da4b50","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":780,"wires":[[]]},{"id":"49970dc432c55f50","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":900,"wires":[[]]},{"id":"9ec5c340b4e018c6","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Licht An/Aus","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":660,"wires":[]},{"id":"0c7ff3a4745a96c3","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Dimmrichtung zurücksetzen","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":780,"wires":[]},{"id":"59a4f4268dea5dc9","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Automatische Dimmung","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":720,"wires":[]},{"id":"4562d0adfa7de197","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":840,"wires":[]},{"id":"937081b1c7072bc5","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Dimmung heller","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":900,"wires":[]},{"id":"46c7d1e809c1dba4","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Dimmung dunkler","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":960,"wires":[]},{"id":"bb53dfa5c7c4ad2f","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Licht umschalten #1","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":1020,"wires":[]},{"id":"288c572f3e5e5268","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Licht umschalten #2","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":1080,"wires":[]},{"id":"abfaf72f681d7985","type":"link out","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Licht umschalten #3","mode":"link","links":["aaa9e4606285e99a"],"x":1755,"y":1140,"wires":[]},{"id":"884d803031a1779d","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":840,"wires":[["90a1ead980f2c495"]]},{"id":"87d7702c365c2d99","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":810,"y":780,"wires":[["58b088fce4da4b50"]]},{"id":"69291980023e3127","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":720,"wires":[["cf23192f20a638fd"]]},{"id":"b21b01887a635cb9","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_hausflur_eg_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":660,"wires":[["688260fe5eb0bd80"]]},{"id":"6b51ad551ed09d42","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":900,"wires":[["49970dc432c55f50"]]},{"id":"f4fabd4113a82ea3","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":660,"wires":[["9ec5c340b4e018c6"]]},{"id":"e8685f3722c4a97b","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":720,"wires":[["59a4f4268dea5dc9"]]},{"id":"98a3650044981496","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":780,"wires":[["0c7ff3a4745a96c3"]]},{"id":"cab825c5d0753238","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":840,"wires":[["4562d0adfa7de197"]]},{"id":"348c3f61a73808a1","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":900,"wires":[["937081b1c7072bc5"]]},{"id":"9f7c7ad1994b878d","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["46c7d1e809c1dba4"]]},{"id":"c28ee8da99628c02","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1020,"wires":[["bb53dfa5c7c4ad2f"]]},{"id":"137201e6dcd3da9b","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["288c572f3e5e5268"]]},{"id":"8d0c1275b05433a9","type":"change","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1140,"wires":[["abfaf72f681d7985"]]},{"id":"ba3aee8f0455f621","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":960,"wires":[[]]},{"id":"c71171de4bc20a22","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":960,"wires":[["ba3aee8f0455f621"]]},{"id":"b8045a35ed7dd4ce","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1020,"wires":[[]]},{"id":"3cdd7df76a7b6857","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1020,"wires":[["b8045a35ed7dd4ce"]]},{"id":"f7ed4638027a5a00","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1080,"wires":[[]]},{"id":"ae0ab15a5ea89b5c","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1080,"wires":[["f7ed4638027a5a00"]]},{"id":"bbd1e1e102c140f8","type":"switch","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1140,"wires":[[]]},{"id":"83032e4745b2d8b6","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"08c9cfba1e068d85","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1140,"wires":[["bbd1e1e102c140f8"]]},{"id":"c857160f044fdeb3","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"c857160f044fdeb3\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1360,"y":140,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"ec14c0b3dc8cef28","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"kelvin\":4000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"ec14c0b3dc8cef28\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1880,"y":140,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"0a8740d2720f3585","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"0a8740d2720f3585\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2400,"y":140,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"a74fc77d1508a4af","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"a74fc77d1508a4af\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1350,"y":200,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"b62d64063bd1317b","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"b62d64063bd1317b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1850,"y":200,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"303514cfeeb4fbfa","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"303514cfeeb4fbfa\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2370,"y":200,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"8939c416bdc6e26a","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"8939c416bdc6e26a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1370,"y":380,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"ff5937b7394d77da","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"ff5937b7394d77da\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1910,"y":380,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"66eef5627d8a9340","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"66eef5627d8a9340\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2450,"y":380,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"c5529de883559b03","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"c5529de883559b03\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1360,"y":320,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"72e08386f692eb77","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"72e08386f692eb77\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1880,"y":320,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"3451a27cfdd7e051","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"3451a27cfdd7e051\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2400,"y":320,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"2d395913e5117f85","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"2d395913e5117f85\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1360,"y":260,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"2392f664ca7bd09e","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"2392f664ca7bd09e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1880,"y":260,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"695d74b642ae07c3","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"695d74b642ae07c3\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2400,"y":260,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"792471a1a7e4b834","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"792471a1a7e4b834\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1370,"y":500,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"47fb81ad5e4f9a0e","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"47fb81ad5e4f9a0e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1910,"y":500,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"2d2b1a766578df41","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"2d2b1a766578df41\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2450,"y":500,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"75b4555d739d56cc","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"75b4555d739d56cc\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1340,"y":560,"wires":[["c15c0d046ad4f01c"],["e5df579f0d83d075","feb2c5cca2221306"]]},{"id":"aaca655e1629b2b3","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"aaca655e1629b2b3\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1370,"y":440,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"7b43198ba87e80bd","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"7b43198ba87e80bd\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1910,"y":440,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"54ca93c0b1a76904","type":"subflow:235e206401c6aa25","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur Keller\",\"room\":\"hausflur_keller\",\"nodeId\":\"54ca93c0b1a76904\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur_keller","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2450,"y":440,"wires":[["c15c0d046ad4f01c"],["feb2c5cca2221306"]]},{"id":"e5df579f0d83d075","type":"link out","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["aaa9e4606285e99a"],"x":1655,"y":560,"wires":[]},{"id":"eb0a27e02f48971b","type":"switch","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":970,"y":180,"wires":[["c857160f044fdeb3"],["a74fc77d1508a4af"],["2d395913e5117f85"],["c5529de883559b03"],["8939c416bdc6e26a"],["aaca655e1629b2b3"],["792471a1a7e4b834"],["75b4555d739d56cc"],["c15c0d046ad4f01c"]]},{"id":"44291dbe0c5aec5c","type":"link in","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Verteiler-In","links":["49bcebff0fd4f769"],"x":765,"y":180,"wires":[["eb0a27e02f48971b"]]},{"id":"949292afc2aa0d3f","type":"change","z":"30542f7ed05f2dd7","g":"68a8092ca8c0a98f","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_keller","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_keller_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_hausflur_eg_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_hausflur_keller_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_hausflur_eg_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_select.licht_automatisierung_hausflur_keller_status","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_hausflur_eg_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_hausflur_keller_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_keller_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_keller_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_keller_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_hausflur_eg_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_hausflur_ug_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_hausflur_eg_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_hausflur_ug_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_hausflur_keller_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.beleuchtung_hausflur_keller","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_hausflur_keller","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"light.licht_gruppe_hausflur_keller","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_hausflur_eg","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_hausflur_ug","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3450,"y":140,"wires":[["57a401d00aaab4ec"]]},{"id":"a2d793b2bc372c12","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"68a8092ca8c0a98f","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3070,"y":140,"wires":[["949292afc2aa0d3f"],[]]},{"id":"57a401d00aaab4ec","type":"link out","z":"30542f7ed05f2dd7","g":"68a8092ca8c0a98f","name":"Initialisierung","mode":"link","links":["aaa9e4606285e99a"],"x":3675,"y":140,"wires":[]},{"id":"f559a740b06948c7","type":"link out","z":"30542f7ed05f2dd7","g":"435be8fd1b7cdc31","name":"TriggerA - true","mode":"link","links":["aaa9e4606285e99a"],"x":495,"y":980,"wires":[]},{"id":"75f07625202859bd","type":"server-state-changed","z":"30542f7ed05f2dd7","g":"d7c63cfc3795ecee","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["69515f6d7adca4f9"]]},{"id":"5afad4c2704d8d8c","type":"subflow:d5c060879184b636","z":"30542f7ed05f2dd7","g":"183b19a4a4b2a68c","name":"","x":400,"y":1320,"wires":[["49bcebff0fd4f769"]]},{"id":"aaa9e4606285e99a","type":"link in","z":"30542f7ed05f2dd7","g":"183b19a4a4b2a68c","name":"Verteiler-Out Connect","links":["288c572f3e5e5268","9ec5c340b4e018c6","abfaf72f681d7985","6a313d5beb60fb22","dfe7c7015c825b31","045ae4c286b4c7fe","3d11d040e9402652","682baf66ed0a4af1","077343c1c9ce1510","57a401d00aaab4ec","59a4f4268dea5dc9","5bb585a68231c85c","0c7ff3a4745a96c3","46c7d1e809c1dba4","f559a740b06948c7","c9723f2312e8717b","cf155d7981aef551","4562d0adfa7de197","2938fd5ef83e8842","bb53dfa5c7c4ad2f","c02eeb89d93a0f74","f89333fc85f70ea2","e5df579f0d83d075","7abd2b5669e2bbc0","937081b1c7072bc5","4bdd3f41af6f3fae","ef7b3f5c63748772","8953057c18bfd1a1"],"x":125,"y":1320,"wires":[["5afad4c2704d8d8c"]]},{"id":"49bcebff0fd4f769","type":"link out","z":"30542f7ed05f2dd7","g":"183b19a4a4b2a68c","name":"Verteiler-In","mode":"link","links":["44291dbe0c5aec5c"],"x":675,"y":1320,"wires":[]},{"id":"69515f6d7adca4f9","type":"switch","z":"30542f7ed05f2dd7","g":"d7c63cfc3795ecee","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"c1d0570d06b4b54f","type":"catch","z":"30542f7ed05f2dd7","g":"30628cac8e282097","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["4f63167d583471d2","f07dd6a47ea81ad1"]]},{"id":"4f63167d583471d2","type":"debug","z":"30542f7ed05f2dd7","g":"30628cac8e282097","name":"LI - Hausflur Keller Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1460,"wires":[]},{"id":"f07dd6a47ea81ad1","type":"function","z":"30542f7ed05f2dd7","g":"30628cac8e282097","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33 Hausflur Keller',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33 Hausflur Keller Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["d4a7a515eca7a86b"]]},{"id":"d4a7a515eca7a86b","type":"link out","z":"30542f7ed05f2dd7","g":"30628cac8e282097","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":600,"y":1460,"wires":[]},{"id":"c15c0d046ad4f01c","type":"link out","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2650,"y":560,"wires":[]},{"id":"feb2c5cca2221306","type":"function","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33 Hausflur Keller',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":620,"wires":[["78a5f14e17a6cee7"]]},{"id":"78a5f14e17a6cee7","type":"link out","z":"30542f7ed05f2dd7","g":"21fa35a003b71564","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2650,"y":620,"wires":[]}],"configs":[]}
