.codex-build/li_33_hausflur_migrated_20260515.flow.json
{"id":"58887373f03f37b5","label":"LI - 33 Hausflur","disabled":false,"info":"","env":[],"nodes":[{"id":"7a5a0c962588c39a","type":"group","z":"58887373f03f37b5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["da7aa60aa759e7de","358d81bbd3361251","597e87861e840df0","78a6e2b657c576b7","ee7b2e2e24a46040","7a080b0a1077c3d0"],"x":74,"y":3219,"w":1612,"h":202},{"id":"b34125a29d858ecf","type":"group","z":"58887373f03f37b5","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9f5a8fa4f91bcb20","b5632c6bfc10b523","ddc00ad515ab18be","ab35a656ce92d1c0"],"x":74,"y":3479,"w":1392,"h":82},{"id":"ac219c14770b3f7f","type":"group","z":"58887373f03f37b5","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["6986391c3726dffe","23ad8eaedfe6894c","45bccf998a5c0d24","eb54aa96e1784748","a03fc03e17c02d42","ee0ec8ec7920f133","16a99beb74ed7f66","dbfd887d82a76117","b732523005d6dc16","6c27b5ba1314935a","9fb5d9103bf8e4de","a2df6b52b9e73582","ad87a7e2d1e18f3e","bc7f1f4acf45f005","f09822a57fd07138","43e7667c70516c6c","9d6102bd644d3c6e","6b376dbf7b0e62cf","fb81effd543e5542"],"x":68,"y":68,"w":3674,"h":1139},{"id":"1a94626ce3938dd4","type":"group","z":"58887373f03f37b5","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["12e4c2d2587a25a0","5a94964685286275","ebeda9e1cabb8eae"],"x":84,"y":1279,"w":632,"h":82},{"id":"20b9ed3883fb139d","type":"group","z":"58887373f03f37b5","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["7087187c97496147","59f19887fc537713","df27d0e0837958ac","c7256d10b1de27f4"],"x":74,"y":1419,"w":532,"h":82},{"id":"bc7f1f4acf45f005","type":"group","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["19496397d010ba76","0379e0b0e24552f4","88d6d08bf7ec6fea","8600c67ccefbedde","489872f3d4a52997","0c3f83e25c1a1f9a","d75944ee4e8c75bc","3ccda5b18cf87b30","1da8790f4b357703","db6fdf87d1c82bc6","0237c991525bf59a","e6af266e0ee57543","5baa136cf6ce7d02","874285a6b8fd0b3e","1a7a1525e324f123","66ffc3781a366d1a","8e0fe27c92acedcb","920d6e0414978908","4a93366c6486632e","03025dba3ebf0c6e"],"x":94,"y":99,"w":442,"h":1042},{"id":"f09822a57fd07138","type":"group","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["53cb55d66f6b45e5","fab3cc21a90fb1b5","dff67bfb44da908e","fe9b9bf07889dca9","31ed272a26855f30","9050bd576c0d2eeb","a2ea9b0fd0d97054","39ec07a3ad4ffd7d","7d0c21488d595844","26c7c250c58344f9","c90b2c236210a5b8","240e5531a5c178a5","ebe4e51dd61e6d94","c4b334a592ce1662","3d67e320f92728c0","ab46bdce989b06a9","cabfe6826af73aec","b84cb6dad45b9316","c0338d0baf1f1c1d","3a4742d7bc8f5b34","e278b7f26f3bab2a","de351504ab2e843c","fdd5009a77af6779","5288fb66ea947782","136508eb7496aed4","2cd0c2b099b02a9c","64ac8c407265d02d","1ab188f6d8b0d3d1","4cba400c7d1127b1","941adeda60dd0f8a","2881e43987fe4a7b","95e0cebf61f0d226","606f44309438ff46","5c844d0aadd6a70e","9963dc5c488e4049","74b82fd4e4c0a980"],"x":714,"y":619,"w":1082,"h":562},{"id":"43e7667c70516c6c","type":"group","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["16bf0c0223b7e399","88ba6784491753f9","0addef2ba25636ae","03e2600dcf9119a2","4a8d14b9e6bac612","f3c603ca260ec431","98a8e519c1a93e23","2e9354df02f52761","5c120a8578cd7db0","f310280d39bf613d","b22f8dfe3c63d632","e2f3408714336359","05492cabe0143002","7d3a7c24e1edfae2","4fb4994a6e3777dc","91400dadd0a999cd","378908e1d10db425","5a890f76ddc36fef","2a696a0fd549ac9c","6f4a0ea50963839e","5363b00df24148ae","ce403aec8d6bb2ca","365d054bfb5895a3","44c4fb7eda15d7bd","26868a17b69e0213","b3d77cf79e4a0101","a0fdc4d445dc2b21","b25b1ec2e0cfd62e"],"x":724,"y":94,"w":2152,"h":607},{"id":"9d6102bd644d3c6e","type":"group","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["8ad93a75287c9d3f","f06b400a3e72cc4c","b1f3319d1b39533e"],"x":2874,"y":99,"w":842,"h":82},{"id":"fb81effd543e5542","type":"group","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["b150993e46053b65","93776b08600967ff","8e44f7c0b9bc2f2a","475122dd50764999","9169066d228897b4","446ee50e101a2b46","e769b749b0b82420","7247e3f6d0fee9d6","2a7f8a1d7ed89da3","b8bd6561ad475324"],"x":1834,"y":619,"w":1552,"h":262},{"id":"da7aa60aa759e7de","type":"server-state-changed","z":"58887373f03f37b5","d":true,"g":"7a5a0c962588c39a","name":"Lichtschalter Hausflur EG","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_hausflur_eg_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":210,"y":3260,"wires":[["358d81bbd3361251"]]},{"id":"358d81bbd3361251","type":"api-current-state","z":"58887373f03f37b5","d":true,"g":"7a5a0c962588c39a","name":"Licht - Schalter Hausflur EG angewählt?","server":"86f0795d.48a3f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.licht_schalter_hausflur_eg","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":3260,"wires":[["597e87861e840df0"],[]]},{"id":"597e87861e840df0","type":"switch","z":"58887373f03f37b5","d":true,"g":"7a5a0c962588c39a","name":"single_right/hold_left/hold_right/hold_both","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single_right","vt":"str"},{"t":"eq","v":"hold_left","vt":"str"},{"t":"eq","v":"hold_right","vt":"str"},{"t":"eq","v":"hold_both","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1040,"y":3280,"wires":[["ee7b2e2e24a46040"],["78a6e2b657c576b7"],["7a080b0a1077c3d0"],[]]},{"id":"78a6e2b657c576b7","type":"api-call-service","z":"58887373f03f37b5","d":true,"g":"7a5a0c962588c39a","name":"Licht-Gruppe - Innenbeleuchtung ausschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.licht_gruppe_innenbeleuchtung"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1490,"y":3320,"wires":[[]]},{"id":"ee7b2e2e24a46040","type":"api-call-service","z":"58887373f03f37b5","d":true,"g":"7a5a0c962588c39a","name":"Routine - Pipizeit einschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.routine_pipizeit"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1440,"y":3260,"wires":[[]]},{"id":"7a080b0a1077c3d0","type":"api-call-service","z":"58887373f03f37b5","d":true,"g":"7a5a0c962588c39a","name":"Routine - Pipizeit ausschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.routine_pipizeit"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":1450,"y":3380,"wires":[[]]},{"id":"9f5a8fa4f91bcb20","type":"server-state-changed","z":"58887373f03f37b5","d":true,"g":"b34125a29d858ecf","name":"Lichtschalter Hausflur OG","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_hausflur_og_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":210,"y":3520,"wires":[["b5632c6bfc10b523"]]},{"id":"b5632c6bfc10b523","type":"api-current-state","z":"58887373f03f37b5","d":true,"g":"b34125a29d858ecf","name":"Licht - Schalter Hausflur OG angewählt?","server":"86f0795d.48a3f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.licht_schalter_hausflur_og","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":3520,"wires":[["ddc00ad515ab18be"],[]]},{"id":"ddc00ad515ab18be","type":"switch","z":"58887373f03f37b5","d":true,"g":"b34125a29d858ecf","name":"hold","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":930,"y":3520,"wires":[["ab35a656ce92d1c0"]]},{"id":"ab35a656ce92d1c0","type":"api-call-service","z":"58887373f03f37b5","d":true,"g":"b34125a29d858ecf","name":"Licht-Gruppe - Innenbeleuchtung ausschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.licht_gruppe_innenbeleuchtung"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":1270,"y":3520,"wires":[[]]},{"id":"6986391c3726dffe","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger1 - true","mode":"link","links":["5a94964685286275"],"x":495,"y":140,"wires":[]},{"id":"23ad8eaedfe6894c","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger2 - true","mode":"link","links":["5a94964685286275"],"x":495,"y":200,"wires":[]},{"id":"45bccf998a5c0d24","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger3 - true","mode":"link","links":["5a94964685286275"],"x":495,"y":260,"wires":[]},{"id":"eb54aa96e1784748","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger1 - false","mode":"link","links":["5a94964685286275"],"x":495,"y":320,"wires":[]},{"id":"a03fc03e17c02d42","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger2 - false","mode":"link","links":["5a94964685286275"],"x":495,"y":380,"wires":[]},{"id":"ee0ec8ec7920f133","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger3 - false","mode":"link","links":["5a94964685286275"],"x":495,"y":440,"wires":[]},{"id":"16a99beb74ed7f66","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger1 long - false","mode":"link","links":["5a94964685286275"],"x":495,"y":500,"wires":[]},{"id":"dbfd887d82a76117","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger2 long - false","mode":"link","links":["5a94964685286275"],"x":495,"y":560,"wires":[]},{"id":"b732523005d6dc16","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger3 long - false","mode":"link","links":["5a94964685286275"],"x":495,"y":620,"wires":[]},{"id":"6c27b5ba1314935a","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger1 long extended - false","mode":"link","links":["5a94964685286275"],"x":495,"y":680,"wires":[]},{"id":"9fb5d9103bf8e4de","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger2 long extended - false","mode":"link","links":["5a94964685286275"],"x":495,"y":740,"wires":[]},{"id":"a2df6b52b9e73582","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"Trigger3 long extended - false","mode":"link","links":["5a94964685286275"],"x":495,"y":800,"wires":[]},{"id":"ad87a7e2d1e18f3e","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"TriggerN - true","mode":"link","links":["5a94964685286275"],"x":495,"y":860,"wires":[]},{"id":"19496397d010ba76","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_hausflur_eg_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":190,"y":140,"wires":[["6986391c3726dffe"],[]]},{"id":"0379e0b0e24552f4","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_hausflur_og_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":190,"y":200,"wires":[["23ad8eaedfe6894c"],[]]},{"id":"88d6d08bf7ec6fea","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":190,"y":260,"wires":[["45bccf998a5c0d24"],[]]},{"id":"8600c67ccefbedde","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_hausflur_eg_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":200,"y":320,"wires":[["eb54aa96e1784748"],[]]},{"id":"489872f3d4a52997","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_hausflur_og_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":200,"y":380,"wires":[["a03fc03e17c02d42"],[]]},{"id":"0c3f83e25c1a1f9a","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":200,"y":440,"wires":[["ee0ec8ec7920f133"],[]]},{"id":"d75944ee4e8c75bc","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_hausflur_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":210,"y":500,"wires":[["16a99beb74ed7f66"],[]]},{"id":"3ccda5b18cf87b30","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_hausflur_og"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":210,"y":560,"wires":[["dbfd887d82a76117"],[]]},{"id":"1da8790f4b357703","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":210,"y":620,"wires":[["b732523005d6dc16"],[]]},{"id":"db6fdf87d1c82bc6","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_hausflur_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":240,"y":680,"wires":[["6c27b5ba1314935a"],[]]},{"id":"0237c991525bf59a","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_hausflur_og"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":240,"y":740,"wires":[["9fb5d9103bf8e4de"],[]]},{"id":"e6af266e0ee57543","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":240,"y":800,"wires":[["a2df6b52b9e73582"],[]]},{"id":"5baa136cf6ce7d02","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":200,"y":860,"wires":[["ad87a7e2d1e18f3e"],[]]},{"id":"874285a6b8fd0b3e","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":190,"y":980,"wires":[["6b376dbf7b0e62cf"],[]]},{"id":"1a7a1525e324f123","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":200,"y":920,"wires":[["66ffc3781a366d1a"],[]]},{"id":"66ffc3781a366d1a","type":"link out","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"TriggerN - false","mode":"link","links":["5a94964685286275"],"x":495,"y":920,"wires":[]},{"id":"8e0fe27c92acedcb","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":200,"y":1040,"wires":[["920d6e0414978908"],[]]},{"id":"920d6e0414978908","type":"link out","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"TriggerA - false","mode":"link","links":["5a94964685286275"],"x":495,"y":1040,"wires":[]},{"id":"4a93366c6486632e","type":"server-state-changed","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_hausflur"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":190,"y":1100,"wires":[["03025dba3ebf0c6e"]]},{"id":"03025dba3ebf0c6e","type":"link out","z":"58887373f03f37b5","g":"bc7f1f4acf45f005","name":"Licht-Gruppe","mode":"link","links":["5a94964685286275"],"x":495,"y":1100,"wires":[]},{"id":"53cb55d66f6b45e5","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"single_left","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"single_left","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":660,"wires":[["3a4742d7bc8f5b34"]]},{"id":"fab3cc21a90fb1b5","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"single","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":720,"wires":[["3a4742d7bc8f5b34"]]},{"id":"dff67bfb44da908e","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"fe9b9bf07889dca9","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":780,"wires":[[]]},{"id":"31ed272a26855f30","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":900,"wires":[[]]},{"id":"9050bd576c0d2eeb","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Licht An/Aus","mode":"link","links":["5a94964685286275"],"x":1755,"y":660,"wires":[]},{"id":"a2ea9b0fd0d97054","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Dimmrichtung zurücksetzen","mode":"link","links":["5a94964685286275"],"x":1755,"y":780,"wires":[]},{"id":"39ec07a3ad4ffd7d","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Automatische Dimmung","mode":"link","links":["5a94964685286275"],"x":1755,"y":720,"wires":[]},{"id":"7d0c21488d595844","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["5a94964685286275"],"x":1755,"y":840,"wires":[]},{"id":"26c7c250c58344f9","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Dimmung heller","mode":"link","links":["5a94964685286275"],"x":1755,"y":900,"wires":[]},{"id":"c90b2c236210a5b8","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Dimmung dunkler","mode":"link","links":["5a94964685286275"],"x":1755,"y":960,"wires":[]},{"id":"240e5531a5c178a5","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Licht umschalten #1","mode":"link","links":["5a94964685286275"],"x":1755,"y":1020,"wires":[]},{"id":"ebe4e51dd61e6d94","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Licht umschalten #2","mode":"link","links":["5a94964685286275"],"x":1755,"y":1080,"wires":[]},{"id":"c4b334a592ce1662","type":"link out","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Licht umschalten #3","mode":"link","links":["5a94964685286275"],"x":1755,"y":1140,"wires":[]},{"id":"3d67e320f92728c0","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":840,"wires":[["dff67bfb44da908e"]]},{"id":"ab46bdce989b06a9","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":810,"y":780,"wires":[["fe9b9bf07889dca9"]]},{"id":"cabfe6826af73aec","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_hausflur_og_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":720,"wires":[["fab3cc21a90fb1b5"]]},{"id":"b84cb6dad45b9316","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_hausflur_eg_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":660,"wires":[["53cb55d66f6b45e5"]]},{"id":"c0338d0baf1f1c1d","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":900,"wires":[["31ed272a26855f30"]]},{"id":"3a4742d7bc8f5b34","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":660,"wires":[["9050bd576c0d2eeb"]]},{"id":"e278b7f26f3bab2a","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":720,"wires":[["39ec07a3ad4ffd7d"]]},{"id":"de351504ab2e843c","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":780,"wires":[["a2ea9b0fd0d97054"]]},{"id":"fdd5009a77af6779","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":840,"wires":[["7d0c21488d595844"]]},{"id":"5288fb66ea947782","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":900,"wires":[["26c7c250c58344f9"]]},{"id":"136508eb7496aed4","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["c90b2c236210a5b8"]]},{"id":"2cd0c2b099b02a9c","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1020,"wires":[["240e5531a5c178a5"]]},{"id":"64ac8c407265d02d","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["ebe4e51dd61e6d94"]]},{"id":"1ab188f6d8b0d3d1","type":"change","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1140,"wires":[["c4b334a592ce1662"]]},{"id":"4cba400c7d1127b1","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":960,"wires":[[]]},{"id":"941adeda60dd0f8a","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":960,"wires":[["4cba400c7d1127b1"]]},{"id":"2881e43987fe4a7b","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1020,"wires":[[]]},{"id":"95e0cebf61f0d226","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1020,"wires":[["2881e43987fe4a7b"]]},{"id":"606f44309438ff46","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1080,"wires":[[]]},{"id":"5c844d0aadd6a70e","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1080,"wires":[["606f44309438ff46"]]},{"id":"9963dc5c488e4049","type":"switch","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1140,"wires":[[]]},{"id":"74b82fd4e4c0a980","type":"server-state-changed","z":"58887373f03f37b5","g":"f09822a57fd07138","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1140,"wires":[["9963dc5c488e4049"]]},{"id":"16bf0c0223b7e399","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"16bf0c0223b7e399\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1360,"y":140,"wires":[["b3d77cf79e4a0101"],["88ba6784491753f9","a0fdc4d445dc2b21"]]},{"id":"88ba6784491753f9","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":4000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"88ba6784491753f9\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1880,"y":140,"wires":[["b3d77cf79e4a0101"],["0addef2ba25636ae","a0fdc4d445dc2b21"]]},{"id":"0addef2ba25636ae","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"0addef2ba25636ae\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2400,"y":140,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"03e2600dcf9119a2","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"03e2600dcf9119a2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1350,"y":200,"wires":[["b3d77cf79e4a0101"],["4a8d14b9e6bac612","a0fdc4d445dc2b21"]]},{"id":"4a8d14b9e6bac612","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"4a8d14b9e6bac612\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1850,"y":200,"wires":[["b3d77cf79e4a0101"],["f3c603ca260ec431","a0fdc4d445dc2b21"]]},{"id":"f3c603ca260ec431","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"f3c603ca260ec431\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2370,"y":200,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"98a8e519c1a93e23","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"98a8e519c1a93e23\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1370,"y":380,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"2e9354df02f52761","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"2e9354df02f52761\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1910,"y":380,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"5c120a8578cd7db0","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"5c120a8578cd7db0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2450,"y":380,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"f310280d39bf613d","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"f310280d39bf613d\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1360,"y":320,"wires":[["b3d77cf79e4a0101"],["b22f8dfe3c63d632","a0fdc4d445dc2b21"]]},{"id":"b22f8dfe3c63d632","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"b22f8dfe3c63d632\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1880,"y":320,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"e2f3408714336359","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"e2f3408714336359\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2400,"y":320,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"05492cabe0143002","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"05492cabe0143002\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1360,"y":260,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"7d3a7c24e1edfae2","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"7d3a7c24e1edfae2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1880,"y":260,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"4fb4994a6e3777dc","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"4fb4994a6e3777dc\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2400,"y":260,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"91400dadd0a999cd","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"91400dadd0a999cd\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1370,"y":500,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"378908e1d10db425","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"378908e1d10db425\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1910,"y":500,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"5a890f76ddc36fef","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"5a890f76ddc36fef\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2450,"y":500,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"2a696a0fd549ac9c","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"2a696a0fd549ac9c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1340,"y":560,"wires":[["b3d77cf79e4a0101"],["365d054bfb5895a3","a0fdc4d445dc2b21"]]},{"id":"6f4a0ea50963839e","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"6f4a0ea50963839e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1370,"y":440,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"5363b00df24148ae","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"5363b00df24148ae\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1910,"y":440,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"ce403aec8d6bb2ca","type":"subflow:235e206401c6aa25","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Hausflur\",\"room\":\"hausflur\",\"nodeId\":\"ce403aec8d6bb2ca\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"hausflur","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2450,"y":440,"wires":[["b3d77cf79e4a0101"],["a0fdc4d445dc2b21"]]},{"id":"365d054bfb5895a3","type":"link out","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["5a94964685286275"],"x":1655,"y":560,"wires":[]},{"id":"44c4fb7eda15d7bd","type":"switch","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":970,"y":180,"wires":[["16bf0c0223b7e399"],["03e2600dcf9119a2"],["05492cabe0143002"],["f310280d39bf613d"],["98a8e519c1a93e23"],["6f4a0ea50963839e"],["91400dadd0a999cd"],["2a696a0fd549ac9c"],["b3d77cf79e4a0101"]]},{"id":"26868a17b69e0213","type":"link in","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Verteiler-In","links":["ebeda9e1cabb8eae"],"x":765,"y":180,"wires":[["44c4fb7eda15d7bd"]]},{"id":"8ad93a75287c9d3f","type":"change","z":"58887373f03f37b5","g":"9d6102bd644d3c6e","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_og","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_og_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_hausflur_eg_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_hausflur_og_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_hausflur_eg_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_select.licht_automatisierung_hausflur_og_status","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_hausflur_eg_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_hausflur_og_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_og_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_og_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_eg_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_hausflur_og_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_hausflur_eg_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_hausflur_og_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_hausflur_eg_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_hausflur_og_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_hausflur_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.lichtschalter_hausflur_og","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.hausflur_handlauf","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"light.rattan_lampe_hausflur_og","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_hausflur","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_hausflur_eg","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_hausflur_og","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"3","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3450,"y":140,"wires":[["b1f3319d1b39533e"]]},{"id":"f06b400a3e72cc4c","type":"server-state-changed","z":"58887373f03f37b5","g":"9d6102bd644d3c6e","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3070,"y":140,"wires":[["8ad93a75287c9d3f"],[]]},{"id":"b1f3319d1b39533e","type":"link out","z":"58887373f03f37b5","g":"9d6102bd644d3c6e","name":"Initialisierung","mode":"link","links":["5a94964685286275"],"x":3675,"y":140,"wires":[]},{"id":"6b376dbf7b0e62cf","type":"link out","z":"58887373f03f37b5","g":"ac219c14770b3f7f","name":"TriggerA - true","mode":"link","links":["5a94964685286275"],"x":495,"y":980,"wires":[]},{"id":"b150993e46053b65","type":"server-state-changed","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_hausflur_eg_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["8e44f7c0b9bc2f2a"]]},{"id":"12e4c2d2587a25a0","type":"subflow:d5c060879184b636","z":"58887373f03f37b5","g":"1a94626ce3938dd4","name":"","x":400,"y":1320,"wires":[["ebeda9e1cabb8eae"]]},{"id":"5a94964685286275","type":"link in","z":"58887373f03f37b5","g":"1a94626ce3938dd4","name":"Verteiler-Out Connect","links":["ebe4e51dd61e6d94","9050bd576c0d2eeb","c4b334a592ce1662","6c27b5ba1314935a","a03fc03e17c02d42","eb54aa96e1784748","66ffc3781a366d1a","16a99beb74ed7f66","dbfd887d82a76117","b1f3319d1b39533e","39ec07a3ad4ffd7d","ee0ec8ec7920f133","a2ea9b0fd0d97054","c90b2c236210a5b8","6b376dbf7b0e62cf","23ad8eaedfe6894c","b732523005d6dc16","7d0c21488d595844","6986391c3726dffe","240e5531a5c178a5","ad87a7e2d1e18f3e","03025dba3ebf0c6e","365d054bfb5895a3","9fb5d9103bf8e4de","26c7c250c58344f9","920d6e0414978908","a2df6b52b9e73582","45bccf998a5c0d24"],"x":125,"y":1320,"wires":[["12e4c2d2587a25a0"]]},{"id":"ebeda9e1cabb8eae","type":"link out","z":"58887373f03f37b5","g":"1a94626ce3938dd4","name":"Verteiler-In","mode":"link","links":["26868a17b69e0213"],"x":675,"y":1320,"wires":[]},{"id":"8e44f7c0b9bc2f2a","type":"api-current-state","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"Licht - Schalter Hausflur EG angewählt?","server":"86f0795d.48a3f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.licht_schalter_hausflur_eg","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2300,"y":660,"wires":[["475122dd50764999"],[]]},{"id":"475122dd50764999","type":"switch","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"single_right/hold_left/hold_right/hold_both","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single_right","vt":"str"},{"t":"eq","v":"hold_left","vt":"str"},{"t":"eq","v":"hold_right","vt":"str"},{"t":"eq","v":"hold_both","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":2740,"y":680,"wires":[["9169066d228897b4"],["446ee50e101a2b46"],["e769b749b0b82420"],[]]},{"id":"9169066d228897b4","type":"api-call-service","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"Routine - Pipizeit einschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.routine_pipizeit"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":3140,"y":660,"wires":[[]]},{"id":"446ee50e101a2b46","type":"api-call-service","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"Licht-Gruppe - Innenbeleuchtung ausschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.licht_gruppe_innenbeleuchtung"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":3190,"y":720,"wires":[[]]},{"id":"e769b749b0b82420","type":"api-call-service","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"Routine - Pipizeit ausschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.routine_pipizeit"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_off","x":3150,"y":780,"wires":[[]]},{"id":"7247e3f6d0fee9d6","type":"api-current-state","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"Licht - Schalter Hausflur OG angewählt?","server":"86f0795d.48a3f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.licht_schalter_hausflur_og","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2300,"y":840,"wires":[["2a7f8a1d7ed89da3"],[]]},{"id":"2a7f8a1d7ed89da3","type":"switch","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"hold","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hold","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2630,"y":840,"wires":[["b8bd6561ad475324"]]},{"id":"b8bd6561ad475324","type":"api-call-service","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"Licht-Gruppe - Innenbeleuchtung ausschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.licht_gruppe_innenbeleuchtung"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"turn_off","x":2970,"y":840,"wires":[[]]},{"id":"93776b08600967ff","type":"server-state-changed","z":"58887373f03f37b5","g":"fb81effd543e5542","name":"LichtschalterS2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_hausflur_og_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":720,"wires":[["7247e3f6d0fee9d6"]]},{"id":"7087187c97496147","type":"catch","z":"58887373f03f37b5","g":"20b9ed3883fb139d","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["59f19887fc537713","df27d0e0837958ac"]]},{"id":"59f19887fc537713","type":"debug","z":"58887373f03f37b5","g":"20b9ed3883fb139d","name":"LI - Hausflur Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":1460,"wires":[]},{"id":"df27d0e0837958ac","type":"function","z":"58887373f03f37b5","g":"20b9ed3883fb139d","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33 Hausflur',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33 Hausflur Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["c7256d10b1de27f4"]]},{"id":"c7256d10b1de27f4","type":"link out","z":"58887373f03f37b5","g":"20b9ed3883fb139d","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":565,"y":1460,"wires":[]},{"id":"b3d77cf79e4a0101","type":"link out","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2650,"y":560,"wires":[]},{"id":"a0fdc4d445dc2b21","type":"function","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33 Hausflur',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":620,"wires":[["b25b1ec2e0cfd62e"]]},{"id":"b25b1ec2e0cfd62e","type":"link out","z":"58887373f03f37b5","g":"43e7667c70516c6c","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2650,"y":620,"wires":[]}],"configs":[]}
