.codex-build/li_all_rooms_final_20260515.flow.json
{"id":"f37de82b7d8e5814","label":"LI - Wohnzimmer","disabled":false,"info":"","env":[],"nodes":[{"id":"6a6b81f5a8d3deb3","type":"group","z":"f37de82b7d8e5814","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["50a3534a86b0179e","1b84d447a3c85831","b43fbf72a0a373f0","da838342526c3add","43967f2a06a2fb15","088eff3df9cdfb60","15231c2ae902f4bd","dad3762b8ecd9dd0","2e9211e55887f95e","bd0fc79c1ec7029f","a4516371c6c63b96","f3a24f049facaa6f","c3bc51399062f3a8","d31b0a8c05193384","977842924cf39fa7","b3112d643e06a109","3968496321b29949","c0fcfdecc78c51ec","e0c13ad423424a24"],"x":78,"y":68,"w":3674,"h":1139},{"id":"81c79eca21ce38ee","type":"group","z":"f37de82b7d8e5814","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["8f8abb7f830353d9","81eb759a180761bc","6217ccea29b5e79e"],"x":84,"y":1279,"w":632,"h":82},{"id":"c681a6a2ba902f27","type":"group","z":"f37de82b7d8e5814","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["681feeafa907b797","f541f40b00445704","9fc4c7ccdb17e00f","7a60057dda6051b8"],"x":74,"y":1419,"w":700,"h":82},{"id":"d31b0a8c05193384","type":"group","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["5173c628d32c3b59","c9286edab882b1a0","ca0a9c401925fbb9","8d93f489f8af2bc3","4afb3824caa3bb77","157a5a34a5f05b99","067236e4b1e89464","43406ea0594beb49","2ad97b8a1837246d","48904ba8d172b0e4","e334784bf8d85dd7","1abfe16a87d53088","3fcfa2f17bddb386","d295680e4b200f95","3667dbe0e0ce6ad1","e99323b0d6422125","69a4976bbe110c55","aaf624b0517dfcbf","aa7264a5da3b5154","e50941e70ac2a277"],"x":104,"y":99,"w":442,"h":1042},{"id":"977842924cf39fa7","type":"group","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["d1f20d7f73b140bd","7c76fb6829794d1c","c272a43096c794ac","4a6938f5d3ae6952","40a0a561e98fe31b","9fbbd8c16a7fa47f","c451503004f6934d","a095b7f9b4798977","fb97046a77ed97d3","9c10c5aba52a6b23","df9d6019f20f2b05","bd6dfe3e2087d5d9","7b052d28aafbef03","84bfc9f516f06fe2","fde3c9d46a0ae86a","5b82844f487a65de","9e1a66801dcd4f12","ead0b679730751a4","a1d7d85d10dddcb7","5a3698da44ab0351","b87126a3b4834edd","1e14caf27837033b","c30030035371ce32","5efb615e903e7f6e","68cb312c254058c0","0b2561a92e30176e","2bb9d91033ed47ce","ca543be11a8814c5","0c5847ab2cc8aa89","26ebf6a8ff938c6b","6c2e9eaf8fa171c9","986126bf266fdf8a","f887baeefaf1ba83","766bc0a34b5d5a1c","59193e0016a10925","08387875d1737f67"],"x":724,"y":611.5,"w":1082,"h":569.5},{"id":"b3112d643e06a109","type":"group","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["314e5a115f38393b","bba0e14cf3a58dc1","8d53354c3a9e01fd","fbea620cb0669c0f","659866f86a085111","98da117a3707feb3","73455654f4d8ef81","5ec2f62778e8f427","46d562383715f992","01b79c2a54e851dc","f7a69f5640ca1bf1","5d816b377278a7cd","c3b4f8e898c496b9","a9a33d975e8a3c24","354591b0e7c72aa1","e77a71e93abf3f5e","9dd81cbf15c358eb","7b45dc414089b0e1","61e719e245688fd9","05c7e7c39e1f3b47","9bedeca21fc435ca","408da170c3975f3e","c95040e6c56980d0","86e4eae9a765329d","1df0bf52a4705f79","0b126c6e5a950b4f","39defa0e88b453a0","73c6f11e27bfc47a"],"x":734,"y":94,"w":2152,"h":607},{"id":"3968496321b29949","type":"group","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["acb7fbdc59089a57","af312d42c3a19332","dd2ebf77e9a8cf6b"],"x":2884,"y":99,"w":842,"h":82},{"id":"e0c13ad423424a24","type":"group","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["db80e7aaec99b64a","df2e4ca5c072745b"],"x":1834,"y":619,"w":432,"h":82},{"id":"50a3534a86b0179e","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger1 - true","mode":"link","links":["81eb759a180761bc"],"x":505,"y":140,"wires":[]},{"id":"1b84d447a3c85831","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger2 - true","mode":"link","links":["81eb759a180761bc"],"x":505,"y":200,"wires":[]},{"id":"b43fbf72a0a373f0","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger3 - true","mode":"link","links":["81eb759a180761bc"],"x":505,"y":260,"wires":[]},{"id":"da838342526c3add","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger1 - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":320,"wires":[]},{"id":"43967f2a06a2fb15","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger2 - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":380,"wires":[]},{"id":"088eff3df9cdfb60","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger3 - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":440,"wires":[]},{"id":"15231c2ae902f4bd","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger1 long - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":500,"wires":[]},{"id":"dad3762b8ecd9dd0","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger2 long - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":560,"wires":[]},{"id":"2e9211e55887f95e","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger3 long - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":620,"wires":[]},{"id":"bd0fc79c1ec7029f","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger1 long extended - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":680,"wires":[]},{"id":"a4516371c6c63b96","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger2 long extended - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":740,"wires":[]},{"id":"f3a24f049facaa6f","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"Trigger3 long extended - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":800,"wires":[]},{"id":"c3bc51399062f3a8","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"TriggerN - true","mode":"link","links":["81eb759a180761bc"],"x":505,"y":860,"wires":[]},{"id":"5173c628d32c3b59","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":200,"y":140,"wires":[["50a3534a86b0179e"],[]]},{"id":"c9286edab882b1a0","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":200,"y":200,"wires":[["1b84d447a3c85831"],[]]},{"id":"ca0a9c401925fbb9","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":200,"y":260,"wires":[["b43fbf72a0a373f0"],[]]},{"id":"8d93f489f8af2bc3","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":210,"y":320,"wires":[["da838342526c3add"],[]]},{"id":"4afb3824caa3bb77","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":210,"y":380,"wires":[["43967f2a06a2fb15"],[]]},{"id":"157a5a34a5f05b99","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":210,"y":440,"wires":[["088eff3df9cdfb60"],[]]},{"id":"067236e4b1e89464","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":220,"y":500,"wires":[["15231c2ae902f4bd"],[]]},{"id":"43406ea0594beb49","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":220,"y":560,"wires":[["dad3762b8ecd9dd0"],[]]},{"id":"2ad97b8a1837246d","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":220,"y":620,"wires":[["2e9211e55887f95e"],[]]},{"id":"48904ba8d172b0e4","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":250,"y":680,"wires":[["bd0fc79c1ec7029f"],[]]},{"id":"e334784bf8d85dd7","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":250,"y":740,"wires":[["a4516371c6c63b96"],[]]},{"id":"1abfe16a87d53088","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":250,"y":800,"wires":[["f3a24f049facaa6f"],[]]},{"id":"3fcfa2f17bddb386","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":210,"y":860,"wires":[["c3bc51399062f3a8"],[]]},{"id":"d295680e4b200f95","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":200,"y":980,"wires":[["c0fcfdecc78c51ec"],[]]},{"id":"3667dbe0e0ce6ad1","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":210,"y":920,"wires":[["e99323b0d6422125"],[]]},{"id":"e99323b0d6422125","type":"link out","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"TriggerN - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":920,"wires":[]},{"id":"69a4976bbe110c55","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":210,"y":1040,"wires":[["aaf624b0517dfcbf"],[]]},{"id":"aaf624b0517dfcbf","type":"link out","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"TriggerA - false","mode":"link","links":["81eb759a180761bc"],"x":505,"y":1040,"wires":[]},{"id":"aa7264a5da3b5154","type":"server-state-changed","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":200,"y":1100,"wires":[["e50941e70ac2a277"]]},{"id":"e50941e70ac2a277","type":"link out","z":"f37de82b7d8e5814","g":"d31b0a8c05193384","name":"Licht-Gruppe","mode":"link","links":["81eb759a180761bc"],"x":505,"y":1100,"wires":[]},{"id":"d1f20d7f73b140bd","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1180,"y":660,"wires":[["a1d7d85d10dddcb7"],["5a3698da44ab0351"],["b87126a3b4834edd"]]},{"id":"7c76fb6829794d1c","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":840,"wires":[[]]},{"id":"c272a43096c794ac","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":780,"wires":[[]]},{"id":"4a6938f5d3ae6952","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":900,"wires":[[]]},{"id":"40a0a561e98fe31b","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Licht An/Aus","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":660,"wires":[]},{"id":"9fbbd8c16a7fa47f","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Dimmrichtung zurücksetzen","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":780,"wires":[]},{"id":"c451503004f6934d","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Automatische Dimmung","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":720,"wires":[]},{"id":"a095b7f9b4798977","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":840,"wires":[]},{"id":"fb97046a77ed97d3","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Dimmung heller","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":900,"wires":[]},{"id":"9c10c5aba52a6b23","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Dimmung dunkler","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":960,"wires":[]},{"id":"df9d6019f20f2b05","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Licht umschalten #1","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":1020,"wires":[]},{"id":"bd6dfe3e2087d5d9","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Licht umschalten #2","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":1080,"wires":[]},{"id":"7b052d28aafbef03","type":"link out","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Licht umschalten #3","mode":"link","links":["81eb759a180761bc"],"x":1765,"y":1140,"wires":[]},{"id":"84bfc9f516f06fe2","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":840,"wires":[["7c76fb6829794d1c"]]},{"id":"fde3c9d46a0ae86a","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":820,"y":780,"wires":[["c272a43096c794ac"]]},{"id":"5b82844f487a65de","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":720,"wires":[["08387875d1737f67"]]},{"id":"9e1a66801dcd4f12","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":660,"wires":[["d1f20d7f73b140bd"]]},{"id":"ead0b679730751a4","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":900,"wires":[["4a6938f5d3ae6952"]]},{"id":"a1d7d85d10dddcb7","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["40a0a561e98fe31b"]]},{"id":"5a3698da44ab0351","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":720,"wires":[["c451503004f6934d"]]},{"id":"b87126a3b4834edd","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":780,"wires":[["9fbbd8c16a7fa47f"]]},{"id":"1e14caf27837033b","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":840,"wires":[["a095b7f9b4798977"]]},{"id":"c30030035371ce32","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":900,"wires":[["fb97046a77ed97d3"]]},{"id":"5efb615e903e7f6e","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":960,"wires":[["9c10c5aba52a6b23"]]},{"id":"68cb312c254058c0","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1020,"wires":[["df9d6019f20f2b05"]]},{"id":"0b2561a92e30176e","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1080,"wires":[["bd6dfe3e2087d5d9"]]},{"id":"2bb9d91033ed47ce","type":"change","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1140,"wires":[["7b052d28aafbef03"]]},{"id":"ca543be11a8814c5","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":960,"wires":[[]]},{"id":"0c5847ab2cc8aa89","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":960,"wires":[["ca543be11a8814c5"]]},{"id":"26ebf6a8ff938c6b","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1020,"wires":[[]]},{"id":"6c2e9eaf8fa171c9","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1020,"wires":[["26ebf6a8ff938c6b"]]},{"id":"986126bf266fdf8a","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1080,"wires":[[]]},{"id":"f887baeefaf1ba83","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1080,"wires":[["986126bf266fdf8a"]]},{"id":"766bc0a34b5d5a1c","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1140,"wires":[[]]},{"id":"59193e0016a10925","type":"server-state-changed","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1140,"wires":[["766bc0a34b5d5a1c"]]},{"id":"314e5a115f38393b","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"314e5a115f38393b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1370,"y":140,"wires":[["0b126c6e5a950b4f"],["bba0e14cf3a58dc1","39defa0e88b453a0"]]},{"id":"bba0e14cf3a58dc1","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":3000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"bba0e14cf3a58dc1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1890,"y":140,"wires":[["0b126c6e5a950b4f"],["8d53354c3a9e01fd","39defa0e88b453a0"]]},{"id":"8d53354c3a9e01fd","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"8d53354c3a9e01fd\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2410,"y":140,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"fbea620cb0669c0f","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"fbea620cb0669c0f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1360,"y":200,"wires":[["0b126c6e5a950b4f"],["659866f86a085111","39defa0e88b453a0"]]},{"id":"659866f86a085111","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"659866f86a085111\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1860,"y":200,"wires":[["0b126c6e5a950b4f"],["98da117a3707feb3","39defa0e88b453a0"]]},{"id":"98da117a3707feb3","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"98da117a3707feb3\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2380,"y":200,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"73455654f4d8ef81","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"73455654f4d8ef81\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1380,"y":380,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"5ec2f62778e8f427","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"5ec2f62778e8f427\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1920,"y":380,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"46d562383715f992","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"46d562383715f992\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2460,"y":380,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"01b79c2a54e851dc","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"01b79c2a54e851dc\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1370,"y":320,"wires":[["0b126c6e5a950b4f"],["f7a69f5640ca1bf1","39defa0e88b453a0"]]},{"id":"f7a69f5640ca1bf1","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":50,\"color_temp_kelvin\":2000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"f7a69f5640ca1bf1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1890,"y":320,"wires":[["0b126c6e5a950b4f"],["5d816b377278a7cd","39defa0e88b453a0"]]},{"id":"5d816b377278a7cd","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"5d816b377278a7cd\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2410,"y":320,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"c3b4f8e898c496b9","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"c3b4f8e898c496b9\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1370,"y":260,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"a9a33d975e8a3c24","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"a9a33d975e8a3c24\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1890,"y":260,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"354591b0e7c72aa1","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"354591b0e7c72aa1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2410,"y":260,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"e77a71e93abf3f5e","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"e77a71e93abf3f5e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1380,"y":500,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"9dd81cbf15c358eb","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"9dd81cbf15c358eb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1920,"y":500,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"7b45dc414089b0e1","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"7b45dc414089b0e1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2460,"y":500,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"61e719e245688fd9","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"61e719e245688fd9\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1350,"y":560,"wires":[["0b126c6e5a950b4f"],["c95040e6c56980d0","39defa0e88b453a0"]]},{"id":"05c7e7c39e1f3b47","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"05c7e7c39e1f3b47\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1380,"y":440,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"9bedeca21fc435ca","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"9bedeca21fc435ca\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1920,"y":440,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"408da170c3975f3e","type":"subflow:235e206401c6aa25","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Wohnzimmer\",\"room\":\"wohnzimmer\",\"nodeId\":\"408da170c3975f3e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"wohnzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2460,"y":440,"wires":[["0b126c6e5a950b4f"],["39defa0e88b453a0"]]},{"id":"c95040e6c56980d0","type":"link out","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["81eb759a180761bc"],"x":1665,"y":560,"wires":[]},{"id":"86e4eae9a765329d","type":"switch","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":980,"y":180,"wires":[["314e5a115f38393b"],["fbea620cb0669c0f"],["c3b4f8e898c496b9"],["01b79c2a54e851dc"],["73455654f4d8ef81"],["05c7e7c39e1f3b47"],["e77a71e93abf3f5e"],["61e719e245688fd9"],["0b126c6e5a950b4f"]]},{"id":"1df0bf52a4705f79","type":"link in","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Verteiler-In","links":["6217ccea29b5e79e"],"x":775,"y":180,"wires":[["86e4eae9a765329d"]]},{"id":"acb7fbdc59089a57","type":"change","z":"f37de82b7d8e5814","g":"3968496321b29949","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_wohnzimmer","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_wohnzimmer_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_wohnzimmer_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_wohnzimmer_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_wohnzimmer_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_wohnzimmer_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_wohnzimmer_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_wohnzimmer_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_wohnzimmer_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":140,"wires":[["dd2ebf77e9a8cf6b"]]},{"id":"af312d42c3a19332","type":"server-state-changed","z":"f37de82b7d8e5814","g":"3968496321b29949","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3080,"y":140,"wires":[["acb7fbdc59089a57"],[]]},{"id":"dd2ebf77e9a8cf6b","type":"link out","z":"f37de82b7d8e5814","g":"3968496321b29949","name":"Initialisierung","mode":"link","links":["81eb759a180761bc"],"x":3685,"y":140,"wires":[]},{"id":"c0fcfdecc78c51ec","type":"link out","z":"f37de82b7d8e5814","g":"6a6b81f5a8d3deb3","name":"TriggerA - true","mode":"link","links":["81eb759a180761bc"],"x":505,"y":980,"wires":[]},{"id":"db80e7aaec99b64a","type":"server-state-changed","z":"f37de82b7d8e5814","g":"e0c13ad423424a24","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["df2e4ca5c072745b"]]},{"id":"df2e4ca5c072745b","type":"switch","z":"f37de82b7d8e5814","g":"e0c13ad423424a24","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"8f8abb7f830353d9","type":"subflow:d5c060879184b636","z":"f37de82b7d8e5814","g":"81c79eca21ce38ee","name":"","x":400,"y":1320,"wires":[["6217ccea29b5e79e"]]},{"id":"81eb759a180761bc","type":"link in","z":"f37de82b7d8e5814","g":"81c79eca21ce38ee","name":"Verteiler-Out Connect","links":["bd6dfe3e2087d5d9","40a0a561e98fe31b","7b052d28aafbef03","bd0fc79c1ec7029f","43967f2a06a2fb15","da838342526c3add","e99323b0d6422125","15231c2ae902f4bd","dad3762b8ecd9dd0","dd2ebf77e9a8cf6b","c451503004f6934d","088eff3df9cdfb60","9fbbd8c16a7fa47f","9c10c5aba52a6b23","c0fcfdecc78c51ec","1b84d447a3c85831","2e9211e55887f95e","a095b7f9b4798977","50a3534a86b0179e","df9d6019f20f2b05","c3bc51399062f3a8","e50941e70ac2a277","c95040e6c56980d0","a4516371c6c63b96","fb97046a77ed97d3","aaf624b0517dfcbf","f3a24f049facaa6f","b43fbf72a0a373f0"],"x":125,"y":1320,"wires":[["8f8abb7f830353d9"]]},{"id":"6217ccea29b5e79e","type":"link out","z":"f37de82b7d8e5814","g":"81c79eca21ce38ee","name":"Verteiler-In","mode":"link","links":["1df0bf52a4705f79"],"x":675,"y":1320,"wires":[]},{"id":"08387875d1737f67","type":"switch","z":"f37de82b7d8e5814","g":"977842924cf39fa7","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1180,"y":720,"wires":[["a1d7d85d10dddcb7"],["5a3698da44ab0351"],["b87126a3b4834edd"]]},{"id":"681feeafa907b797","type":"catch","z":"f37de82b7d8e5814","g":"c681a6a2ba902f27","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["f541f40b00445704","9fc4c7ccdb17e00f"]]},{"id":"f541f40b00445704","type":"debug","z":"f37de82b7d8e5814","g":"c681a6a2ba902f27","name":"LI - Wohnzimmer Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1460,"wires":[]},{"id":"9fc4c7ccdb17e00f","type":"function","z":"f37de82b7d8e5814","g":"c681a6a2ba902f27","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - Wohnzimmer',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - Wohnzimmer Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["7a60057dda6051b8"]]},{"id":"7a60057dda6051b8","type":"link out","z":"f37de82b7d8e5814","g":"c681a6a2ba902f27","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":600,"y":1460,"wires":[]},{"id":"0b126c6e5a950b4f","type":"link out","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2660,"y":560,"wires":[]},{"id":"39defa0e88b453a0","type":"function","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - Wohnzimmer',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":620,"wires":[["73c6f11e27bfc47a"]]},{"id":"73c6f11e27bfc47a","type":"link out","z":"f37de82b7d8e5814","g":"b3112d643e06a109","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2660,"y":620,"wires":[]}],"configs":[]}
