.codex-build/li_batch4_final_20260515.flow.json
{"id":"078c32fccf075534","label":"LI - 33a Technikraum","disabled":false,"info":"","env":[],"nodes":[{"id":"6922a7d0743e8da1","type":"group","z":"078c32fccf075534","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["3a0da9d7f303d24e","4936e8a151333bd6","a0be6a201f9078ba","0416aad0ab2851a0","01821d5131ea38f8","0880b8ac5c404110","f44aaf60e9cb2c6d","81f3103564e0120e","7281c93e1aee4482","dc18b28b9e92574a","beb29f255714a46e","d86a05d3673bacaa","9f6c2c876e0e18a9","6dc4914f03d14117","f979e85fa5979407","cbeb3f9799c9d8b3","f3e10ccffce78672","050384ff5604b9d9","970b9e34348aee6b"],"x":68,"y":68,"w":4884,"h":1139},{"id":"651efb4793e8efec","type":"group","z":"078c32fccf075534","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["2a99eb3f837f0649","da8e0ad835d7c6ca","26e5d6d3d6acdf2f"],"x":64,"y":1279,"w":632,"h":82},{"id":"97f48cb5b75a6f2f","type":"group","z":"078c32fccf075534","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["f61736483f618081","065a68b02ab62bee","c13dee76b4ffd1e1","a0aaa81d0dff9ead"],"x":74,"y":1419,"w":700,"h":82},{"id":"6dc4914f03d14117","type":"group","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["ba199cdae19df8cd","c61b747e89475464","fe726ecd5bb2e419","829fc54d15c5c3a1","68d9d91abf9b16ed","3d383a917b668a05","0e4a1493bce82098","948a7903d97f67dc","8504b22690f15c52","a486d70c187c5ef5","1e85b2aadb569995","eeed3809020e9f59","a206218247ec0168","bbd1838369d42b5f","bad58adb53cb2538","5302498e0ac0d534","07f606e6089874f6","b869939a8c6928c0","53e573b7781b852b","f8d6943d4085ab37"],"x":94,"y":99,"w":442,"h":1042},{"id":"f979e85fa5979407","type":"group","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["d9396de4120f1a5a","d82a9290218b04ef","16558e7d63fcba20","a508ed5f09abc692","a9f78e5bb90ac218","ffc66f4265604976","9f0f9fc9afb07c12","3542b064cb8620e4","e338efe91bc10f50","7816ba3d40b3bfa8","8c93dc62b0b755b2","36ade17294c4903e","fdddd00a81743835","34e5fa2d3917f953","61ac717836b30e52","1412870c8c0b68cd","482575a6cd8e3302","fe0d6a7dee2cfa2d","2a0bb1176ed8ac0b","720e8eb9a0e4bd4b","c017f8acd8bb549e","d6646ab15ec782d7","6cac71fad9c41279","4140df667277ab9e","d743d50aa37401c2","1561a1ca921602c7","9fec572651510b62","21adc519a8925765","59b8fa873f751098","b6412543b889954e","ad50ac29adc3c616","e4bc46fa6e817a64","91bc196470122cb7","b8508c4cbe21fb71","75657f09c89af430","4bd99485388ff970"],"x":714,"y":619,"w":1082,"h":562},{"id":"cbeb3f9799c9d8b3","type":"group","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["d6b52b7878f51119","f82b498990adfdf3","0f808e92476a7bc4","df96609808a4f6ad","71bf548349d1f7f6","c3e7aec2f82e7170","b57b4595a95272af","0461c71dd613d938","351bbac1d20e50f4","0334f59e68255f34","1b1c6f54d21f16ea","5a12a30bc4a959bb","675f3231dd05dab9","41c04c1756e6f484","fb90b0b09d59f212","27945f8d4377e38f","2f8cb1519bf01dfe","a5ea9eb3a5d89666","ac17bffeb0b9c415","ee9819b4fd576f86","75e73e1f70b00b14","3f575ad3aae34fb2","b5a591d1370c966a","b1070477397551d6","58f68b80b75a5468","81861ccbee0dd491","817079c0dbfb951f","332b13edaf67f9e7"],"x":724,"y":94,"w":2152,"h":607},{"id":"f3e10ccffce78672","type":"group","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["242290f37f642a85","9544b39a844bc1b8","798551228cd1ff14"],"x":2874,"y":99,"w":842,"h":82},{"id":"970b9e34348aee6b","type":"group","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["5ebc5648abbe802d","a9af87e3703995bb","64748dce3aed0366","e6821001f35d5daf","ecdca2307c84fa08","b7414b8b5f700d1c","fba9215b9c68010b"],"x":1824,"y":619,"w":3102,"h":82},{"id":"3a0da9d7f303d24e","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger1 - true","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":140,"wires":[]},{"id":"4936e8a151333bd6","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger2 - true","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":200,"wires":[]},{"id":"a0be6a201f9078ba","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger3 - true","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":260,"wires":[]},{"id":"0416aad0ab2851a0","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger1 - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":320,"wires":[]},{"id":"01821d5131ea38f8","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger2 - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":380,"wires":[]},{"id":"0880b8ac5c404110","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger3 - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":440,"wires":[]},{"id":"f44aaf60e9cb2c6d","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger1 long - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":500,"wires":[]},{"id":"81f3103564e0120e","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger2 long - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":560,"wires":[]},{"id":"7281c93e1aee4482","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger3 long - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":620,"wires":[]},{"id":"dc18b28b9e92574a","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger1 long extended - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":680,"wires":[]},{"id":"beb29f255714a46e","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger2 long extended - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":740,"wires":[]},{"id":"d86a05d3673bacaa","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"Trigger3 long extended - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":800,"wires":[]},{"id":"9f6c2c876e0e18a9","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"TriggerN - true","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":860,"wires":[]},{"id":"ba199cdae19df8cd","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_technikraum_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":190,"y":140,"wires":[["3a0da9d7f303d24e"],[]]},{"id":"c61b747e89475464","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":190,"y":200,"wires":[["4936e8a151333bd6"],[]]},{"id":"fe726ecd5bb2e419","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":190,"y":260,"wires":[["a0be6a201f9078ba"],[]]},{"id":"829fc54d15c5c3a1","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_technikraum_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":200,"y":320,"wires":[["0416aad0ab2851a0"],[]]},{"id":"68d9d91abf9b16ed","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":200,"y":380,"wires":[["01821d5131ea38f8"],[]]},{"id":"3d383a917b668a05","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":200,"y":440,"wires":[["0880b8ac5c404110"],[]]},{"id":"0e4a1493bce82098","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_technikraum"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":210,"y":500,"wires":[["f44aaf60e9cb2c6d"],[]]},{"id":"948a7903d97f67dc","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":210,"y":560,"wires":[["81f3103564e0120e"],[]]},{"id":"8504b22690f15c52","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":210,"y":620,"wires":[["7281c93e1aee4482"],[]]},{"id":"a486d70c187c5ef5","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_technikraum"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":240,"y":680,"wires":[["dc18b28b9e92574a"],[]]},{"id":"1e85b2aadb569995","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":240,"y":740,"wires":[["beb29f255714a46e"],[]]},{"id":"eeed3809020e9f59","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":240,"y":800,"wires":[["d86a05d3673bacaa"],[]]},{"id":"a206218247ec0168","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":200,"y":860,"wires":[["9f6c2c876e0e18a9"],[]]},{"id":"bbd1838369d42b5f","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":190,"y":980,"wires":[["050384ff5604b9d9"],[]]},{"id":"bad58adb53cb2538","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":200,"y":920,"wires":[["5302498e0ac0d534"],[]]},{"id":"5302498e0ac0d534","type":"link out","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"TriggerN - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":920,"wires":[]},{"id":"07f606e6089874f6","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":200,"y":1040,"wires":[["b869939a8c6928c0"],[]]},{"id":"b869939a8c6928c0","type":"link out","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"TriggerA - false","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":1040,"wires":[]},{"id":"53e573b7781b852b","type":"server-state-changed","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_technikraum"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":190,"y":1100,"wires":[["f8d6943d4085ab37"]]},{"id":"f8d6943d4085ab37","type":"link out","z":"078c32fccf075534","g":"6dc4914f03d14117","name":"Licht-Gruppe","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":1100,"wires":[]},{"id":"d9396de4120f1a5a","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"press","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"press","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":660,"wires":[["720e8eb9a0e4bd4b"]]},{"id":"d82a9290218b04ef","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"press","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"press","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":720,"wires":[["4140df667277ab9e"]]},{"id":"16558e7d63fcba20","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"a508ed5f09abc692","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"press","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"press","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":780,"wires":[["d743d50aa37401c2"]]},{"id":"a9f78e5bb90ac218","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":900,"wires":[[]]},{"id":"ffc66f4265604976","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Licht An/Aus","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":660,"wires":[]},{"id":"9f0f9fc9afb07c12","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Dimmrichtung zurücksetzen","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":780,"wires":[]},{"id":"3542b064cb8620e4","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Automatische Dimmung","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":720,"wires":[]},{"id":"e338efe91bc10f50","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":840,"wires":[]},{"id":"7816ba3d40b3bfa8","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Dimmung heller","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":900,"wires":[]},{"id":"8c93dc62b0b755b2","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Dimmung dunkler","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":960,"wires":[]},{"id":"36ade17294c4903e","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Licht umschalten #1","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":1020,"wires":[]},{"id":"fdddd00a81743835","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Licht umschalten #2","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":1080,"wires":[]},{"id":"34e5fa2d3917f953","type":"link out","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Licht umschalten #3","mode":"link","links":["da8e0ad835d7c6ca"],"x":1755,"y":1140,"wires":[]},{"id":"61ac717836b30e52","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":840,"wires":[["16558e7d63fcba20"]]},{"id":"1412870c8c0b68cd","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["event.lichtschalter_technikraum_button_4"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":780,"wires":[["a508ed5f09abc692"]]},{"id":"482575a6cd8e3302","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["event.lichtschalter_technikraum_button_3"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":720,"wires":[["d82a9290218b04ef"]]},{"id":"fe0d6a7dee2cfa2d","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["event.lichtschalter_technikraum_button_1"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":660,"wires":[["d9396de4120f1a5a"]]},{"id":"2a0bb1176ed8ac0b","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":900,"wires":[["a9f78e5bb90ac218"]]},{"id":"720e8eb9a0e4bd4b","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":660,"wires":[["ffc66f4265604976"]]},{"id":"c017f8acd8bb549e","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":720,"wires":[["3542b064cb8620e4"]]},{"id":"d6646ab15ec782d7","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":780,"wires":[["9f0f9fc9afb07c12"]]},{"id":"6cac71fad9c41279","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":840,"wires":[["e338efe91bc10f50"]]},{"id":"4140df667277ab9e","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":900,"wires":[["7816ba3d40b3bfa8"]]},{"id":"d743d50aa37401c2","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["8c93dc62b0b755b2"]]},{"id":"1561a1ca921602c7","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1020,"wires":[["36ade17294c4903e"]]},{"id":"9fec572651510b62","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["fdddd00a81743835"]]},{"id":"21adc519a8925765","type":"change","z":"078c32fccf075534","g":"f979e85fa5979407","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1140,"wires":[["34e5fa2d3917f953"]]},{"id":"59b8fa873f751098","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":960,"wires":[[]]},{"id":"b6412543b889954e","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":960,"wires":[["59b8fa873f751098"]]},{"id":"ad50ac29adc3c616","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1020,"wires":[[]]},{"id":"e4bc46fa6e817a64","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1020,"wires":[["ad50ac29adc3c616"]]},{"id":"91bc196470122cb7","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1080,"wires":[[]]},{"id":"b8508c4cbe21fb71","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1080,"wires":[["91bc196470122cb7"]]},{"id":"75657f09c89af430","type":"switch","z":"078c32fccf075534","g":"f979e85fa5979407","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1140,"wires":[[]]},{"id":"4bd99485388ff970","type":"server-state-changed","z":"078c32fccf075534","g":"f979e85fa5979407","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1140,"wires":[["75657f09c89af430"]]},{"id":"d6b52b7878f51119","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"d6b52b7878f51119\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1360,"y":140,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"f82b498990adfdf3","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"f82b498990adfdf3\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1880,"y":140,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"0f808e92476a7bc4","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"0f808e92476a7bc4\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2400,"y":140,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"df96609808a4f6ad","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"df96609808a4f6ad\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1350,"y":200,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"71bf548349d1f7f6","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"71bf548349d1f7f6\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1850,"y":200,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"c3e7aec2f82e7170","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"c3e7aec2f82e7170\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2370,"y":200,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"b57b4595a95272af","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"b57b4595a95272af\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1370,"y":380,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"0461c71dd613d938","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"0461c71dd613d938\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1910,"y":380,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"351bbac1d20e50f4","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"351bbac1d20e50f4\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2450,"y":380,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"0334f59e68255f34","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"0334f59e68255f34\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1360,"y":320,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"1b1c6f54d21f16ea","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"1b1c6f54d21f16ea\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1880,"y":320,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"5a12a30bc4a959bb","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"5a12a30bc4a959bb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2400,"y":320,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"675f3231dd05dab9","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"675f3231dd05dab9\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1360,"y":260,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"41c04c1756e6f484","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"41c04c1756e6f484\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1880,"y":260,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"fb90b0b09d59f212","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"fb90b0b09d59f212\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2400,"y":260,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"27945f8d4377e38f","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"27945f8d4377e38f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1370,"y":500,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"2f8cb1519bf01dfe","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"2f8cb1519bf01dfe\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1910,"y":500,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"a5ea9eb3a5d89666","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"a5ea9eb3a5d89666\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2450,"y":500,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"ac17bffeb0b9c415","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"ac17bffeb0b9c415\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1340,"y":560,"wires":[["81861ccbee0dd491"],["b5a591d1370c966a","817079c0dbfb951f"]]},{"id":"ee9819b4fd576f86","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"ee9819b4fd576f86\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1370,"y":440,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"75e73e1f70b00b14","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"75e73e1f70b00b14\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1910,"y":440,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"3f575ad3aae34fb2","type":"subflow:235e206401c6aa25","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33a Technikraum\",\"room\":\"technikraum\",\"nodeId\":\"3f575ad3aae34fb2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"technikraum","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2450,"y":440,"wires":[["81861ccbee0dd491"],["817079c0dbfb951f"]]},{"id":"b5a591d1370c966a","type":"link out","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["da8e0ad835d7c6ca"],"x":1655,"y":560,"wires":[]},{"id":"b1070477397551d6","type":"switch","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":970,"y":180,"wires":[["d6b52b7878f51119"],["df96609808a4f6ad"],["675f3231dd05dab9"],["0334f59e68255f34"],["b57b4595a95272af"],["ee9819b4fd576f86"],["27945f8d4377e38f"],["ac17bffeb0b9c415"],["81861ccbee0dd491"]]},{"id":"58f68b80b75a5468","type":"link in","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Verteiler-In","links":["26e5d6d3d6acdf2f"],"x":765,"y":180,"wires":[["b1070477397551d6"]]},{"id":"242290f37f642a85","type":"change","z":"078c32fccf075534","g":"f3e10ccffce78672","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_technikraum","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_technikraum_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_technikraum_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_technikraum_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_technikraum_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_technikraum_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_technikraum_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_technikraum_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_technikraum_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_technikraum_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_technikraum_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.deckenleuchte_33a_technikraum_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_technikraum","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"light.licht_gruppe_technikraum","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_technikraum","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3450,"y":140,"wires":[["798551228cd1ff14"]]},{"id":"9544b39a844bc1b8","type":"server-state-changed","z":"078c32fccf075534","g":"f3e10ccffce78672","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3070,"y":140,"wires":[["242290f37f642a85"],[]]},{"id":"798551228cd1ff14","type":"link out","z":"078c32fccf075534","g":"f3e10ccffce78672","name":"Initialisierung","mode":"link","links":["da8e0ad835d7c6ca"],"x":3675,"y":140,"wires":[]},{"id":"050384ff5604b9d9","type":"link out","z":"078c32fccf075534","g":"6922a7d0743e8da1","name":"TriggerA - true","mode":"link","links":["da8e0ad835d7c6ca"],"x":495,"y":980,"wires":[]},{"id":"5ebc5648abbe802d","type":"server-state-changed","z":"078c32fccf075534","g":"970b9e34348aee6b","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["event.lichtschalter_technikraum_button_2"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1930,"y":660,"wires":[["a9af87e3703995bb"]]},{"id":"a9af87e3703995bb","type":"switch","z":"078c32fccf075534","g":"970b9e34348aee6b","name":"press","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"press","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2180,"y":660,"wires":[["ecdca2307c84fa08"]]},{"id":"2a99eb3f837f0649","type":"subflow:d5c060879184b636","z":"078c32fccf075534","g":"651efb4793e8efec","name":"","x":380,"y":1320,"wires":[["26e5d6d3d6acdf2f"]]},{"id":"da8e0ad835d7c6ca","type":"link in","z":"078c32fccf075534","g":"651efb4793e8efec","name":"Verteiler-Out Connect","links":["fdddd00a81743835","ffc66f4265604976","34e5fa2d3917f953","dc18b28b9e92574a","01821d5131ea38f8","0416aad0ab2851a0","5302498e0ac0d534","f44aaf60e9cb2c6d","81f3103564e0120e","798551228cd1ff14","3542b064cb8620e4","0880b8ac5c404110","9f0f9fc9afb07c12","8c93dc62b0b755b2","050384ff5604b9d9","4936e8a151333bd6","7281c93e1aee4482","e338efe91bc10f50","3a0da9d7f303d24e","36ade17294c4903e","9f6c2c876e0e18a9","f8d6943d4085ab37","b5a591d1370c966a","beb29f255714a46e","7816ba3d40b3bfa8","b869939a8c6928c0","d86a05d3673bacaa","a0be6a201f9078ba"],"x":105,"y":1320,"wires":[["2a99eb3f837f0649"]]},{"id":"26e5d6d3d6acdf2f","type":"link out","z":"078c32fccf075534","g":"651efb4793e8efec","name":"Verteiler-In","mode":"link","links":["58f68b80b75a5468"],"x":655,"y":1320,"wires":[]},{"id":"64748dce3aed0366","type":"api-call-service","z":"078c32fccf075534","g":"970b9e34348aee6b","name":"Licht - Automatisierung Technikraum Lichtanforderung auf Aus setzen","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.licht_automatisierung_technikraum_lichtanforderung"],"labelId":[],"data":"{\t    \"option\":\"Aus\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_select","service":"select_option","x":3170,"y":660,"wires":[["e6821001f35d5daf"]]},{"id":"e6821001f35d5daf","type":"delay","z":"078c32fccf075534","g":"970b9e34348aee6b","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3630,"y":660,"wires":[["fba9215b9c68010b"]]},{"id":"ecdca2307c84fa08","type":"api-current-state","z":"078c32fccf075534","g":"970b9e34348aee6b","name":"Licht - Automatisierung Technikraum Lichtanforderung auslesen","server":"86f0795d.48a3f8","version":3,"outputs":2,"halt_if":"Aus","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.licht_automatisierung_technikraum_lichtanforderung","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"lichtanforderung","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2570,"y":660,"wires":[["64748dce3aed0366"],[]]},{"id":"b7414b8b5f700d1c","type":"api-call-service","z":"078c32fccf075534","g":"970b9e34348aee6b","name":"Licht - Automatisierung Technikraum Lichtanforderung auf X setzen","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.licht_automatisierung_technikraum_lichtanforderung"],"labelId":[],"data":"{\t    \"option\":msg.lichtanforderung\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_select","service":"select_option","x":4660,"y":660,"wires":[[]]},{"id":"fba9215b9c68010b","type":"api-current-state","z":"078c32fccf075534","g":"970b9e34348aee6b","name":"Licht - Automatisierung Technikraum Lichtanforderung auslesen","server":"86f0795d.48a3f8","version":3,"outputs":2,"halt_if":"Aus","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.licht_automatisierung_technikraum_lichtanforderung","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":4070,"y":660,"wires":[["b7414b8b5f700d1c"],[]]},{"id":"f61736483f618081","type":"catch","z":"078c32fccf075534","g":"97f48cb5b75a6f2f","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["065a68b02ab62bee","c13dee76b4ffd1e1"]]},{"id":"065a68b02ab62bee","type":"debug","z":"078c32fccf075534","g":"97f48cb5b75a6f2f","name":"LI - 33a Technikraum Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1460,"wires":[]},{"id":"c13dee76b4ffd1e1","type":"function","z":"078c32fccf075534","g":"97f48cb5b75a6f2f","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33a Technikraum',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33a Technikraum Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["a0aaa81d0dff9ead"]]},{"id":"a0aaa81d0dff9ead","type":"link out","z":"078c32fccf075534","g":"97f48cb5b75a6f2f","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":610,"y":1460,"wires":[]},{"id":"81861ccbee0dd491","type":"link out","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2650,"y":560,"wires":[]},{"id":"817079c0dbfb951f","type":"function","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33a Technikraum',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":620,"wires":[["332b13edaf67f9e7"]]},{"id":"332b13edaf67f9e7","type":"link out","z":"078c32fccf075534","g":"cbeb3f9799c9d8b3","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2650,"y":620,"wires":[]}],"configs":[]}
