.codex-build/li_batch4_step04_bad_eg_20260515.flow.json
{"id":"2945b6b8ea13b376","label":"LI - 33 Badezimmer EG","disabled":false,"info":"","env":[],"nodes":[{"id":"27a3178b59a905d5","type":"group","z":"2945b6b8ea13b376","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["ae70a1d315f419a6","9e4edb6304aba8ce","fab63a4f6869f5cb","496c7a608f15893e","3d3ee495ab4c8ed1","765948e3313fb1df","52afb0737ad2dee8","536b45d032c2377c","a087afdf81114b88","3640a3c0dbf877ee","e69c3cb2876e9220","efb7e30efa9e1b70","d519233af5c2a627","6c418414a53d3e0e","87f92e95c4e21fc7","a218a9c7ced54b57","af615c8f7a286bbe","999608a3591daaea","7fc610491019fc56"],"x":68,"y":68,"w":3674,"h":1139},{"id":"198dfb3ace48dc6a","type":"group","z":"2945b6b8ea13b376","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["96ee63fd5024110b","4c08e055322044b8","035a1278e9a26b7d"],"x":74,"y":1259,"w":632,"h":82},{"id":"67ec3be1d39ba7fe","type":"group","z":"2945b6b8ea13b376","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["3f017a02ba2cbaff","d9e54cbbdca9f689","4b57bee701fccc48","628b4794e16ec66c"],"x":74,"y":1399,"w":700,"h":82},{"id":"6c418414a53d3e0e","type":"group","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["88e91227f592d272","17a554c3a7c3da2b","c195a37c53b00a0c","d5d913a0f0234b97","c17eeed74d5ae74e","2bef628b1dee5ee4","a3e4a5f79a97c5f0","b4859ceb3044160d","6261e1a0af1028ec","ed14fa78ab57b4b5","105a10accc18f368","1cbff8305fa9a936","49a7d3afb6b3594f","c2c28d1d62c0422f","3e6158c78b1d3bb8","4d370e3f96372532","b041ea3f7146b313","eb99340b7c77290f","d89e9e1faa9816e0","dde515b3dd611ad3"],"x":94,"y":99,"w":442,"h":1042},{"id":"87f92e95c4e21fc7","type":"group","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["b77cd61f841e010a","341d1b7f34a083fc","ad46d11f5472be29","78611d16042bd112","100ef6f2a51124a6","2b6d00bf8b1e66f2","836ced2c30955225","727abeead57ba84b","ad16f80c637e08c2","e845a9814cc24bed","92daac164f1894b4","c8a85faf9f133520","22a627c3ad98e349","32c35883024e3df0","14184a80cff05f9b","bad2d7b8ec331ddf","228c6154853318c1","f33fac52c513c366","a5bea69625222592","107e3c866c5e2e17","693fe620cfb885f2","20f9d5ae6d24175c","4533f9c4b34e6ce5","8ce54aadc5b48a01","cb6bc728269cc07e","63de80cbc2838d66","9f3c47133c6e3ae7","eb792c1eb0d4932b","589ed33fb770948f","8817a212038756b8","35da55eed5cd9b09","798aab2abf91f6b6","7de9e52fdc7b23d1","38f7ec59d56add02","d8aa1bab6cee58bb","b3fae1cd1f3e5bf3"],"x":714,"y":611.5,"w":1082,"h":569.5},{"id":"a218a9c7ced54b57","type":"group","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["7038c2f457550a44","908bb63f195a3cb6","80ba111e3bc5b28b","d618b681ed5d63e8","60bf41d083256ddd","cc68ba417f21f831","d861ec1ffe1e4d80","5e231a548596728d","ad9b3e395de96231","02f8daf844cbf502","6cddcb48561a9b4c","7b98708c278b7564","111e59587ca2234b","9276f8067e14d372","8e782bb34aea2884","7405665988413141","55e61a3fd7e26ec0","d17687a54d01aa24","dca7c43918d8b954","c8f5902d3e5a0614","e449c96feccf0666","7789a953dc1dd2a2","e597daa153303b07","7d823f3f12fcfe91","5f8b7181988856ef","daf5b89416907340","15e9ef0507bbebb1","f730d77922b82165"],"x":724,"y":94,"w":2152,"h":607},{"id":"af615c8f7a286bbe","type":"group","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["11e89bb8dbe7b137","0e045e83aba83832","6de4b6df9c420e80"],"x":2874,"y":99,"w":842,"h":82},{"id":"7fc610491019fc56","type":"group","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["afe63af1dae0eb14","801fecc760f11b32"],"x":1814,"y":619,"w":432,"h":82},{"id":"88e91227f592d272","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_badezimmer_eg_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":190,"y":140,"wires":[["ae70a1d315f419a6"],[]]},{"id":"17a554c3a7c3da2b","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":190,"y":200,"wires":[["9e4edb6304aba8ce"],[]]},{"id":"c195a37c53b00a0c","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":190,"y":260,"wires":[["fab63a4f6869f5cb"],[]]},{"id":"ae70a1d315f419a6","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger1 - true","mode":"link","links":["4c08e055322044b8"],"x":495,"y":140,"wires":[]},{"id":"9e4edb6304aba8ce","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger2 - true","mode":"link","links":["4c08e055322044b8"],"x":495,"y":200,"wires":[]},{"id":"fab63a4f6869f5cb","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger3 - true","mode":"link","links":["4c08e055322044b8"],"x":495,"y":260,"wires":[]},{"id":"496c7a608f15893e","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger1 - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":320,"wires":[]},{"id":"3d3ee495ab4c8ed1","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger2 - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":380,"wires":[]},{"id":"765948e3313fb1df","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger3 - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":440,"wires":[]},{"id":"52afb0737ad2dee8","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger1 long - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":500,"wires":[]},{"id":"536b45d032c2377c","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger2 long - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":560,"wires":[]},{"id":"a087afdf81114b88","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger3 long - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":620,"wires":[]},{"id":"3640a3c0dbf877ee","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger1 long extended - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":680,"wires":[]},{"id":"e69c3cb2876e9220","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger2 long extended - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":740,"wires":[]},{"id":"efb7e30efa9e1b70","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"Trigger3 long extended - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":800,"wires":[]},{"id":"d519233af5c2a627","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"TriggerN - true","mode":"link","links":["4c08e055322044b8"],"x":495,"y":860,"wires":[]},{"id":"d5d913a0f0234b97","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_badezimmer_eg_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":200,"y":320,"wires":[["496c7a608f15893e"],[]]},{"id":"c17eeed74d5ae74e","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":200,"y":380,"wires":[["3d3ee495ab4c8ed1"],[]]},{"id":"2bef628b1dee5ee4","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":200,"y":440,"wires":[["765948e3313fb1df"],[]]},{"id":"a3e4a5f79a97c5f0","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_badezimmer_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":210,"y":500,"wires":[["52afb0737ad2dee8"],[]]},{"id":"b4859ceb3044160d","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":210,"y":560,"wires":[["536b45d032c2377c"],[]]},{"id":"6261e1a0af1028ec","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":210,"y":620,"wires":[["a087afdf81114b88"],[]]},{"id":"ed14fa78ab57b4b5","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_badezimmer_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":240,"y":680,"wires":[["3640a3c0dbf877ee"],[]]},{"id":"105a10accc18f368","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":240,"y":740,"wires":[["e69c3cb2876e9220"],[]]},{"id":"1cbff8305fa9a936","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":240,"y":800,"wires":[["efb7e30efa9e1b70"],[]]},{"id":"49a7d3afb6b3594f","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":200,"y":860,"wires":[["d519233af5c2a627"],[]]},{"id":"b77cd61f841e010a","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1170,"y":660,"wires":[["107e3c866c5e2e17"],["693fe620cfb885f2"],["20f9d5ae6d24175c"]]},{"id":"836ced2c30955225","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Dimmrichtung zurücksetzen","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":780,"wires":[]},{"id":"727abeead57ba84b","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Automatische Dimmung","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":720,"wires":[]},{"id":"ad16f80c637e08c2","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":840,"wires":[]},{"id":"2b6d00bf8b1e66f2","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Licht An/Aus","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":660,"wires":[]},{"id":"7038c2f457550a44","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"7038c2f457550a44\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1360,"y":140,"wires":[["daf5b89416907340"],["908bb63f195a3cb6","15e9ef0507bbebb1"]]},{"id":"908bb63f195a3cb6","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"908bb63f195a3cb6\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1880,"y":140,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"80ba111e3bc5b28b","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"80ba111e3bc5b28b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2400,"y":140,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"d618b681ed5d63e8","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":50}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"d618b681ed5d63e8\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1350,"y":200,"wires":[["daf5b89416907340"],["60bf41d083256ddd","15e9ef0507bbebb1"]]},{"id":"60bf41d083256ddd","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"60bf41d083256ddd\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1850,"y":200,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"cc68ba417f21f831","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"cc68ba417f21f831\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2370,"y":200,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"d861ec1ffe1e4d80","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"d861ec1ffe1e4d80\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1370,"y":380,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"5e231a548596728d","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"5e231a548596728d\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1910,"y":380,"wires":[["daf5b89416907340"],["ad9b3e395de96231","15e9ef0507bbebb1"]]},{"id":"ad9b3e395de96231","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"ad9b3e395de96231\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2450,"y":380,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"02f8daf844cbf502","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"02f8daf844cbf502\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1360,"y":320,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"6cddcb48561a9b4c","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"6cddcb48561a9b4c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1880,"y":320,"wires":[["daf5b89416907340"],["7b98708c278b7564","15e9ef0507bbebb1"]]},{"id":"7b98708c278b7564","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"7b98708c278b7564\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2400,"y":320,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"111e59587ca2234b","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":50}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"111e59587ca2234b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1360,"y":260,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"9276f8067e14d372","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"9276f8067e14d372\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1880,"y":260,"wires":[["daf5b89416907340"],["8e782bb34aea2884","15e9ef0507bbebb1"]]},{"id":"8e782bb34aea2884","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"8e782bb34aea2884\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2400,"y":260,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"7405665988413141","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"7405665988413141\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1370,"y":500,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"55e61a3fd7e26ec0","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"55e61a3fd7e26ec0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1910,"y":500,"wires":[["daf5b89416907340"],["d17687a54d01aa24","15e9ef0507bbebb1"]]},{"id":"d17687a54d01aa24","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"d17687a54d01aa24\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2450,"y":500,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"0e045e83aba83832","type":"server-state-changed","z":"2945b6b8ea13b376","g":"af615c8f7a286bbe","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3070,"y":140,"wires":[["11e89bb8dbe7b137"],[]]},{"id":"11e89bb8dbe7b137","type":"change","z":"2945b6b8ea13b376","g":"af615c8f7a286bbe","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_eg","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_eg_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_badezimmer_eg_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_badezimmer_eg_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_badezimmer_eg_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_eg_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_eg_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_eg_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_badezimmer_eg_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_badezimmer_eg_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_badezimmer_eg_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.steckdose_betonlampe","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.deckenleuchte_badezimmer_eg","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_badezimmer_eg","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"light.licht_gruppe_badezimmer_eg_deckenleuchten","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_badezimmer_eg","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[5,10,20,50,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3450,"y":140,"wires":[["6de4b6df9c420e80"]]},{"id":"6de4b6df9c420e80","type":"link out","z":"2945b6b8ea13b376","g":"af615c8f7a286bbe","name":"Initialisierung","mode":"link","links":["4c08e055322044b8"],"x":3675,"y":140,"wires":[]},{"id":"dca7c43918d8b954","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"dca7c43918d8b954\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1340,"y":560,"wires":[["daf5b89416907340"],["e597daa153303b07","15e9ef0507bbebb1"]]},{"id":"e597daa153303b07","type":"link out","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["4c08e055322044b8"],"x":1655,"y":560,"wires":[]},{"id":"341d1b7f34a083fc","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":720,"wires":[[]]},{"id":"78611d16042bd112","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":780,"wires":[[]]},{"id":"ad46d11f5472be29","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"c8f5902d3e5a0614","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"c8f5902d3e5a0614\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1370,"y":440,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"e449c96feccf0666","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"e449c96feccf0666\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1910,"y":440,"wires":[["daf5b89416907340"],["7789a953dc1dd2a2","15e9ef0507bbebb1"]]},{"id":"7789a953dc1dd2a2","type":"subflow:235e206401c6aa25","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Badezimmer EG\",\"room\":\"badezimmer_eg\",\"nodeId\":\"7789a953dc1dd2a2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_eg","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2450,"y":440,"wires":[["daf5b89416907340"],["15e9ef0507bbebb1"]]},{"id":"c2c28d1d62c0422f","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":190,"y":980,"wires":[["999608a3591daaea"],[]]},{"id":"999608a3591daaea","type":"link out","z":"2945b6b8ea13b376","g":"27a3178b59a905d5","name":"TriggerA - true","mode":"link","links":["4c08e055322044b8"],"x":495,"y":980,"wires":[]},{"id":"3e6158c78b1d3bb8","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":200,"y":920,"wires":[["4d370e3f96372532"],[]]},{"id":"4d370e3f96372532","type":"link out","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"TriggerN - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":920,"wires":[]},{"id":"b041ea3f7146b313","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":200,"y":1040,"wires":[["eb99340b7c77290f"],[]]},{"id":"eb99340b7c77290f","type":"link out","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"TriggerA - false","mode":"link","links":["4c08e055322044b8"],"x":495,"y":1040,"wires":[]},{"id":"100ef6f2a51124a6","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":900,"wires":[[]]},{"id":"e845a9814cc24bed","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Dimmung heller","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":900,"wires":[]},{"id":"92daac164f1894b4","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Dimmung dunkler","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":960,"wires":[]},{"id":"c8a85faf9f133520","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Licht umschalten #1","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":1020,"wires":[]},{"id":"22a627c3ad98e349","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Licht umschalten #2","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":1080,"wires":[]},{"id":"32c35883024e3df0","type":"link out","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Licht umschalten #3","mode":"link","links":["4c08e055322044b8"],"x":1755,"y":1140,"wires":[]},{"id":"d89e9e1faa9816e0","type":"server-state-changed","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_badezimmer_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":190,"y":1100,"wires":[["dde515b3dd611ad3"]]},{"id":"dde515b3dd611ad3","type":"link out","z":"2945b6b8ea13b376","g":"6c418414a53d3e0e","name":"Licht-Gruppe","mode":"link","links":["4c08e055322044b8"],"x":495,"y":1100,"wires":[]},{"id":"14184a80cff05f9b","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":840,"wires":[["ad46d11f5472be29"]]},{"id":"bad2d7b8ec331ddf","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":810,"y":780,"wires":[["78611d16042bd112"]]},{"id":"228c6154853318c1","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":810,"y":720,"wires":[["341d1b7f34a083fc"]]},{"id":"f33fac52c513c366","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_badezimmer_eg_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":660,"wires":[["b77cd61f841e010a"]]},{"id":"a5bea69625222592","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":900,"wires":[["100ef6f2a51124a6"]]},{"id":"96ee63fd5024110b","type":"link out","z":"2945b6b8ea13b376","g":"198dfb3ace48dc6a","name":"Verteiler-In","mode":"link","links":["5f8b7181988856ef"],"x":665,"y":1300,"wires":[]},{"id":"7d823f3f12fcfe91","type":"switch","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":970,"y":180,"wires":[["7038c2f457550a44"],["d618b681ed5d63e8"],["111e59587ca2234b"],["02f8daf844cbf502"],["d861ec1ffe1e4d80"],["c8f5902d3e5a0614"],["7405665988413141"],["dca7c43918d8b954"],["daf5b89416907340"]]},{"id":"5f8b7181988856ef","type":"link in","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Verteiler-In","links":["96ee63fd5024110b"],"x":765,"y":180,"wires":[["7d823f3f12fcfe91"]]},{"id":"4c08e055322044b8","type":"link in","z":"2945b6b8ea13b376","g":"198dfb3ace48dc6a","name":"Verteiler-Out Connect","links":["22a627c3ad98e349","2b6d00bf8b1e66f2","32c35883024e3df0","3640a3c0dbf877ee","3d3ee495ab4c8ed1","496c7a608f15893e","4d370e3f96372532","52afb0737ad2dee8","536b45d032c2377c","6de4b6df9c420e80","727abeead57ba84b","765948e3313fb1df","836ced2c30955225","92daac164f1894b4","999608a3591daaea","9e4edb6304aba8ce","a087afdf81114b88","ad16f80c637e08c2","ae70a1d315f419a6","c8a85faf9f133520","d519233af5c2a627","dde515b3dd611ad3","e597daa153303b07","e69c3cb2876e9220","e845a9814cc24bed","eb99340b7c77290f","efb7e30efa9e1b70","fab63a4f6869f5cb"],"x":115,"y":1300,"wires":[["035a1278e9a26b7d"]]},{"id":"107e3c866c5e2e17","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":660,"wires":[["2b6d00bf8b1e66f2"]]},{"id":"693fe620cfb885f2","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":720,"wires":[["727abeead57ba84b"]]},{"id":"20f9d5ae6d24175c","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":780,"wires":[["836ced2c30955225"]]},{"id":"4533f9c4b34e6ce5","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":840,"wires":[["ad16f80c637e08c2"]]},{"id":"8ce54aadc5b48a01","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":900,"wires":[["e845a9814cc24bed"]]},{"id":"cb6bc728269cc07e","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["92daac164f1894b4"]]},{"id":"63de80cbc2838d66","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1020,"wires":[["c8a85faf9f133520"]]},{"id":"9f3c47133c6e3ae7","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["22a627c3ad98e349"]]},{"id":"eb792c1eb0d4932b","type":"change","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1140,"wires":[["32c35883024e3df0"]]},{"id":"589ed33fb770948f","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":960,"wires":[[]]},{"id":"8817a212038756b8","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":960,"wires":[["589ed33fb770948f"]]},{"id":"35da55eed5cd9b09","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1020,"wires":[[]]},{"id":"798aab2abf91f6b6","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1020,"wires":[["35da55eed5cd9b09"]]},{"id":"7de9e52fdc7b23d1","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1080,"wires":[[]]},{"id":"38f7ec59d56add02","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1080,"wires":[["7de9e52fdc7b23d1"]]},{"id":"d8aa1bab6cee58bb","type":"switch","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1140,"wires":[[]]},{"id":"b3fae1cd1f3e5bf3","type":"server-state-changed","z":"2945b6b8ea13b376","g":"87f92e95c4e21fc7","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1140,"wires":[["d8aa1bab6cee58bb"]]},{"id":"035a1278e9a26b7d","type":"subflow:d5c060879184b636","z":"2945b6b8ea13b376","g":"198dfb3ace48dc6a","name":"","x":390,"y":1300,"wires":[["96ee63fd5024110b"]]},{"id":"afe63af1dae0eb14","type":"server-state-changed","z":"2945b6b8ea13b376","g":"7fc610491019fc56","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1920,"y":660,"wires":[["801fecc760f11b32"]]},{"id":"801fecc760f11b32","type":"switch","z":"2945b6b8ea13b376","g":"7fc610491019fc56","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2170,"y":660,"wires":[[]]},{"id":"3f017a02ba2cbaff","type":"catch","z":"2945b6b8ea13b376","g":"67ec3be1d39ba7fe","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1440,"wires":[["d9e54cbbdca9f689","4b57bee701fccc48"]]},{"id":"d9e54cbbdca9f689","type":"debug","z":"2945b6b8ea13b376","g":"67ec3be1d39ba7fe","name":"LI - Badezimmer EG Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1440,"wires":[]},{"id":"4b57bee701fccc48","type":"function","z":"2945b6b8ea13b376","g":"67ec3be1d39ba7fe","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33 Badezimmer EG',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33 Badezimmer EG Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1440,"wires":[["628b4794e16ec66c"]]},{"id":"628b4794e16ec66c","type":"link out","z":"2945b6b8ea13b376","g":"67ec3be1d39ba7fe","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":610,"y":1440,"wires":[]},{"id":"daf5b89416907340","type":"link out","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2650,"y":560,"wires":[]},{"id":"15e9ef0507bbebb1","type":"function","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33 Badezimmer EG',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":620,"wires":[["f730d77922b82165"]]},{"id":"f730d77922b82165","type":"link out","z":"2945b6b8ea13b376","g":"a218a9c7ced54b57","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2650,"y":620,"wires":[]}],"configs":[]}
