.codex-build/li_batch4_step03_schlafzimmer_20260515.flow.json
{"id":"75c081524bfad1b6","label":"LI - Schlafzimmer","disabled":false,"info":"","env":[],"nodes":[{"id":"469fb230afa5d466","type":"group","z":"75c081524bfad1b6","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["dfba03638083e52c","ecdf5305ea5b6497","85e2b0d89da97aa6","1269a3c34c094ed5","5d8a940d73e7bef2","39a3e6f906642fe8","36a93b7beea08b2e","b94443e17da6414d","f6a964bbc35ab4a3","c2125a0b352bd8b6","3c85d99469245c03","f0984516a9f3d601","75677b88a6c20e81","fcf75bdb69563aa1","3407660bdc9cf499","3c083496a8fde4aa","b28513be90f3f6d0","a9985b6940ed606b","d2e9f66053aebac2"],"x":78,"y":68,"w":3854,"h":1139},{"id":"8b5b57921d2d8909","type":"group","z":"75c081524bfad1b6","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["1aaff7c3f45ee419","8933e4bb5276757b","c8adb8b42cf45fdd"],"x":84,"y":1279,"w":632,"h":82},{"id":"03270677cda55c3c","type":"group","z":"75c081524bfad1b6","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["5b064e3a1c9aa0de","a137cafe510a9086","6b859bd3c9558f3f","78518d39bb26f64b"],"x":74,"y":1419,"w":700,"h":82},{"id":"fcf75bdb69563aa1","type":"group","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["179ae9a36f07728e","9c0b5fb00dc1aa67","d27fb465b1da86da","0e46a5a681407607","f1ce4755e611a6fa","3f166693c1629209","8b9079aaf03b51ec","da2225321de0b7a8","c580c70015177144","cd3b93a7ee527c0f","88803eefb24ce2d9","5e380b6f9fd055d6","efdbd31d3ac569d4","646218b1685f2320","544856002abbca6b","05fba984f3510ed4","f3d9e8abd6b404c1","2e5b6a129f9af684","dfe5ab3fed82b6b1","af65e0f8acfd3d70"],"x":104,"y":99,"w":442,"h":1042},{"id":"3407660bdc9cf499","type":"group","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["e0e766d033870445","9802dfdfb9cb5e4b","ff979c779165562f","09970ec021a66223","8b43bda6f57d39cc","673ec70465ac28ad","1eb35fe57515dc97","972c878d302ec2ae","d7a79085da2b6489","da761f0b838425f3","7158b6da1276f0e5","b752756e6115e8b0","9ceccb31bc77990b","4ce9e5f31f5bbba2","a9bcf93e8fd0e3c6","242417f4f2b6433d","6970f1866afa6935","18f34fa29321a1bd","aca6cfd453ce79e1","ee0f43f147c11191","e5d6d937d7139e05","dc032fb32425496f","ac497ef060252977","e39ddb3fc614d646","da8cb1114b24b091","ef7c8e7668918f2c","d563c61f736bda67","68dd9b4a278c5959","69907a1b05dfe614","c64814e6ef756530","4e0a1f165f9d60ea","41296ed83b941d15","eddaf77564700c92","ec7d8d142d0c9032","403f23eabd20bbfc","7fb7e2a2a79a7aa7"],"x":724,"y":611.5,"w":1082,"h":569.5},{"id":"3c083496a8fde4aa","type":"group","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["edb47f29133a7ffb","c62bcfb2028ff7c1","0a2e5471b7ce3adc","5242fdaeb1a27e7a","d58ea9ed451f12d5","87313ab689da82ae","802b66a13a9e1968","5f66e18f9a3d7cb7","2f482a9bd62e97e7","b11eb96a883a759f","851aa5f69f7bebe5","5ae959cee414f252","62ef945e33c52cf1","83a347d6858c24eb","64ac81372945bbdf","bc394466dcd79688","15dd5a5d2ac0f8e6","9bec348f8c0d8a59","1173fb28150ce380","da90ecf3808b2550","87d721937d31c0ac","5d05c8a4d47fdb9f","d8ebeedfcd5f3b6f","36fb01f86c0d6412","a28682fb2d1e25f5","f1f14dc75064f941","ab4487a8bf03910e","ad336401a2a8dfee"],"x":734,"y":94,"w":2152,"h":607},{"id":"b28513be90f3f6d0","type":"group","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["7eca46840c9ac459","e66bf49c99b1980e","fb74fcabcd49f2d4"],"x":2884,"y":99,"w":842,"h":82},{"id":"d2e9f66053aebac2","type":"group","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["6fbba6f6576cd91c","7613bbcc91d96ba4","8e8473c2d7dfd325","8dcd5478e2587cb9","bfc21a9e6a7a78c2","d6e670105c0a36b7","8bbb15aeb068861d","cc0369abf8b47be3","b6312b855f5e5d9d","6a62d27d80865039","ad9bd79e2fcec54d","263f0d939e0eeb86","c1ef9126eaddb19a"],"x":1834,"y":619,"w":2072,"h":322},{"id":"dfba03638083e52c","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger1 - true","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":140,"wires":[]},{"id":"ecdf5305ea5b6497","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger2 - true","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":200,"wires":[]},{"id":"85e2b0d89da97aa6","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger3 - true","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":260,"wires":[]},{"id":"1269a3c34c094ed5","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger1 - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":320,"wires":[]},{"id":"5d8a940d73e7bef2","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger2 - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":380,"wires":[]},{"id":"39a3e6f906642fe8","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger3 - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":440,"wires":[]},{"id":"36a93b7beea08b2e","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger1 long - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":500,"wires":[]},{"id":"b94443e17da6414d","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger2 long - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":560,"wires":[]},{"id":"f6a964bbc35ab4a3","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger3 long - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":620,"wires":[]},{"id":"c2125a0b352bd8b6","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger1 long extended - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":680,"wires":[]},{"id":"3c85d99469245c03","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger2 long extended - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":740,"wires":[]},{"id":"f0984516a9f3d601","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"Trigger3 long extended - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":800,"wires":[]},{"id":"75677b88a6c20e81","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"TriggerN - true","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":860,"wires":[]},{"id":"179ae9a36f07728e","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_schlafzimmer_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":200,"y":140,"wires":[["dfba03638083e52c"],[]]},{"id":"9c0b5fb00dc1aa67","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":200,"y":200,"wires":[["ecdf5305ea5b6497"],[]]},{"id":"d27fb465b1da86da","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":200,"y":260,"wires":[["85e2b0d89da97aa6"],[]]},{"id":"0e46a5a681407607","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_schlafzimmer_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":210,"y":320,"wires":[["1269a3c34c094ed5"],[]]},{"id":"f1ce4755e611a6fa","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":210,"y":380,"wires":[["5d8a940d73e7bef2"],[]]},{"id":"3f166693c1629209","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":210,"y":440,"wires":[["39a3e6f906642fe8"],[]]},{"id":"8b9079aaf03b51ec","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_schlafzimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":220,"y":500,"wires":[["36a93b7beea08b2e"],[]]},{"id":"da2225321de0b7a8","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":220,"y":560,"wires":[["b94443e17da6414d"],[]]},{"id":"c580c70015177144","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":220,"y":620,"wires":[["f6a964bbc35ab4a3"],[]]},{"id":"cd3b93a7ee527c0f","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_schlafzimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":250,"y":680,"wires":[["c2125a0b352bd8b6"],[]]},{"id":"88803eefb24ce2d9","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":250,"y":740,"wires":[["3c85d99469245c03"],[]]},{"id":"5e380b6f9fd055d6","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":250,"y":800,"wires":[["f0984516a9f3d601"],[]]},{"id":"efdbd31d3ac569d4","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":210,"y":860,"wires":[["75677b88a6c20e81"],[]]},{"id":"646218b1685f2320","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":200,"y":980,"wires":[["a9985b6940ed606b"],[]]},{"id":"544856002abbca6b","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":210,"y":920,"wires":[["05fba984f3510ed4"],[]]},{"id":"05fba984f3510ed4","type":"link out","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"TriggerN - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":920,"wires":[]},{"id":"f3d9e8abd6b404c1","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":210,"y":1040,"wires":[["2e5b6a129f9af684"],[]]},{"id":"2e5b6a129f9af684","type":"link out","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"TriggerA - false","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":1040,"wires":[]},{"id":"dfe5ab3fed82b6b1","type":"server-state-changed","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_schlafzimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":200,"y":1100,"wires":[["af65e0f8acfd3d70"]]},{"id":"af65e0f8acfd3d70","type":"link out","z":"75c081524bfad1b6","g":"fcf75bdb69563aa1","name":"Licht-Gruppe","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":1100,"wires":[]},{"id":"e0e766d033870445","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1180,"y":660,"wires":[["ee0f43f147c11191"],["e5d6d937d7139e05"],["dc032fb32425496f"]]},{"id":"9802dfdfb9cb5e4b","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":720,"wires":[[]]},{"id":"ff979c779165562f","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":840,"wires":[[]]},{"id":"09970ec021a66223","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":780,"wires":[[]]},{"id":"8b43bda6f57d39cc","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":900,"wires":[[]]},{"id":"673ec70465ac28ad","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Licht An/Aus","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":660,"wires":[]},{"id":"1eb35fe57515dc97","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Dimmrichtung zurücksetzen","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":780,"wires":[]},{"id":"972c878d302ec2ae","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Automatische Dimmung","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":720,"wires":[]},{"id":"d7a79085da2b6489","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":840,"wires":[]},{"id":"da761f0b838425f3","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Dimmung heller","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":900,"wires":[]},{"id":"7158b6da1276f0e5","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Dimmung dunkler","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":960,"wires":[]},{"id":"b752756e6115e8b0","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Licht umschalten #1","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":1020,"wires":[]},{"id":"9ceccb31bc77990b","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Licht umschalten #2","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":1080,"wires":[]},{"id":"4ce9e5f31f5bbba2","type":"link out","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Licht umschalten #3","mode":"link","links":["8933e4bb5276757b"],"x":1765,"y":1140,"wires":[]},{"id":"a9bcf93e8fd0e3c6","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":840,"wires":[["ff979c779165562f"]]},{"id":"242417f4f2b6433d","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":820,"y":780,"wires":[["09970ec021a66223"]]},{"id":"6970f1866afa6935","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":720,"wires":[["9802dfdfb9cb5e4b"]]},{"id":"18f34fa29321a1bd","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_schlafzimmer_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":660,"wires":[["e0e766d033870445"]]},{"id":"aca6cfd453ce79e1","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":900,"wires":[["8b43bda6f57d39cc"]]},{"id":"ee0f43f147c11191","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["673ec70465ac28ad"]]},{"id":"e5d6d937d7139e05","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":720,"wires":[["972c878d302ec2ae"]]},{"id":"dc032fb32425496f","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":780,"wires":[["1eb35fe57515dc97"]]},{"id":"ac497ef060252977","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":840,"wires":[["d7a79085da2b6489"]]},{"id":"e39ddb3fc614d646","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":900,"wires":[["da761f0b838425f3"]]},{"id":"da8cb1114b24b091","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":960,"wires":[["7158b6da1276f0e5"]]},{"id":"ef7c8e7668918f2c","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1020,"wires":[["b752756e6115e8b0"]]},{"id":"d563c61f736bda67","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1080,"wires":[["9ceccb31bc77990b"]]},{"id":"68dd9b4a278c5959","type":"change","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1140,"wires":[["4ce9e5f31f5bbba2"]]},{"id":"69907a1b05dfe614","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":960,"wires":[[]]},{"id":"c64814e6ef756530","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":960,"wires":[["69907a1b05dfe614"]]},{"id":"4e0a1f165f9d60ea","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1020,"wires":[[]]},{"id":"41296ed83b941d15","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1020,"wires":[["4e0a1f165f9d60ea"]]},{"id":"eddaf77564700c92","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1080,"wires":[[]]},{"id":"ec7d8d142d0c9032","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1080,"wires":[["eddaf77564700c92"]]},{"id":"403f23eabd20bbfc","type":"switch","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1140,"wires":[[]]},{"id":"7fb7e2a2a79a7aa7","type":"server-state-changed","z":"75c081524bfad1b6","g":"3407660bdc9cf499","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1140,"wires":[["403f23eabd20bbfc"]]},{"id":"edb47f29133a7ffb","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":4000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"edb47f29133a7ffb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1370,"y":140,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"c62bcfb2028ff7c1","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"c62bcfb2028ff7c1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1890,"y":140,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"0a2e5471b7ce3adc","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"0a2e5471b7ce3adc\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2410,"y":140,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"5242fdaeb1a27e7a","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"5242fdaeb1a27e7a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1360,"y":200,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"d58ea9ed451f12d5","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"d58ea9ed451f12d5\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1860,"y":200,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"87313ab689da82ae","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"87313ab689da82ae\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2380,"y":200,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"802b66a13a9e1968","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"802b66a13a9e1968\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1380,"y":380,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"5f66e18f9a3d7cb7","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"5f66e18f9a3d7cb7\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1920,"y":380,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"2f482a9bd62e97e7","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"2f482a9bd62e97e7\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2460,"y":380,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"b11eb96a883a759f","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":25,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"b11eb96a883a759f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1370,"y":320,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"851aa5f69f7bebe5","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"851aa5f69f7bebe5\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1890,"y":320,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"5ae959cee414f252","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"5ae959cee414f252\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2410,"y":320,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"62ef945e33c52cf1","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"62ef945e33c52cf1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1370,"y":260,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"83a347d6858c24eb","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"83a347d6858c24eb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1890,"y":260,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"64ac81372945bbdf","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"64ac81372945bbdf\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2410,"y":260,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"bc394466dcd79688","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"bc394466dcd79688\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1380,"y":500,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"15dd5a5d2ac0f8e6","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"15dd5a5d2ac0f8e6\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1920,"y":500,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"9bec348f8c0d8a59","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"9bec348f8c0d8a59\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2460,"y":500,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"1173fb28150ce380","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"1173fb28150ce380\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1350,"y":560,"wires":[["f1f14dc75064f941"],["d8ebeedfcd5f3b6f","ab4487a8bf03910e"]]},{"id":"da90ecf3808b2550","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"da90ecf3808b2550\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1380,"y":440,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"87d721937d31c0ac","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"87d721937d31c0ac\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1920,"y":440,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"5d05c8a4d47fdb9f","type":"subflow:235e206401c6aa25","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Schlafzimmer\",\"room\":\"schlafzimmer\",\"nodeId\":\"5d05c8a4d47fdb9f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"schlafzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2460,"y":440,"wires":[["f1f14dc75064f941"],["ab4487a8bf03910e"]]},{"id":"d8ebeedfcd5f3b6f","type":"link out","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["8933e4bb5276757b"],"x":1665,"y":560,"wires":[]},{"id":"36fb01f86c0d6412","type":"switch","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":980,"y":180,"wires":[["edb47f29133a7ffb"],["5242fdaeb1a27e7a"],["62ef945e33c52cf1"],["b11eb96a883a759f"],["802b66a13a9e1968"],["da90ecf3808b2550"],["bc394466dcd79688"],["1173fb28150ce380"],["f1f14dc75064f941"]]},{"id":"a28682fb2d1e25f5","type":"link in","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Verteiler-In","links":["c8adb8b42cf45fdd"],"x":775,"y":180,"wires":[["36fb01f86c0d6412"]]},{"id":"7eca46840c9ac459","type":"change","z":"75c081524bfad1b6","g":"b28513be90f3f6d0","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_schlafzimmer","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_schlafzimmer_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_schlafzimmer_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_schlafzimmer_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_schlafzimmer_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_schlafzimmer_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_schlafzimmer_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_schlafzimmer_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_schlafzimmer_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_schlafzimmer_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_schlafzimmer_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.deckenleuchte_schlafzimmer","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.wandbeleuchtung_schlafzimmer","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"light.babybauchabdruck","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_schlafzimmer","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"light.licht_gruppe_schlafzimmer_deckenleuchten","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"light.licht_gruppe_schlafzimmer","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_schlafzimmer","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"3","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[5,10,20,50,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":140,"wires":[["fb74fcabcd49f2d4"]]},{"id":"e66bf49c99b1980e","type":"server-state-changed","z":"75c081524bfad1b6","g":"b28513be90f3f6d0","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3080,"y":140,"wires":[["7eca46840c9ac459"],[]]},{"id":"fb74fcabcd49f2d4","type":"link out","z":"75c081524bfad1b6","g":"b28513be90f3f6d0","name":"Initialisierung","mode":"link","links":["8933e4bb5276757b"],"x":3685,"y":140,"wires":[]},{"id":"a9985b6940ed606b","type":"link out","z":"75c081524bfad1b6","g":"469fb230afa5d466","name":"TriggerA - true","mode":"link","links":["8933e4bb5276757b"],"x":505,"y":980,"wires":[]},{"id":"6fbba6f6576cd91c","type":"server-state-changed","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_schlafzimmer_2_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["7613bbcc91d96ba4"]]},{"id":"7613bbcc91d96ba4","type":"switch","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"on_press_release/up_press_release/down_..","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"on_press_release","vt":"str"},{"t":"eq","v":"up_press_release","vt":"str"},{"t":"eq","v":"up_hold","vt":"str"},{"t":"eq","v":"down_press_release","vt":"str"},{"t":"eq","v":"down_hold","vt":"str"},{"t":"eq","v":"off_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":2310,"y":700,"wires":[["8e8473c2d7dfd325"],["d6e670105c0a36b7"],["d6e670105c0a36b7"],["d6e670105c0a36b7"],["d6e670105c0a36b7"],["c1ef9126eaddb19a"]]},{"id":"263f0d939e0eeb86","type":"api-call-service","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Routine - Schlafenszeit einschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.routine_schlafenszeit"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":2960,"y":900,"wires":[[]]},{"id":"8e8473c2d7dfd325","type":"api-current-state","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Wandbeleuchtung Schlafzimmer eingeschaltet?","server":"86f0795d.48a3f8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.wandbeleuchtung_schlafzimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2780,"y":660,"wires":[["bfc21a9e6a7a78c2"],["8dcd5478e2587cb9"]]},{"id":"8dcd5478e2587cb9","type":"api-call-service","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Wandbeleuchtung Schlafzimmer einschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.wandbeleuchtung_schlafzimmer"],"labelId":[],"data":"{\t    \"brightness_pct\":1,\t    \"rgb_color\":[255,99,71]\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":3250,"y":720,"wires":[[]]},{"id":"bfc21a9e6a7a78c2","type":"api-call-service","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Wandbeleuchtung Schlafzimmer ausschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.wandbeleuchtung_schlafzimmer"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_off","x":3250,"y":660,"wires":[[]]},{"id":"d6e670105c0a36b7","type":"api-current-state","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Wandbeleuchtung Schlafzimmer auslesen","server":"86f0795d.48a3f8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.wandbeleuchtung_schlafzimmer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"lightlevel","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2760,"y":780,"wires":[["8bbb15aeb068861d"]]},{"id":"8bbb15aeb068861d","type":"switch","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"up_*/down_*","property":"action","propertyType":"msg","rules":[{"t":"cont","v":"up","vt":"str"},{"t":"cont","v":"down","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":3110,"y":780,"wires":[["cc0369abf8b47be3"],["6a62d27d80865039"]]},{"id":"cc0369abf8b47be3","type":"function","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Berechnung","func":"// 1. Schritte laden\nvar steps = [1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];\nsteps.sort(function(a, b) { return a - b; });\n\n// 2. Aktuellen Wert holen\nvar currentByte = msg.lightlevel.attributes.brightness || 1;\nvar currentPercent = Math.round((currentByte / 255) * 100);\n\n// 3. Nächsten Index suchen\nvar currentIndex = 0;\nvar minDiff = 1000;\n\nfor (var i = 0; i < steps.length; i++) {\n    var diff = Math.abs(steps[i] - currentPercent);\n    if (diff < minDiff) {\n        minDiff = diff;\n        currentIndex = i;\n    }\n}\n\n// 4. Logik NUR für HELLER\nvar nextIndex = currentIndex + 1;\n\n// Wenn wir über das Ziel hinausschießen würden, bleiben wir beim Maximum\nif (nextIndex >= steps.length) {\n    nextIndex = steps.length - 1;\n}\n\n// 5. Ergebnis setzen\nmsg.lightlevel = steps[nextIndex];\n\n// Optional: Abbrechen, wenn wir schon auf dem Zielwert sind (spart Funkverkehr)\nif (msg.lightlevel == currentPercent) {\n    return null; \n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3370,"y":780,"wires":[["b6312b855f5e5d9d"]]},{"id":"b6312b855f5e5d9d","type":"api-call-service","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Wandbeleuchtung Schlafzimmer setzen","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.wandbeleuchtung_schlafzimmer"],"labelId":[],"data":"{\t    \"brightness_pct\": msg.lightlevel\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":3720,"y":780,"wires":[[]]},{"id":"6a62d27d80865039","type":"function","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Berechnung","func":"// 1. Schritte laden\nvar steps = [1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100];\nsteps.sort(function(a, b) { return a - b; });\n\n// 2. Aktuellen Wert holen\nvar currentByte = msg.lightlevel.attributes.brightness || 1;\nvar currentPercent = Math.round((currentByte / 255) * 100);\n\n// 3. Nächsten Index suchen\nvar currentIndex = 0;\nvar minDiff = 1000;\n\nfor (var i = 0; i < steps.length; i++) {\n    var diff = Math.abs(steps[i] - currentPercent);\n    if (diff < minDiff) {\n        minDiff = diff;\n        currentIndex = i;\n    }\n}\n\n// 4. Logik NUR für DUNKLER\nvar nextIndex = currentIndex - 1;\n\n// Wenn wir unter 0 fallen würden, bleiben wir beim Minimum (Index 0)\nif (nextIndex < 0) {\n    nextIndex = 0;\n}\n\n// 5. Ergebnis setzen\nmsg.lightlevel = steps[nextIndex];\n\n// Optional: Abbrechen, wenn wir schon auf dem Zielwert sind (spart Funkverkehr)\nif (msg.lightlevel == currentPercent) {\n    return null; \n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3370,"y":840,"wires":[["ad9bd79e2fcec54d"]]},{"id":"ad9bd79e2fcec54d","type":"api-call-service","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Wandbeleuchtung Schlafzimmer setzen","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.wandbeleuchtung_schlafzimmer"],"labelId":[],"data":"{\t    \"brightness_pct\": msg.lightlevel\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":3720,"y":840,"wires":[[]]},{"id":"c1ef9126eaddb19a","type":"function","z":"75c081524bfad1b6","g":"d2e9f66053aebac2","name":"Zähler","func":"// Konfiguration\nconst timeWindow = 5000; // 5 Sekunden in Millisekunden\n\n// Aktuelle Zeit holen\nconst now = Date.now();\n\n// Letzten Zeitpunkt aus dem Speicher holen (oder 0 wenn noch nie gedrückt)\nconst lastTime = context.get('lastTime') || 0;\n\n// Speichere den aktuellen Klick als \"letzten Klick\" für das nächste Mal\ncontext.set('lastTime', now);\n\n// Prüfen: Ist die Differenz kleiner als 5 Sekunden?\nif (now - lastTime < timeWindow) {\n    // Falls JA: Es war ein Doppelklick!\n\n    // Wichtig: Speicher zurücksetzen, damit ein 3. Klick nicht sofort wieder auslöst\n    context.set('lastTime', 0);\n\n    return msg; // Nachricht durchlassen\n}\n\n// Falls NEIN (oder erster Klick): Nichts tun\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2650,"y":900,"wires":[["263f0d939e0eeb86"]]},{"id":"1aaff7c3f45ee419","type":"subflow:d5c060879184b636","z":"75c081524bfad1b6","g":"8b5b57921d2d8909","name":"","x":400,"y":1320,"wires":[["c8adb8b42cf45fdd"]]},{"id":"8933e4bb5276757b","type":"link in","z":"75c081524bfad1b6","g":"8b5b57921d2d8909","name":"Verteiler-Out Connect","links":["9ceccb31bc77990b","673ec70465ac28ad","4ce9e5f31f5bbba2","c2125a0b352bd8b6","5d8a940d73e7bef2","1269a3c34c094ed5","05fba984f3510ed4","36a93b7beea08b2e","b94443e17da6414d","fb74fcabcd49f2d4","972c878d302ec2ae","39a3e6f906642fe8","1eb35fe57515dc97","7158b6da1276f0e5","a9985b6940ed606b","ecdf5305ea5b6497","f6a964bbc35ab4a3","d7a79085da2b6489","dfba03638083e52c","b752756e6115e8b0","75677b88a6c20e81","af65e0f8acfd3d70","d8ebeedfcd5f3b6f","3c85d99469245c03","da761f0b838425f3","2e5b6a129f9af684","f0984516a9f3d601","85e2b0d89da97aa6"],"x":125,"y":1320,"wires":[["1aaff7c3f45ee419"]]},{"id":"c8adb8b42cf45fdd","type":"link out","z":"75c081524bfad1b6","g":"8b5b57921d2d8909","name":"Verteiler-In","mode":"link","links":["a28682fb2d1e25f5"],"x":675,"y":1320,"wires":[]},{"id":"5b064e3a1c9aa0de","type":"catch","z":"75c081524bfad1b6","g":"03270677cda55c3c","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["a137cafe510a9086","6b859bd3c9558f3f"]]},{"id":"a137cafe510a9086","type":"debug","z":"75c081524bfad1b6","g":"03270677cda55c3c","name":"LI - Schlafzimmer Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1460,"wires":[]},{"id":"6b859bd3c9558f3f","type":"function","z":"75c081524bfad1b6","g":"03270677cda55c3c","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - Schlafzimmer',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - Schlafzimmer Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["78518d39bb26f64b"]]},{"id":"78518d39bb26f64b","type":"link out","z":"75c081524bfad1b6","g":"03270677cda55c3c","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":600,"y":1460,"wires":[]},{"id":"f1f14dc75064f941","type":"link out","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2660,"y":560,"wires":[]},{"id":"ab4487a8bf03910e","type":"function","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - Schlafzimmer',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":620,"wires":[["ad336401a2a8dfee"]]},{"id":"ad336401a2a8dfee","type":"link out","z":"75c081524bfad1b6","g":"3c083496a8fde4aa","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2660,"y":620,"wires":[]}],"configs":[]}
