.codex-build/li_batch4_step02_kuche_20260515.flow.json
{"id":"ae9d5efd470d4010","label":"LI - Küche","disabled":false,"info":"","env":[],"nodes":[{"id":"48c558e70500efea","type":"group","z":"ae9d5efd470d4010","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["fd2be687c79f44c4","54725ea91d9e22d2","f11e54f78b484e5d","9d04d5ec10d0a87d","763f4abca607d442","2ec2ae2590ec8d25","7ae4196bffeca724","4c21c55359867128","dffca8eab17a13a5","95b7bec8e8693446","db9d4699fb56a77e","47e830054d972961","d23733432976d658","0268e0d3b613d47e","145de9ec379f7212","4630cfe734f5f48b","9baad8a52836adf7","7142ccda2b920824","9d86cc380ccd0c32"],"x":78,"y":68,"w":3674,"h":1139},{"id":"afa62352d8d0d997","type":"group","z":"ae9d5efd470d4010","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["3790a762b675d395","c6cdab8a7470a69c","e39f4719bb191300"],"x":84,"y":1279,"w":632,"h":82},{"id":"d61207360e50caf3","type":"group","z":"ae9d5efd470d4010","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["f30739c08022157f","daad12d0d9de2744","7d881007e996cca3","016bf7783b74dc08"],"x":74,"y":1419,"w":700,"h":82},{"id":"0268e0d3b613d47e","type":"group","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["a5dde1106b31d67d","12ed638029077c9f","ff330bcabeb35f5a","65ded4a15f3d5a77","90a974b0ca98929a","5f409e892af0ff1e","bdddaf559a405414","90ac211cdd6b5108","33cf8c3af9c3283f","c02bc57b5373f0c3","2f02009974285320","4dbf3ca2fa7a646d","c09aeeb7920f508c","94931a75b2f6dd22","f1c08d6dbcd3d48f","722f5d77e10eafd8","01cceb3050ec8f94","f498a86540aaa3f3","40a1ce13fb199bc3","eebe0af9738a61e1"],"x":104,"y":99,"w":442,"h":1042},{"id":"145de9ec379f7212","type":"group","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["201082bb0eb40b15","5587e89cf5eb3e0b","2437d5c33e1529a1","554fb3ecf0756447","df18152c0c28b996","3ee34271e901c41b","6c79e19ba90a5056","1826406420852102","acbd528be7fb1845","d38979592bc0d7d9","60e9b4141fa5eda5","a230d02088b8e9fe","0bc83716d0b87de5","f38898a0179db84e","9e30e55c43cdb578","8dc97ef0d21d09e4","e505d0ebb3c0cba9","479d1ff86ff5393c","b52f2fe34dd8cccc","e0db3b8ace1b4f30","fc38a2ff2da105ea","0179d41b14bba404","b53a6990fd1e7df4","2a78564de6eb9566","e38c4de3c1a3f376","1ea50d768dfca762","19b5eccd2ed4a3fd","35495e1861e3f768","8d04b8e790816502","63ea6f4a7e2a0f0a","719f56fe21d39179","5459267760d29881","2faf037959ea40f6","8a882372c6124652","8635f4e5faf5f41a","f6c5a6eedee30d0c"],"x":724,"y":611.5,"w":1082,"h":569.5},{"id":"4630cfe734f5f48b","type":"group","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["a6422d91831cc442","61b79ccd78e56646","b4a69e4ad895fc08","050839b98f915dca","00de9b1bbfc21c20","4b8d3fe4f271604e","0594cb66e8c49c8f","a5b550e6a5917f9c","6000f79b58355d7e","9a87656ac7450713","c5c3bfc0fd8b7315","f4a22a3c3e51fd77","cfe13b2f920f8244","258a28bd111bf48c","d64e2d4c33be8fa8","54da4f224b9cb462","f4e3de0352f4e7b0","b57d426b969cd8b7","62fad92f7e1d758e","52d60de8615001cb","6386761cee149fba","112d1f861060fdff","fd174d23e88e6add","8ce56c1806ad500c","e2988a94ec2caf4c","a937c7a1ffa3a812","9223b759bfaf2fb3","ff398a902261ecd8"],"x":734,"y":94,"w":2152,"h":607},{"id":"9baad8a52836adf7","type":"group","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["058600ed62bded99","5dc2869346a5e83b","fb1edee230e84513"],"x":2884,"y":99,"w":842,"h":82},{"id":"9d86cc380ccd0c32","type":"group","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["699b9bcbcee4d8d4","46a150a234cef976"],"x":1834,"y":619,"w":432,"h":82},{"id":"fd2be687c79f44c4","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger1 - true","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":140,"wires":[]},{"id":"54725ea91d9e22d2","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger2 - true","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":200,"wires":[]},{"id":"f11e54f78b484e5d","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger3 - true","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":260,"wires":[]},{"id":"9d04d5ec10d0a87d","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger1 - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":320,"wires":[]},{"id":"763f4abca607d442","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger2 - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":380,"wires":[]},{"id":"2ec2ae2590ec8d25","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger3 - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":440,"wires":[]},{"id":"7ae4196bffeca724","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger1 long - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":500,"wires":[]},{"id":"4c21c55359867128","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger2 long - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":560,"wires":[]},{"id":"dffca8eab17a13a5","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger3 long - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":620,"wires":[]},{"id":"95b7bec8e8693446","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger1 long extended - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":680,"wires":[]},{"id":"db9d4699fb56a77e","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger2 long extended - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":740,"wires":[]},{"id":"47e830054d972961","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"Trigger3 long extended - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":800,"wires":[]},{"id":"d23733432976d658","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"TriggerN - true","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":860,"wires":[]},{"id":"a5dde1106b31d67d","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.prasenzmelder_kuche_belegung_kuche"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":200,"y":140,"wires":[["fd2be687c79f44c4"],[]]},{"id":"12ed638029077c9f","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":200,"y":200,"wires":[["54725ea91d9e22d2"],[]]},{"id":"ff330bcabeb35f5a","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":200,"y":260,"wires":[["f11e54f78b484e5d"],[]]},{"id":"65ded4a15f3d5a77","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.prasenzmelder_kuche_belegung_kuche"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":210,"y":320,"wires":[["9d04d5ec10d0a87d"],[]]},{"id":"90a974b0ca98929a","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":210,"y":380,"wires":[["763f4abca607d442"],[]]},{"id":"5f409e892af0ff1e","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":210,"y":440,"wires":[["2ec2ae2590ec8d25"],[]]},{"id":"bdddaf559a405414","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_kuche"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":220,"y":500,"wires":[["7ae4196bffeca724"],[]]},{"id":"90ac211cdd6b5108","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":220,"y":560,"wires":[["4c21c55359867128"],[]]},{"id":"33cf8c3af9c3283f","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":220,"y":620,"wires":[["dffca8eab17a13a5"],[]]},{"id":"c02bc57b5373f0c3","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_kuche"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":250,"y":680,"wires":[["95b7bec8e8693446"],[]]},{"id":"2f02009974285320","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":250,"y":740,"wires":[["db9d4699fb56a77e"],[]]},{"id":"4dbf3ca2fa7a646d","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":250,"y":800,"wires":[["47e830054d972961"],[]]},{"id":"c09aeeb7920f508c","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":210,"y":860,"wires":[["d23733432976d658"],[]]},{"id":"94931a75b2f6dd22","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":200,"y":980,"wires":[["7142ccda2b920824"],[]]},{"id":"f1c08d6dbcd3d48f","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":210,"y":920,"wires":[["722f5d77e10eafd8"],[]]},{"id":"722f5d77e10eafd8","type":"link out","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"TriggerN - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":920,"wires":[]},{"id":"01cceb3050ec8f94","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":210,"y":1040,"wires":[["f498a86540aaa3f3"],[]]},{"id":"f498a86540aaa3f3","type":"link out","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"TriggerA - false","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":1040,"wires":[]},{"id":"40a1ce13fb199bc3","type":"server-state-changed","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":200,"y":1100,"wires":[["eebe0af9738a61e1"]]},{"id":"eebe0af9738a61e1","type":"link out","z":"ae9d5efd470d4010","g":"0268e0d3b613d47e","name":"Licht-Gruppe","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":1100,"wires":[]},{"id":"201082bb0eb40b15","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1180,"y":660,"wires":[["b52f2fe34dd8cccc"],["e0db3b8ace1b4f30"],["fc38a2ff2da105ea"]]},{"id":"5587e89cf5eb3e0b","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":840,"wires":[[]]},{"id":"2437d5c33e1529a1","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":780,"wires":[[]]},{"id":"554fb3ecf0756447","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":900,"wires":[[]]},{"id":"df18152c0c28b996","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Licht An/Aus","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":660,"wires":[]},{"id":"3ee34271e901c41b","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Dimmrichtung zurücksetzen","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":780,"wires":[]},{"id":"6c79e19ba90a5056","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Automatische Dimmung","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":720,"wires":[]},{"id":"1826406420852102","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":840,"wires":[]},{"id":"acbd528be7fb1845","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Dimmung heller","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":900,"wires":[]},{"id":"d38979592bc0d7d9","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Dimmung dunkler","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":960,"wires":[]},{"id":"60e9b4141fa5eda5","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Licht umschalten #1","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":1020,"wires":[]},{"id":"a230d02088b8e9fe","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Licht umschalten #2","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":1080,"wires":[]},{"id":"0bc83716d0b87de5","type":"link out","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Licht umschalten #3","mode":"link","links":["c6cdab8a7470a69c"],"x":1765,"y":1140,"wires":[]},{"id":"f38898a0179db84e","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":840,"wires":[["5587e89cf5eb3e0b"]]},{"id":"9e30e55c43cdb578","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":820,"y":780,"wires":[["2437d5c33e1529a1"]]},{"id":"8dc97ef0d21d09e4","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":720,"wires":[["f6c5a6eedee30d0c"]]},{"id":"e505d0ebb3c0cba9","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":660,"wires":[["201082bb0eb40b15"]]},{"id":"479d1ff86ff5393c","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":900,"wires":[["554fb3ecf0756447"]]},{"id":"b52f2fe34dd8cccc","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["df18152c0c28b996"]]},{"id":"e0db3b8ace1b4f30","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":720,"wires":[["6c79e19ba90a5056"]]},{"id":"fc38a2ff2da105ea","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":780,"wires":[["3ee34271e901c41b"]]},{"id":"0179d41b14bba404","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":840,"wires":[["1826406420852102"]]},{"id":"b53a6990fd1e7df4","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":900,"wires":[["acbd528be7fb1845"]]},{"id":"2a78564de6eb9566","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":960,"wires":[["d38979592bc0d7d9"]]},{"id":"e38c4de3c1a3f376","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1020,"wires":[["60e9b4141fa5eda5"]]},{"id":"1ea50d768dfca762","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1080,"wires":[["a230d02088b8e9fe"]]},{"id":"19b5eccd2ed4a3fd","type":"change","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1140,"wires":[["0bc83716d0b87de5"]]},{"id":"35495e1861e3f768","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":960,"wires":[[]]},{"id":"8d04b8e790816502","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":960,"wires":[["35495e1861e3f768"]]},{"id":"63ea6f4a7e2a0f0a","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1020,"wires":[[]]},{"id":"719f56fe21d39179","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1020,"wires":[["63ea6f4a7e2a0f0a"]]},{"id":"5459267760d29881","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1080,"wires":[[]]},{"id":"2faf037959ea40f6","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1080,"wires":[["5459267760d29881"]]},{"id":"8a882372c6124652","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1140,"wires":[[]]},{"id":"8635f4e5faf5f41a","type":"server-state-changed","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1140,"wires":[["8a882372c6124652"]]},{"id":"a6422d91831cc442","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"a6422d91831cc442\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1370,"y":140,"wires":[["a937c7a1ffa3a812"],["61b79ccd78e56646","9223b759bfaf2fb3"]]},{"id":"61b79ccd78e56646","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":3000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"61b79ccd78e56646\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1890,"y":140,"wires":[["a937c7a1ffa3a812"],["b4a69e4ad895fc08","9223b759bfaf2fb3"]]},{"id":"b4a69e4ad895fc08","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"b4a69e4ad895fc08\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2410,"y":140,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"050839b98f915dca","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"050839b98f915dca\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1360,"y":200,"wires":[["a937c7a1ffa3a812"],["00de9b1bbfc21c20","9223b759bfaf2fb3"]]},{"id":"00de9b1bbfc21c20","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"00de9b1bbfc21c20\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1860,"y":200,"wires":[["a937c7a1ffa3a812"],["4b8d3fe4f271604e","9223b759bfaf2fb3"]]},{"id":"4b8d3fe4f271604e","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"4b8d3fe4f271604e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2380,"y":200,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"0594cb66e8c49c8f","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"0594cb66e8c49c8f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1380,"y":380,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"a5b550e6a5917f9c","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"a5b550e6a5917f9c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1920,"y":380,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"6000f79b58355d7e","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"6000f79b58355d7e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2460,"y":380,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"9a87656ac7450713","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"9a87656ac7450713\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1370,"y":320,"wires":[["a937c7a1ffa3a812"],["c5c3bfc0fd8b7315","9223b759bfaf2fb3"]]},{"id":"c5c3bfc0fd8b7315","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":50,\"color_temp_kelvin\":2000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"c5c3bfc0fd8b7315\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1890,"y":320,"wires":[["a937c7a1ffa3a812"],["f4a22a3c3e51fd77","9223b759bfaf2fb3"]]},{"id":"f4a22a3c3e51fd77","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"f4a22a3c3e51fd77\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2410,"y":320,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"cfe13b2f920f8244","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"cfe13b2f920f8244\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1370,"y":260,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"258a28bd111bf48c","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"258a28bd111bf48c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1890,"y":260,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"d64e2d4c33be8fa8","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"d64e2d4c33be8fa8\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2410,"y":260,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"54da4f224b9cb462","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"54da4f224b9cb462\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1380,"y":500,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"f4e3de0352f4e7b0","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"f4e3de0352f4e7b0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1920,"y":500,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"b57d426b969cd8b7","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"b57d426b969cd8b7\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2460,"y":500,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"62fad92f7e1d758e","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"62fad92f7e1d758e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1350,"y":560,"wires":[["a937c7a1ffa3a812"],["fd174d23e88e6add","9223b759bfaf2fb3"]]},{"id":"52d60de8615001cb","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"52d60de8615001cb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1380,"y":440,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"6386761cee149fba","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"6386761cee149fba\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1920,"y":440,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"112d1f861060fdff","type":"subflow:235e206401c6aa25","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Küche\",\"room\":\"kuche\",\"nodeId\":\"112d1f861060fdff\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"kuche","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2460,"y":440,"wires":[["a937c7a1ffa3a812"],["9223b759bfaf2fb3"]]},{"id":"fd174d23e88e6add","type":"link out","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["c6cdab8a7470a69c"],"x":1665,"y":560,"wires":[]},{"id":"8ce56c1806ad500c","type":"switch","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":980,"y":180,"wires":[["a6422d91831cc442"],["050839b98f915dca"],["cfe13b2f920f8244"],["9a87656ac7450713"],["0594cb66e8c49c8f"],["52d60de8615001cb"],["54da4f224b9cb462"],["62fad92f7e1d758e"],["a937c7a1ffa3a812"]]},{"id":"e2988a94ec2caf4c","type":"link in","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Verteiler-In","links":["e39f4719bb191300"],"x":775,"y":180,"wires":[["8ce56c1806ad500c"]]},{"id":"058600ed62bded99","type":"change","z":"ae9d5efd470d4010","g":"9baad8a52836adf7","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_kuche","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_kuche_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_kuche_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_kuche_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_kuche_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_kuche_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_kuche_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_kuche_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.prasenzmelder_kuche_beleuchtungsstarke","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.prasenzmelder_kuche_belegung_kuche","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_kuche_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_kuche","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":140,"wires":[["fb1edee230e84513"]]},{"id":"5dc2869346a5e83b","type":"server-state-changed","z":"ae9d5efd470d4010","g":"9baad8a52836adf7","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3080,"y":140,"wires":[["058600ed62bded99"],[]]},{"id":"fb1edee230e84513","type":"link out","z":"ae9d5efd470d4010","g":"9baad8a52836adf7","name":"Initialisierung","mode":"link","links":["c6cdab8a7470a69c"],"x":3685,"y":140,"wires":[]},{"id":"7142ccda2b920824","type":"link out","z":"ae9d5efd470d4010","g":"48c558e70500efea","name":"TriggerA - true","mode":"link","links":["c6cdab8a7470a69c"],"x":505,"y":980,"wires":[]},{"id":"699b9bcbcee4d8d4","type":"server-state-changed","z":"ae9d5efd470d4010","g":"9d86cc380ccd0c32","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["46a150a234cef976"]]},{"id":"46a150a234cef976","type":"switch","z":"ae9d5efd470d4010","g":"9d86cc380ccd0c32","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"3790a762b675d395","type":"subflow:d5c060879184b636","z":"ae9d5efd470d4010","g":"afa62352d8d0d997","name":"","x":400,"y":1320,"wires":[["e39f4719bb191300"]]},{"id":"c6cdab8a7470a69c","type":"link in","z":"ae9d5efd470d4010","g":"afa62352d8d0d997","name":"Verteiler-Out Connect","links":["a230d02088b8e9fe","df18152c0c28b996","0bc83716d0b87de5","95b7bec8e8693446","763f4abca607d442","9d04d5ec10d0a87d","722f5d77e10eafd8","7ae4196bffeca724","4c21c55359867128","fb1edee230e84513","6c79e19ba90a5056","2ec2ae2590ec8d25","3ee34271e901c41b","d38979592bc0d7d9","7142ccda2b920824","54725ea91d9e22d2","dffca8eab17a13a5","1826406420852102","fd2be687c79f44c4","60e9b4141fa5eda5","d23733432976d658","eebe0af9738a61e1","fd174d23e88e6add","db9d4699fb56a77e","acbd528be7fb1845","f498a86540aaa3f3","47e830054d972961","f11e54f78b484e5d"],"x":125,"y":1320,"wires":[["3790a762b675d395"]]},{"id":"e39f4719bb191300","type":"link out","z":"ae9d5efd470d4010","g":"afa62352d8d0d997","name":"Verteiler-In","mode":"link","links":["e2988a94ec2caf4c"],"x":675,"y":1320,"wires":[]},{"id":"f6c5a6eedee30d0c","type":"switch","z":"ae9d5efd470d4010","g":"145de9ec379f7212","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1180,"y":720,"wires":[["b52f2fe34dd8cccc"],["e0db3b8ace1b4f30"],["fc38a2ff2da105ea"]]},{"id":"f30739c08022157f","type":"catch","z":"ae9d5efd470d4010","g":"d61207360e50caf3","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["daad12d0d9de2744","7d881007e996cca3"]]},{"id":"daad12d0d9de2744","type":"debug","z":"ae9d5efd470d4010","g":"d61207360e50caf3","name":"LI - Küche Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1460,"wires":[]},{"id":"7d881007e996cca3","type":"function","z":"ae9d5efd470d4010","g":"d61207360e50caf3","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - Küche',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - Küche Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["016bf7783b74dc08"]]},{"id":"016bf7783b74dc08","type":"link out","z":"ae9d5efd470d4010","g":"d61207360e50caf3","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":600,"y":1460,"wires":[]},{"id":"a937c7a1ffa3a812","type":"link out","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2660,"y":560,"wires":[]},{"id":"9223b759bfaf2fb3","type":"function","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - Küche',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":620,"wires":[["ff398a902261ecd8"]]},{"id":"ff398a902261ecd8","type":"link out","z":"ae9d5efd470d4010","g":"4630cfe734f5f48b","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2660,"y":620,"wires":[]}],"configs":[]}
