.codex-build/li_batch4_step07_heizraum_20260515.flow.json
{"id":"e4c6fb7309e10e8a","label":"LI - 33 Heizraum","disabled":false,"info":"","env":[],"nodes":[{"id":"763a8a891323faf8","type":"group","z":"e4c6fb7309e10e8a","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["ba4446399a55c149","18c3977e9921bfd1","e35dbf7524859112","3fcb4798a39eee2a","69dbdbf1603e655f","876afd6fc6cadfdf","64c67f0ee68c3d22","244687a726555dac","14142cfbe72e0217","ce8fc08309868033","bbc8c45f02799bf0","45949d20cccaa07f","a0204416639c60e3","5b32fe86c96638cc","29b6204a14bedc36","9eb44c959abecdec","4dacfbd20b56a6fc","04de28b2d093b1aa","72d1b9c87aed3435"],"x":68,"y":68,"w":3674,"h":1139},{"id":"20b42212492bb7bd","type":"group","z":"e4c6fb7309e10e8a","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["761004c6cc7e06b9","31a4119fa02b8db9","b82f40efadaaf462"],"x":84,"y":1279,"w":632,"h":82},{"id":"6fda03c2f0c330e9","type":"group","z":"e4c6fb7309e10e8a","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["0a1fbf2560ff877d","6a22d542a38667fa","9446d5840e142b9e","75507f6d8b434284"],"x":74,"y":1419,"w":700,"h":82},{"id":"5b32fe86c96638cc","type":"group","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["35b903c1e3334115","f7cfa44170514cfc","52b24c5351123f15","d8fbe358b9d56dbc","1a8b3a196b50afc2","a585f6922afb9aff","af3603008344cb61","35e725ecf76d0ea3","eb0da23633e17b7d","a36ee7b711fc0b12","3ce038a89ccef150","d3233b086f551673","430a620e3497c38e","56a6298463bc0c3c","13b7a55e6af4a8f8","9b68bcdd1a530214","f2d36e675342bd4e","5349c151d56ff329","097ec4507826e0e5","d74093977fa68254"],"x":94,"y":99,"w":442,"h":1042},{"id":"29b6204a14bedc36","type":"group","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["48cce56b8802f6b6","efa2fe449059210a","549fdf37c5f099ef","9aa5e89d839856a9","ca2382cb912dce7d","bcfb83cba5661c9c","ce135a19e1f2647f","55e3a3c3821f5e45","a2e5ea67db461dfd","ce05acb17927f67d","8694420880aa394f","51027d7b9fc28783","811b28b1ef1583a1","76490bd2b0e2b787","0025f929b7b0d76b","234163e65f2640b7","25da6382296124f8","afed5a39b61955bc","308a8958e7a4c23a","43f31cfa5fda6d90","2d59e3412e6c22f7","0dfa07be1af8b64f","baebe807b20ae5d7","229d9c06c3d199cf","91cdf7db71977e9c","7f7270a8caae7ee0","2d612968494774ba","2e571cf00a679352","f6eae7bd26caf158","034ae93fc3b4e6b6","283d4d9b61022867","aafb9d6c46a456be","7fa5549ed68e9c9e","9166933a98785736","9986db5bf7c6c2f7","48e054d08edb1fcb"],"x":714,"y":619,"w":1082,"h":562},{"id":"9eb44c959abecdec","type":"group","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["3e9a488d95dd1075","60f5e4f6a08984de","28bf4a74dd5076b7","97c1816858ae689b","fe8bd7fd627fe5a6","4fd3aaa1d64327d5","7327870d16f2ce6e","c0f7159862fecc18","5b09537dc2c99fa8","2de0404608fcf9cc","33dd6393cba1e995","f92f632f29fb11b1","283a6d780cca0483","c966255848dda98b","13b489276cfd4b36","48523a29720ee347","dda80a3eb76b9fc8","713c37ebc5b90ba6","46fffc82c5f84223","b993321ce3f6eb7e","3c33382c54a4be6e","c2636e5d15ca601e","2741e0f5d1a4dfab","6bd032533d264ea2","72cc7ca6c664c2ed","b97efa857e82073f","8003d762b3329dee","a11c44ac72068c4e"],"x":724,"y":94,"w":2152,"h":607},{"id":"4dacfbd20b56a6fc","type":"group","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["cf40f3a533122f72","5f98f4ef3f34eb16","cb54496539f7c960"],"x":2874,"y":99,"w":842,"h":82},{"id":"72d1b9c87aed3435","type":"group","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["341f840f398ba0f7","39853f6faf5fd9ce"],"x":1834,"y":619,"w":432,"h":82},{"id":"ba4446399a55c149","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger1 - true","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":140,"wires":[]},{"id":"18c3977e9921bfd1","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger2 - true","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":200,"wires":[]},{"id":"e35dbf7524859112","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger3 - true","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":260,"wires":[]},{"id":"3fcb4798a39eee2a","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger1 - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":320,"wires":[]},{"id":"69dbdbf1603e655f","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger2 - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":380,"wires":[]},{"id":"876afd6fc6cadfdf","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger3 - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":440,"wires":[]},{"id":"64c67f0ee68c3d22","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger1 long - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":500,"wires":[]},{"id":"244687a726555dac","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger2 long - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":560,"wires":[]},{"id":"14142cfbe72e0217","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger3 long - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":620,"wires":[]},{"id":"ce8fc08309868033","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger1 long extended - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":680,"wires":[]},{"id":"bbc8c45f02799bf0","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger2 long extended - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":740,"wires":[]},{"id":"45949d20cccaa07f","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"Trigger3 long extended - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":800,"wires":[]},{"id":"a0204416639c60e3","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"TriggerN - true","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":860,"wires":[]},{"id":"35b903c1e3334115","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_heizraum_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":190,"y":140,"wires":[["ba4446399a55c149"],[]]},{"id":"f7cfa44170514cfc","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":190,"y":200,"wires":[["18c3977e9921bfd1"],[]]},{"id":"52b24c5351123f15","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":190,"y":260,"wires":[["e35dbf7524859112"],[]]},{"id":"d8fbe358b9d56dbc","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_heizraum_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":200,"y":320,"wires":[["3fcb4798a39eee2a"],[]]},{"id":"1a8b3a196b50afc2","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":200,"y":380,"wires":[["69dbdbf1603e655f"],[]]},{"id":"a585f6922afb9aff","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":200,"y":440,"wires":[["876afd6fc6cadfdf"],[]]},{"id":"af3603008344cb61","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_heizraum"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":210,"y":500,"wires":[["64c67f0ee68c3d22"],[]]},{"id":"35e725ecf76d0ea3","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":210,"y":560,"wires":[["244687a726555dac"],[]]},{"id":"eb0da23633e17b7d","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":210,"y":620,"wires":[["14142cfbe72e0217"],[]]},{"id":"a36ee7b711fc0b12","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_heizraum"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":240,"y":680,"wires":[["ce8fc08309868033"],[]]},{"id":"3ce038a89ccef150","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":240,"y":740,"wires":[["bbc8c45f02799bf0"],[]]},{"id":"d3233b086f551673","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":240,"y":800,"wires":[["45949d20cccaa07f"],[]]},{"id":"430a620e3497c38e","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":200,"y":860,"wires":[["a0204416639c60e3"],[]]},{"id":"56a6298463bc0c3c","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":190,"y":980,"wires":[["04de28b2d093b1aa"],[]]},{"id":"13b7a55e6af4a8f8","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":200,"y":920,"wires":[["9b68bcdd1a530214"],[]]},{"id":"9b68bcdd1a530214","type":"link out","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"TriggerN - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":920,"wires":[]},{"id":"f2d36e675342bd4e","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":200,"y":1040,"wires":[["5349c151d56ff329"],[]]},{"id":"5349c151d56ff329","type":"link out","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"TriggerA - false","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":1040,"wires":[]},{"id":"097ec4507826e0e5","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_heizraum"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":190,"y":1100,"wires":[["d74093977fa68254"]]},{"id":"d74093977fa68254","type":"link out","z":"e4c6fb7309e10e8a","g":"5b32fe86c96638cc","name":"Licht-Gruppe","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":1100,"wires":[]},{"id":"48cce56b8802f6b6","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":660,"wires":[[]]},{"id":"efa2fe449059210a","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":720,"wires":[[]]},{"id":"549fdf37c5f099ef","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"9aa5e89d839856a9","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":780,"wires":[[]]},{"id":"ca2382cb912dce7d","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":900,"wires":[[]]},{"id":"bcfb83cba5661c9c","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Licht An/Aus","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":660,"wires":[]},{"id":"ce135a19e1f2647f","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Dimmrichtung zurücksetzen","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":780,"wires":[]},{"id":"55e3a3c3821f5e45","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Automatische Dimmung","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":720,"wires":[]},{"id":"a2e5ea67db461dfd","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":840,"wires":[]},{"id":"ce05acb17927f67d","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Dimmung heller","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":900,"wires":[]},{"id":"8694420880aa394f","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Dimmung dunkler","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":960,"wires":[]},{"id":"51027d7b9fc28783","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Licht umschalten #1","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":1020,"wires":[]},{"id":"811b28b1ef1583a1","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Licht umschalten #2","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":1080,"wires":[]},{"id":"76490bd2b0e2b787","type":"link out","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Licht umschalten #3","mode":"link","links":["31a4119fa02b8db9"],"x":1755,"y":1140,"wires":[]},{"id":"0025f929b7b0d76b","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":840,"wires":[["549fdf37c5f099ef"]]},{"id":"234163e65f2640b7","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":810,"y":780,"wires":[["9aa5e89d839856a9"]]},{"id":"25da6382296124f8","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":720,"wires":[["efa2fe449059210a"]]},{"id":"afed5a39b61955bc","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":660,"wires":[["48cce56b8802f6b6"]]},{"id":"308a8958e7a4c23a","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":900,"wires":[["ca2382cb912dce7d"]]},{"id":"43f31cfa5fda6d90","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":660,"wires":[["bcfb83cba5661c9c"]]},{"id":"2d59e3412e6c22f7","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":720,"wires":[["55e3a3c3821f5e45"]]},{"id":"0dfa07be1af8b64f","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":780,"wires":[["ce135a19e1f2647f"]]},{"id":"baebe807b20ae5d7","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":840,"wires":[["a2e5ea67db461dfd"]]},{"id":"229d9c06c3d199cf","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":900,"wires":[["ce05acb17927f67d"]]},{"id":"91cdf7db71977e9c","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["8694420880aa394f"]]},{"id":"7f7270a8caae7ee0","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1020,"wires":[["51027d7b9fc28783"]]},{"id":"2d612968494774ba","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["811b28b1ef1583a1"]]},{"id":"2e571cf00a679352","type":"change","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1140,"wires":[["76490bd2b0e2b787"]]},{"id":"f6eae7bd26caf158","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":960,"wires":[[]]},{"id":"034ae93fc3b4e6b6","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":960,"wires":[["f6eae7bd26caf158"]]},{"id":"283d4d9b61022867","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1020,"wires":[[]]},{"id":"aafb9d6c46a456be","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1020,"wires":[["283d4d9b61022867"]]},{"id":"7fa5549ed68e9c9e","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1080,"wires":[[]]},{"id":"9166933a98785736","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1080,"wires":[["7fa5549ed68e9c9e"]]},{"id":"9986db5bf7c6c2f7","type":"switch","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1140,"wires":[[]]},{"id":"48e054d08edb1fcb","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"29b6204a14bedc36","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1140,"wires":[["9986db5bf7c6c2f7"]]},{"id":"3e9a488d95dd1075","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"3e9a488d95dd1075\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1360,"y":140,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"60f5e4f6a08984de","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"kelvin\":4000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"60f5e4f6a08984de\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1880,"y":140,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"28bf4a74dd5076b7","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"28bf4a74dd5076b7\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2400,"y":140,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"97c1816858ae689b","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"97c1816858ae689b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1350,"y":200,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"fe8bd7fd627fe5a6","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"fe8bd7fd627fe5a6\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1850,"y":200,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"4fd3aaa1d64327d5","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"4fd3aaa1d64327d5\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2370,"y":200,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"7327870d16f2ce6e","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"7327870d16f2ce6e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1370,"y":380,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"c0f7159862fecc18","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"c0f7159862fecc18\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1910,"y":380,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"5b09537dc2c99fa8","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"5b09537dc2c99fa8\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2450,"y":380,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"2de0404608fcf9cc","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"2de0404608fcf9cc\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1360,"y":320,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"33dd6393cba1e995","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"33dd6393cba1e995\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1880,"y":320,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"f92f632f29fb11b1","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"f92f632f29fb11b1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2400,"y":320,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"283a6d780cca0483","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"283a6d780cca0483\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1360,"y":260,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"c966255848dda98b","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"c966255848dda98b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1880,"y":260,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"13b489276cfd4b36","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"13b489276cfd4b36\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2400,"y":260,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"48523a29720ee347","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"48523a29720ee347\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1370,"y":500,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"dda80a3eb76b9fc8","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"dda80a3eb76b9fc8\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1910,"y":500,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"713c37ebc5b90ba6","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"713c37ebc5b90ba6\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2450,"y":500,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"46fffc82c5f84223","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"46fffc82c5f84223\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1340,"y":560,"wires":[["b97efa857e82073f"],["2741e0f5d1a4dfab","8003d762b3329dee"]]},{"id":"b993321ce3f6eb7e","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"b993321ce3f6eb7e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1370,"y":440,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"3c33382c54a4be6e","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"3c33382c54a4be6e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1910,"y":440,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"c2636e5d15ca601e","type":"subflow:235e206401c6aa25","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Heizraum\",\"room\":\"heizraum\",\"nodeId\":\"c2636e5d15ca601e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"heizraum","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2450,"y":440,"wires":[["b97efa857e82073f"],["8003d762b3329dee"]]},{"id":"2741e0f5d1a4dfab","type":"link out","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["31a4119fa02b8db9"],"x":1655,"y":560,"wires":[]},{"id":"6bd032533d264ea2","type":"switch","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":970,"y":180,"wires":[["3e9a488d95dd1075"],["97c1816858ae689b"],["283a6d780cca0483"],["2de0404608fcf9cc"],["7327870d16f2ce6e"],["b993321ce3f6eb7e"],["48523a29720ee347"],["46fffc82c5f84223"],["b97efa857e82073f"]]},{"id":"72cc7ca6c664c2ed","type":"link in","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Verteiler-In","links":["b82f40efadaaf462"],"x":765,"y":180,"wires":[["6bd032533d264ea2"]]},{"id":"cf40f3a533122f72","type":"change","z":"e4c6fb7309e10e8a","g":"4dacfbd20b56a6fc","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_heizraum_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_heizraum_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_heizraum_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_heizraum_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_heizraum_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_heizraum_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.lichtschalter_heizraum","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_heizraum","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_heizraum","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3450,"y":140,"wires":[["cb54496539f7c960"]]},{"id":"5f98f4ef3f34eb16","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"4dacfbd20b56a6fc","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3070,"y":140,"wires":[["cf40f3a533122f72"],[]]},{"id":"cb54496539f7c960","type":"link out","z":"e4c6fb7309e10e8a","g":"4dacfbd20b56a6fc","name":"Initialisierung","mode":"link","links":["31a4119fa02b8db9"],"x":3675,"y":140,"wires":[]},{"id":"04de28b2d093b1aa","type":"link out","z":"e4c6fb7309e10e8a","g":"763a8a891323faf8","name":"TriggerA - true","mode":"link","links":["31a4119fa02b8db9"],"x":495,"y":980,"wires":[]},{"id":"341f840f398ba0f7","type":"server-state-changed","z":"e4c6fb7309e10e8a","g":"72d1b9c87aed3435","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["39853f6faf5fd9ce"]]},{"id":"761004c6cc7e06b9","type":"subflow:d5c060879184b636","z":"e4c6fb7309e10e8a","g":"20b42212492bb7bd","name":"","x":400,"y":1320,"wires":[["b82f40efadaaf462"]]},{"id":"31a4119fa02b8db9","type":"link in","z":"e4c6fb7309e10e8a","g":"20b42212492bb7bd","name":"Verteiler-Out Connect","links":["811b28b1ef1583a1","bcfb83cba5661c9c","76490bd2b0e2b787","ce8fc08309868033","69dbdbf1603e655f","3fcb4798a39eee2a","9b68bcdd1a530214","64c67f0ee68c3d22","244687a726555dac","cb54496539f7c960","55e3a3c3821f5e45","876afd6fc6cadfdf","ce135a19e1f2647f","8694420880aa394f","04de28b2d093b1aa","18c3977e9921bfd1","14142cfbe72e0217","a2e5ea67db461dfd","ba4446399a55c149","51027d7b9fc28783","a0204416639c60e3","d74093977fa68254","2741e0f5d1a4dfab","bbc8c45f02799bf0","ce05acb17927f67d","5349c151d56ff329","45949d20cccaa07f","e35dbf7524859112"],"x":125,"y":1320,"wires":[["761004c6cc7e06b9"]]},{"id":"b82f40efadaaf462","type":"link out","z":"e4c6fb7309e10e8a","g":"20b42212492bb7bd","name":"Verteiler-In","mode":"link","links":["72cc7ca6c664c2ed"],"x":675,"y":1320,"wires":[]},{"id":"39853f6faf5fd9ce","type":"switch","z":"e4c6fb7309e10e8a","g":"72d1b9c87aed3435","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"0a1fbf2560ff877d","type":"catch","z":"e4c6fb7309e10e8a","g":"6fda03c2f0c330e9","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["6a22d542a38667fa","9446d5840e142b9e"]]},{"id":"6a22d542a38667fa","type":"debug","z":"e4c6fb7309e10e8a","g":"6fda03c2f0c330e9","name":"LI - Heizraum Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1460,"wires":[]},{"id":"9446d5840e142b9e","type":"function","z":"e4c6fb7309e10e8a","g":"6fda03c2f0c330e9","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33 Heizraum',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33 Heizraum Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["75507f6d8b434284"]]},{"id":"75507f6d8b434284","type":"link out","z":"e4c6fb7309e10e8a","g":"6fda03c2f0c330e9","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":590,"y":1460,"wires":[]},{"id":"b97efa857e82073f","type":"link out","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2650,"y":560,"wires":[]},{"id":"8003d762b3329dee","type":"function","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33 Heizraum',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":620,"wires":[["a11c44ac72068c4e"]]},{"id":"a11c44ac72068c4e","type":"link out","z":"e4c6fb7309e10e8a","g":"9eb44c959abecdec","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2650,"y":620,"wires":[]}],"configs":[]}
