.codex-build/li_batch4_step09_speicher_20260515.flow.json
{"id":"e83ece8225517574","label":"LI - 33 Speicher","disabled":false,"info":"","env":[],"nodes":[{"id":"9f27cf5b6edba99c","type":"group","z":"e83ece8225517574","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["e1ef771a6e1c6c0c","289dfc6d001783c2","3878e4b780950b88","c6e8439d765d943d","f67a62e7859ac906","17086595cd4a20e5","31f571156bea11ab","dac7fb9ad8a862cb","8779f9b9026d43a1","19a7de4135a36ee9","cbbb6d48698a29ac","c8f62f3b65cd947f","f76a35d94df2b830","6ba14e8b082eae98","dd2e3381c01a94f3","9f52d7c7ed37188c","ce6eb0f0f53b729b","bdc48d6576ad7564","afc29d05e2275eaa"],"x":68,"y":68,"w":3674,"h":1139},{"id":"c261af40a56769c2","type":"group","z":"e83ece8225517574","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["760c66a4946e5474","3a22a0280b46ae76","bcc3a179cb85e14e"],"x":74,"y":1279,"w":632,"h":82},{"id":"94d3f9bd06347cc7","type":"group","z":"e83ece8225517574","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["24c3c0555b46b9ad","e16b24dad9e0796c","2ed17094f2151236","36ac81c4d6a720e5"],"x":74,"y":1419,"w":700,"h":82},{"id":"6ba14e8b082eae98","type":"group","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["4f2145bb50925844","23ae5790dd85869a","6bae5f9a28add7ed","f59a7f99db129e78","276495e36dcf4e34","c68b45c01e3bae94","8d2e5432ecda9cd1","a5a56003ac6d6330","7f2da825d67b32e4","da3e6285c20abd50","49a42bf39608bd09","0f2f76ad48e5590a","10bd9220eb95460e","78de81451c0b8ead","e593a94157e1d70a","ea42ccb158fd009c","d92cb65e12f43b47","6443f63f1457248d","d5e3e406605001e0","b662d1a1d4ec4521"],"x":94,"y":99,"w":442,"h":1042},{"id":"dd2e3381c01a94f3","type":"group","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["9f21db555b3c1ece","7c6bc95ee7d3c068","40f247d3d1b9e765","78f35f748c3b6cd9","f40b40dc094fa067","9bfc813bb4ea7cda","613665d5b954c83d","1dd085e64e144c6b","e8062906e58dd35a","2e8706cd229bf0b1","ab0973f41830467c","740deb4cf6fe7088","d28acc638a131737","95d23095dfc62dd2","6b43c3be2317ba5e","a91e44a8e3633c76","2bd9ab7d5cd57e7c","f0d49a2421016a04","f0d430c713f27f65","f43d128ad7c5602d","49d3588db277f156","f861c9325f18fa6e","48f51c7e4ebe0b13","a422dc6536e84c8f","68294fa7a2346565","0e317c60e147f4eb","e29eeb711470d1d5","9e2de9a4278c897e","c3837285b17ea234","6bc7463bb6845b9d","76dcbdd8ef74512f","6ea9f8fa8c6e7f57","43671d3f19937261","689e7f04549ecc6e","c988fd4495ad3c9b","84eff680ca82872c"],"x":714,"y":619,"w":1082,"h":562},{"id":"9f52d7c7ed37188c","type":"group","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["dbd19a77ae1eea9c","27348efeab5361b0","d9294bdad25717eb","4c85724e7e43bd71","2707bb6f16ab860f","6bb2fc78625f8515","dedcb6f189ac2c91","c00fcfbdf54b5639","8ad4d9c26f045237","2ba1db428bf06278","f02ddb456c799ab4","48a8539816cfeb3e","ed3219bf5cd81f3a","1b4240bda6eb2a1e","c49ea25ac17cab21","51eab00b5cdb6cb8","c4a7a7dfe1cdc97c","de1fa0ef3fb12bca","783d739b26f23ac9","ff627d7da35c09aa","796b3e3862643032","9ecb38aef2512f77","1dc6ec2d972a1c8f","63649eaa61eaaa90","c0d22c5c2c755a74","c8aed539dfa703fb","bca4d6fb5651b7c6","0e538d41f502bcac"],"x":724,"y":94,"w":2152,"h":607},{"id":"ce6eb0f0f53b729b","type":"group","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["ab2b388e765318d8","95d3779a94244565","c4475262e5216a38"],"x":2874,"y":99,"w":842,"h":82},{"id":"afc29d05e2275eaa","type":"group","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["ba1d0ee0e323f284","9f44119ea34d23e9"],"x":1824,"y":619,"w":432,"h":82},{"id":"e1ef771a6e1c6c0c","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger1 - true","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":140,"wires":[]},{"id":"289dfc6d001783c2","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger2 - true","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":200,"wires":[]},{"id":"3878e4b780950b88","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger3 - true","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":260,"wires":[]},{"id":"c6e8439d765d943d","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger1 - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":320,"wires":[]},{"id":"f67a62e7859ac906","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger2 - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":380,"wires":[]},{"id":"17086595cd4a20e5","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger3 - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":440,"wires":[]},{"id":"31f571156bea11ab","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger1 long - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":500,"wires":[]},{"id":"dac7fb9ad8a862cb","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger2 long - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":560,"wires":[]},{"id":"8779f9b9026d43a1","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger3 long - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":620,"wires":[]},{"id":"19a7de4135a36ee9","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger1 long extended - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":680,"wires":[]},{"id":"cbbb6d48698a29ac","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger2 long extended - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":740,"wires":[]},{"id":"c8f62f3b65cd947f","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"Trigger3 long extended - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":800,"wires":[]},{"id":"f76a35d94df2b830","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"TriggerN - true","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":860,"wires":[]},{"id":"4f2145bb50925844","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_speicher_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":190,"y":140,"wires":[["e1ef771a6e1c6c0c"],[]]},{"id":"23ae5790dd85869a","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":190,"y":200,"wires":[["289dfc6d001783c2"],[]]},{"id":"6bae5f9a28add7ed","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":190,"y":260,"wires":[["3878e4b780950b88"],[]]},{"id":"f59a7f99db129e78","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_speicher_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":200,"y":320,"wires":[["c6e8439d765d943d"],[]]},{"id":"276495e36dcf4e34","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":200,"y":380,"wires":[["f67a62e7859ac906"],[]]},{"id":"c68b45c01e3bae94","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":200,"y":440,"wires":[["17086595cd4a20e5"],[]]},{"id":"8d2e5432ecda9cd1","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_speicher"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":210,"y":500,"wires":[["31f571156bea11ab"],[]]},{"id":"a5a56003ac6d6330","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":210,"y":560,"wires":[["dac7fb9ad8a862cb"],[]]},{"id":"7f2da825d67b32e4","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":210,"y":620,"wires":[["8779f9b9026d43a1"],[]]},{"id":"da3e6285c20abd50","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_speicher"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":240,"y":680,"wires":[["19a7de4135a36ee9"],[]]},{"id":"49a42bf39608bd09","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":240,"y":740,"wires":[["cbbb6d48698a29ac"],[]]},{"id":"0f2f76ad48e5590a","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":240,"y":800,"wires":[["c8f62f3b65cd947f"],[]]},{"id":"10bd9220eb95460e","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":200,"y":860,"wires":[["f76a35d94df2b830"],[]]},{"id":"78de81451c0b8ead","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":190,"y":980,"wires":[["bdc48d6576ad7564"],[]]},{"id":"e593a94157e1d70a","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":200,"y":920,"wires":[["ea42ccb158fd009c"],[]]},{"id":"ea42ccb158fd009c","type":"link out","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"TriggerN - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":920,"wires":[]},{"id":"d92cb65e12f43b47","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":200,"y":1040,"wires":[["6443f63f1457248d"],[]]},{"id":"6443f63f1457248d","type":"link out","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"TriggerA - false","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":1040,"wires":[]},{"id":"d5e3e406605001e0","type":"server-state-changed","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_speicher"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":190,"y":1100,"wires":[["b662d1a1d4ec4521"]]},{"id":"b662d1a1d4ec4521","type":"link out","z":"e83ece8225517574","g":"6ba14e8b082eae98","name":"Licht-Gruppe","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":1100,"wires":[]},{"id":"9f21db555b3c1ece","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":660,"wires":[[]]},{"id":"7c6bc95ee7d3c068","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":720,"wires":[[]]},{"id":"40f247d3d1b9e765","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"78f35f748c3b6cd9","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":780,"wires":[[]]},{"id":"f40b40dc094fa067","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":900,"wires":[[]]},{"id":"9bfc813bb4ea7cda","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Licht An/Aus","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":660,"wires":[]},{"id":"613665d5b954c83d","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Dimmrichtung zurücksetzen","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":780,"wires":[]},{"id":"1dd085e64e144c6b","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Automatische Dimmung","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":720,"wires":[]},{"id":"e8062906e58dd35a","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":840,"wires":[]},{"id":"2e8706cd229bf0b1","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Dimmung heller","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":900,"wires":[]},{"id":"ab0973f41830467c","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Dimmung dunkler","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":960,"wires":[]},{"id":"740deb4cf6fe7088","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Licht umschalten #1","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":1020,"wires":[]},{"id":"d28acc638a131737","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Licht umschalten #2","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":1080,"wires":[]},{"id":"95d23095dfc62dd2","type":"link out","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Licht umschalten #3","mode":"link","links":["3a22a0280b46ae76"],"x":1755,"y":1140,"wires":[]},{"id":"6b43c3be2317ba5e","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":840,"wires":[["40f247d3d1b9e765"]]},{"id":"a91e44a8e3633c76","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":810,"y":780,"wires":[["78f35f748c3b6cd9"]]},{"id":"2bd9ab7d5cd57e7c","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":720,"wires":[["7c6bc95ee7d3c068"]]},{"id":"f0d49a2421016a04","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":660,"wires":[["9f21db555b3c1ece"]]},{"id":"f0d430c713f27f65","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":900,"wires":[["f40b40dc094fa067"]]},{"id":"f43d128ad7c5602d","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":660,"wires":[["9bfc813bb4ea7cda"]]},{"id":"49d3588db277f156","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":720,"wires":[["1dd085e64e144c6b"]]},{"id":"f861c9325f18fa6e","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":780,"wires":[["613665d5b954c83d"]]},{"id":"48f51c7e4ebe0b13","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":840,"wires":[["e8062906e58dd35a"]]},{"id":"a422dc6536e84c8f","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":900,"wires":[["2e8706cd229bf0b1"]]},{"id":"68294fa7a2346565","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["ab0973f41830467c"]]},{"id":"0e317c60e147f4eb","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1020,"wires":[["740deb4cf6fe7088"]]},{"id":"e29eeb711470d1d5","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["d28acc638a131737"]]},{"id":"9e2de9a4278c897e","type":"change","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1140,"wires":[["95d23095dfc62dd2"]]},{"id":"c3837285b17ea234","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":960,"wires":[[]]},{"id":"6bc7463bb6845b9d","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":960,"wires":[["c3837285b17ea234"]]},{"id":"76dcbdd8ef74512f","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1020,"wires":[[]]},{"id":"6ea9f8fa8c6e7f57","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1020,"wires":[["76dcbdd8ef74512f"]]},{"id":"43671d3f19937261","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1080,"wires":[[]]},{"id":"689e7f04549ecc6e","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1080,"wires":[["43671d3f19937261"]]},{"id":"c988fd4495ad3c9b","type":"switch","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1140,"wires":[[]]},{"id":"84eff680ca82872c","type":"server-state-changed","z":"e83ece8225517574","g":"dd2e3381c01a94f3","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1140,"wires":[["c988fd4495ad3c9b"]]},{"id":"dbd19a77ae1eea9c","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"dbd19a77ae1eea9c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1360,"y":140,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"27348efeab5361b0","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"27348efeab5361b0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1880,"y":140,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"d9294bdad25717eb","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"d9294bdad25717eb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2400,"y":140,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"4c85724e7e43bd71","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"4c85724e7e43bd71\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1350,"y":200,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"2707bb6f16ab860f","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"2707bb6f16ab860f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1850,"y":200,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"6bb2fc78625f8515","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"6bb2fc78625f8515\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2370,"y":200,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"dedcb6f189ac2c91","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"dedcb6f189ac2c91\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1370,"y":380,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"c00fcfbdf54b5639","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"c00fcfbdf54b5639\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1910,"y":380,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"8ad4d9c26f045237","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"8ad4d9c26f045237\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2450,"y":380,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"2ba1db428bf06278","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"2ba1db428bf06278\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1360,"y":320,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"f02ddb456c799ab4","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"f02ddb456c799ab4\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1880,"y":320,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"48a8539816cfeb3e","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"48a8539816cfeb3e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2400,"y":320,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"ed3219bf5cd81f3a","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"ed3219bf5cd81f3a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1360,"y":260,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"1b4240bda6eb2a1e","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"1b4240bda6eb2a1e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1880,"y":260,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"c49ea25ac17cab21","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"c49ea25ac17cab21\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2400,"y":260,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"51eab00b5cdb6cb8","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"51eab00b5cdb6cb8\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1370,"y":500,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"c4a7a7dfe1cdc97c","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"c4a7a7dfe1cdc97c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1910,"y":500,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"de1fa0ef3fb12bca","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"de1fa0ef3fb12bca\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2450,"y":500,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"783d739b26f23ac9","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"783d739b26f23ac9\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1340,"y":560,"wires":[["c8aed539dfa703fb"],["1dc6ec2d972a1c8f","bca4d6fb5651b7c6"]]},{"id":"ff627d7da35c09aa","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"ff627d7da35c09aa\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1370,"y":440,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"796b3e3862643032","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"796b3e3862643032\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1910,"y":440,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"9ecb38aef2512f77","type":"subflow:235e206401c6aa25","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Speicher\",\"room\":\"speicher\",\"nodeId\":\"9ecb38aef2512f77\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"speicher","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2450,"y":440,"wires":[["c8aed539dfa703fb"],["bca4d6fb5651b7c6"]]},{"id":"1dc6ec2d972a1c8f","type":"link out","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["3a22a0280b46ae76"],"x":1655,"y":560,"wires":[]},{"id":"63649eaa61eaaa90","type":"switch","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":970,"y":180,"wires":[["dbd19a77ae1eea9c"],["4c85724e7e43bd71"],["ed3219bf5cd81f3a"],["2ba1db428bf06278"],["dedcb6f189ac2c91"],["ff627d7da35c09aa"],["51eab00b5cdb6cb8"],["783d739b26f23ac9"],["c8aed539dfa703fb"]]},{"id":"c0d22c5c2c755a74","type":"link in","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Verteiler-In","links":["bcc3a179cb85e14e"],"x":765,"y":180,"wires":[["63649eaa61eaaa90"]]},{"id":"ab2b388e765318d8","type":"change","z":"e83ece8225517574","g":"ce6eb0f0f53b729b","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_speicher","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_speicher_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_speicher_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_speicher_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_speicher_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_speicher_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_speicher_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_speicher_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_speicher_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_speicher_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_speicher_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.deckenleuchte_speicher","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_speicher","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"light.licht_gruppe_speicher","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_speicher","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3450,"y":140,"wires":[["c4475262e5216a38"]]},{"id":"95d3779a94244565","type":"server-state-changed","z":"e83ece8225517574","g":"ce6eb0f0f53b729b","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3070,"y":140,"wires":[["ab2b388e765318d8"],[]]},{"id":"c4475262e5216a38","type":"link out","z":"e83ece8225517574","g":"ce6eb0f0f53b729b","name":"Initialisierung","mode":"link","links":["3a22a0280b46ae76"],"x":3675,"y":140,"wires":[]},{"id":"bdc48d6576ad7564","type":"link out","z":"e83ece8225517574","g":"9f27cf5b6edba99c","name":"TriggerA - true","mode":"link","links":["3a22a0280b46ae76"],"x":495,"y":980,"wires":[]},{"id":"ba1d0ee0e323f284","type":"server-state-changed","z":"e83ece8225517574","g":"afc29d05e2275eaa","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1930,"y":660,"wires":[["9f44119ea34d23e9"]]},{"id":"9f44119ea34d23e9","type":"switch","z":"e83ece8225517574","g":"afc29d05e2275eaa","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2180,"y":660,"wires":[[]]},{"id":"760c66a4946e5474","type":"subflow:d5c060879184b636","z":"e83ece8225517574","g":"c261af40a56769c2","name":"","x":390,"y":1320,"wires":[["bcc3a179cb85e14e"]]},{"id":"3a22a0280b46ae76","type":"link in","z":"e83ece8225517574","g":"c261af40a56769c2","name":"Verteiler-Out Connect","links":["d28acc638a131737","9bfc813bb4ea7cda","95d23095dfc62dd2","19a7de4135a36ee9","f67a62e7859ac906","c6e8439d765d943d","ea42ccb158fd009c","31f571156bea11ab","dac7fb9ad8a862cb","c4475262e5216a38","1dd085e64e144c6b","17086595cd4a20e5","613665d5b954c83d","ab0973f41830467c","bdc48d6576ad7564","289dfc6d001783c2","8779f9b9026d43a1","e8062906e58dd35a","e1ef771a6e1c6c0c","740deb4cf6fe7088","f76a35d94df2b830","b662d1a1d4ec4521","1dc6ec2d972a1c8f","cbbb6d48698a29ac","2e8706cd229bf0b1","6443f63f1457248d","c8f62f3b65cd947f","3878e4b780950b88"],"x":115,"y":1320,"wires":[["760c66a4946e5474"]]},{"id":"bcc3a179cb85e14e","type":"link out","z":"e83ece8225517574","g":"c261af40a56769c2","name":"Verteiler-In","mode":"link","links":["c0d22c5c2c755a74"],"x":665,"y":1320,"wires":[]},{"id":"24c3c0555b46b9ad","type":"catch","z":"e83ece8225517574","g":"94d3f9bd06347cc7","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["e16b24dad9e0796c","2ed17094f2151236"]]},{"id":"e16b24dad9e0796c","type":"debug","z":"e83ece8225517574","g":"94d3f9bd06347cc7","name":"LI - Speicher Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":1460,"wires":[]},{"id":"2ed17094f2151236","type":"function","z":"e83ece8225517574","g":"94d3f9bd06347cc7","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33 Speicher',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33 Speicher Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["36ac81c4d6a720e5"]]},{"id":"36ac81c4d6a720e5","type":"link out","z":"e83ece8225517574","g":"94d3f9bd06347cc7","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":580,"y":1460,"wires":[]},{"id":"c8aed539dfa703fb","type":"link out","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2650,"y":560,"wires":[]},{"id":"bca4d6fb5651b7c6","type":"function","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33 Speicher',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":620,"wires":[["0e538d41f502bcac"]]},{"id":"0e538d41f502bcac","type":"link out","z":"e83ece8225517574","g":"9f52d7c7ed37188c","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2650,"y":620,"wires":[]}],"configs":[]}
