.codex-build/li_batch4_step06_garage_20260515.flow.json
{"id":"321b9e5b5c279dd0","label":"LI - 33 Garage","disabled":false,"info":"","env":[],"nodes":[{"id":"50b3606059d01625","type":"group","z":"321b9e5b5c279dd0","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["dc2898496873996d","628c4832715e6c72","8eef4d540fe1e817","e6475339adb56cf5","2a34dcad071cdda2","28cfd86b9c3337a4","33c1634b6413a332","3ddb2bbdf6966a47","6b2f63da06805934","1d71c46f3f72513a","d400d3906cc7b2ab","f41a11fdd7d84dbf","b12bff82dbde4b70","3e1ff11d19ff35a7","fe0b38a1857fa230","bbffbc7556563bc0","f1957c4a028a53eb","32f71969f40fa5b2","36a498a3f52ed49e"],"x":78,"y":68,"w":3674,"h":1139},{"id":"4276fa33800a6791","type":"group","z":"321b9e5b5c279dd0","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["563ea1e6b655c141","548950e43b52b3c0","0e2b5195ed016c27"],"x":84,"y":1279,"w":632,"h":82},{"id":"8a93acd3e5f07fb3","type":"group","z":"321b9e5b5c279dd0","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["97241db5b884f3e1","7d15f5c7fc99df5f","99b638b02f595b17","fd0b567dc92cc057"],"x":74,"y":1419,"w":700,"h":82},{"id":"3e1ff11d19ff35a7","type":"group","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["57ee2b3e0fb07b59","ddbdd95520b9b23d","df62210d962fbf06","390ab8b0051de0a9","73bd669a6aacdfb1","e42640945218671c","ddde3ceb00744b21","2721c6a440ee065f","710622daa28c0bf7","4c417faa8df0a826","935e992789afed82","ef68e76071cbd01b","bc4f41db5d9d5ce7","c9b49445daa15b97","f2ffc7044ec72e0e","43982c724459415d","77dbf952298cbd8e","2b5df1899cd9fe34","15ffb5a1a8351499","f33aa8af2e698fe2"],"x":104,"y":99,"w":442,"h":1042},{"id":"fe0b38a1857fa230","type":"group","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["272bfccd40c6f29f","02c569193ee057cc","a318bcd3e2b9ffd8","010e82c1c3d39e68","2470bbc1e2b7f9b2","659ba8a6007aba69","d96abc5cd0baae49","d68376a8c56ccc53","eb34691e4a1a98ea","84c53c68ab294a89","667682a6a17f2843","a977b923bfdd1de0","6e8cf06ddc2a0e54","888597c2bc2a3b2f","bdea85b969ae0f53","046598b2e2d7987a","8b68eee279c6e96e","eced0e18dd5d0617","0186e4d2c81664a0","1e8445187a9e3f33","b058fd2da74edbe0","7ebeebe6aaebcce5","4618959a5088f908","7090fa6022ca76ae","dcf65839e84b0b02","30e3636e3367b260","6770da8349bdf8a0","52a2c3fc24263ec2","56eb1af4118b950f","3fc0756b81df0a6c","53b3bfe34e16d17f","0592d3425df197ae","f64cc28db1b4afe3","058292352b58c097","b93562e908152bbe","8ae84ea39fd00413"],"x":724,"y":619,"w":1082,"h":562},{"id":"bbffbc7556563bc0","type":"group","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["43e1a63af57fe0d0","7a1fffcb83dcbfd4","cddbc19a88bc5af7","df004793f366fd9e","f2fd84039664d81c","0cf2d06fe960bf1b","c8d2e12a8b07028c","3085565bc895aca0","e99e24c0fa5076f7","a88385928f2344ee","3f5732bfb35f8779","98bebcb8639b0816","0305be11d346f23b","036e06bd18db0f65","d1277b229a2c0100","536e88265bad1da9","9bb408a1cc2a6112","bf3a54df62980308","881c1a58856eae79","bf251147255e4dfa","d0f4a9982242d4eb","e8f5d6f9820c3a3c","e9a69eb60bf2cd22","95415ec9eafb6cb4","7d9ce20f304deb4d","4cc9d296414a273b","986d18e8c934d971","b5de4fcbc9a9782a"],"x":734,"y":94,"w":2152,"h":607},{"id":"f1957c4a028a53eb","type":"group","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["b0a4753c18087b91","15e6bb0107d10910","9afe324bd9430769"],"x":2884,"y":99,"w":842,"h":82},{"id":"36a498a3f52ed49e","type":"group","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["5d700d3621b27727","d3068dd51f443115"],"x":1834,"y":619,"w":432,"h":82},{"id":"dc2898496873996d","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger1 - true","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":140,"wires":[]},{"id":"628c4832715e6c72","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger2 - true","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":200,"wires":[]},{"id":"8eef4d540fe1e817","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger3 - true","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":260,"wires":[]},{"id":"e6475339adb56cf5","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger1 - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":320,"wires":[]},{"id":"2a34dcad071cdda2","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger2 - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":380,"wires":[]},{"id":"28cfd86b9c3337a4","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger3 - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":440,"wires":[]},{"id":"33c1634b6413a332","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger1 long - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":500,"wires":[]},{"id":"3ddb2bbdf6966a47","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger2 long - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":560,"wires":[]},{"id":"6b2f63da06805934","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger3 long - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":620,"wires":[]},{"id":"1d71c46f3f72513a","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger1 long extended - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":680,"wires":[]},{"id":"d400d3906cc7b2ab","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger2 long extended - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":740,"wires":[]},{"id":"f41a11fdd7d84dbf","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"Trigger3 long extended - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":800,"wires":[]},{"id":"b12bff82dbde4b70","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"TriggerN - true","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":860,"wires":[]},{"id":"57ee2b3e0fb07b59","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_garage_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":200,"y":140,"wires":[["dc2898496873996d"],[]]},{"id":"ddbdd95520b9b23d","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":200,"y":200,"wires":[["628c4832715e6c72"],[]]},{"id":"df62210d962fbf06","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":200,"y":260,"wires":[["8eef4d540fe1e817"],[]]},{"id":"390ab8b0051de0a9","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_garage_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":210,"y":320,"wires":[["e6475339adb56cf5"],[]]},{"id":"73bd669a6aacdfb1","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":210,"y":380,"wires":[["2a34dcad071cdda2"],[]]},{"id":"e42640945218671c","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":210,"y":440,"wires":[["28cfd86b9c3337a4"],[]]},{"id":"ddde3ceb00744b21","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_33a_anwesenheitserkennung_garage"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":220,"y":500,"wires":[["33c1634b6413a332"],[]]},{"id":"2721c6a440ee065f","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":220,"y":560,"wires":[["3ddb2bbdf6966a47"],[]]},{"id":"710622daa28c0bf7","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":220,"y":620,"wires":[["6b2f63da06805934"],[]]},{"id":"4c417faa8df0a826","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_33a_anwesenheitserkennung_garage"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":250,"y":680,"wires":[["1d71c46f3f72513a"],[]]},{"id":"935e992789afed82","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":250,"y":740,"wires":[["d400d3906cc7b2ab"],[]]},{"id":"ef68e76071cbd01b","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":250,"y":800,"wires":[["f41a11fdd7d84dbf"],[]]},{"id":"bc4f41db5d9d5ce7","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":210,"y":860,"wires":[["b12bff82dbde4b70"],[]]},{"id":"c9b49445daa15b97","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":200,"y":980,"wires":[["32f71969f40fa5b2"],[]]},{"id":"f2ffc7044ec72e0e","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":210,"y":920,"wires":[["43982c724459415d"],[]]},{"id":"43982c724459415d","type":"link out","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"TriggerN - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":920,"wires":[]},{"id":"77dbf952298cbd8e","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":210,"y":1040,"wires":[["2b5df1899cd9fe34"],[]]},{"id":"2b5df1899cd9fe34","type":"link out","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"TriggerA - false","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":1040,"wires":[]},{"id":"15ffb5a1a8351499","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_garage"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":200,"y":1100,"wires":[["f33aa8af2e698fe2"]]},{"id":"f33aa8af2e698fe2","type":"link out","z":"321b9e5b5c279dd0","g":"3e1ff11d19ff35a7","name":"Licht-Gruppe","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":1100,"wires":[]},{"id":"272bfccd40c6f29f","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":840,"wires":[[]]},{"id":"02c569193ee057cc","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":780,"wires":[[]]},{"id":"a318bcd3e2b9ffd8","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":900,"wires":[[]]},{"id":"010e82c1c3d39e68","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Licht An/Aus","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":660,"wires":[]},{"id":"2470bbc1e2b7f9b2","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Dimmrichtung zurücksetzen","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":780,"wires":[]},{"id":"659ba8a6007aba69","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Automatische Dimmung","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":720,"wires":[]},{"id":"d96abc5cd0baae49","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":840,"wires":[]},{"id":"d68376a8c56ccc53","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Dimmung heller","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":900,"wires":[]},{"id":"eb34691e4a1a98ea","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Dimmung dunkler","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":960,"wires":[]},{"id":"84c53c68ab294a89","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Licht umschalten #1","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":1020,"wires":[]},{"id":"667682a6a17f2843","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Licht umschalten #2","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":1080,"wires":[]},{"id":"a977b923bfdd1de0","type":"link out","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Licht umschalten #3","mode":"link","links":["548950e43b52b3c0"],"x":1765,"y":1140,"wires":[]},{"id":"6e8cf06ddc2a0e54","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":840,"wires":[["272bfccd40c6f29f"]]},{"id":"888597c2bc2a3b2f","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":820,"y":780,"wires":[["02c569193ee057cc"]]},{"id":"bdea85b969ae0f53","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":720,"wires":[["8ae84ea39fd00413"]]},{"id":"046598b2e2d7987a","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":660,"wires":[["b93562e908152bbe"]]},{"id":"8b68eee279c6e96e","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":900,"wires":[["a318bcd3e2b9ffd8"]]},{"id":"eced0e18dd5d0617","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["010e82c1c3d39e68"]]},{"id":"0186e4d2c81664a0","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":720,"wires":[["659ba8a6007aba69"]]},{"id":"1e8445187a9e3f33","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":780,"wires":[["2470bbc1e2b7f9b2"]]},{"id":"b058fd2da74edbe0","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":840,"wires":[["d96abc5cd0baae49"]]},{"id":"7ebeebe6aaebcce5","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":900,"wires":[["d68376a8c56ccc53"]]},{"id":"4618959a5088f908","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":960,"wires":[["eb34691e4a1a98ea"]]},{"id":"7090fa6022ca76ae","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1020,"wires":[["84c53c68ab294a89"]]},{"id":"dcf65839e84b0b02","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1080,"wires":[["667682a6a17f2843"]]},{"id":"30e3636e3367b260","type":"change","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1140,"wires":[["a977b923bfdd1de0"]]},{"id":"6770da8349bdf8a0","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":960,"wires":[[]]},{"id":"52a2c3fc24263ec2","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":960,"wires":[["6770da8349bdf8a0"]]},{"id":"56eb1af4118b950f","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1020,"wires":[[]]},{"id":"3fc0756b81df0a6c","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1020,"wires":[["56eb1af4118b950f"]]},{"id":"53b3bfe34e16d17f","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1080,"wires":[[]]},{"id":"0592d3425df197ae","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1080,"wires":[["53b3bfe34e16d17f"]]},{"id":"f64cc28db1b4afe3","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1140,"wires":[[]]},{"id":"058292352b58c097","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1140,"wires":[["f64cc28db1b4afe3"]]},{"id":"43e1a63af57fe0d0","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"43e1a63af57fe0d0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1370,"y":140,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"7a1fffcb83dcbfd4","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"7a1fffcb83dcbfd4\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1890,"y":140,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"cddbc19a88bc5af7","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"cddbc19a88bc5af7\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2410,"y":140,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"df004793f366fd9e","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"df004793f366fd9e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1360,"y":200,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"f2fd84039664d81c","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"f2fd84039664d81c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1860,"y":200,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"0cf2d06fe960bf1b","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"0cf2d06fe960bf1b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2380,"y":200,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"c8d2e12a8b07028c","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"c8d2e12a8b07028c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1380,"y":380,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"3085565bc895aca0","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"3085565bc895aca0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1920,"y":380,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"e99e24c0fa5076f7","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"e99e24c0fa5076f7\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2460,"y":380,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"a88385928f2344ee","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"a88385928f2344ee\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1370,"y":320,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"3f5732bfb35f8779","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"3f5732bfb35f8779\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1890,"y":320,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"98bebcb8639b0816","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"98bebcb8639b0816\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2410,"y":320,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"0305be11d346f23b","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"0305be11d346f23b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1370,"y":260,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"036e06bd18db0f65","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"036e06bd18db0f65\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1890,"y":260,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"d1277b229a2c0100","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"d1277b229a2c0100\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2410,"y":260,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"536e88265bad1da9","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"536e88265bad1da9\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1380,"y":500,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"9bb408a1cc2a6112","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"9bb408a1cc2a6112\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1920,"y":500,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"bf3a54df62980308","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"bf3a54df62980308\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2460,"y":500,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"881c1a58856eae79","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"881c1a58856eae79\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1350,"y":560,"wires":[["4cc9d296414a273b"],["e9a69eb60bf2cd22","986d18e8c934d971"]]},{"id":"bf251147255e4dfa","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"bf251147255e4dfa\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1380,"y":440,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"d0f4a9982242d4eb","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"d0f4a9982242d4eb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1920,"y":440,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"e8f5d6f9820c3a3c","type":"subflow:235e206401c6aa25","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Garage\",\"room\":\"garage\",\"nodeId\":\"e8f5d6f9820c3a3c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"garage","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2460,"y":440,"wires":[["4cc9d296414a273b"],["986d18e8c934d971"]]},{"id":"e9a69eb60bf2cd22","type":"link out","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["548950e43b52b3c0"],"x":1665,"y":560,"wires":[]},{"id":"95415ec9eafb6cb4","type":"switch","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":980,"y":180,"wires":[["43e1a63af57fe0d0"],["df004793f366fd9e"],["0305be11d346f23b"],["a88385928f2344ee"],["c8d2e12a8b07028c"],["bf251147255e4dfa"],["536e88265bad1da9"],["881c1a58856eae79"],["4cc9d296414a273b"]]},{"id":"7d9ce20f304deb4d","type":"link in","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Verteiler-In","links":["0e2b5195ed016c27"],"x":775,"y":180,"wires":[["95415ec9eafb6cb4"]]},{"id":"b0a4753c18087b91","type":"change","z":"321b9e5b5c279dd0","g":"f1957c4a028a53eb","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_garage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_garage_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_garage_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_garage_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_garage_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_garage_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_garage_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_garage_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_garage_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_garage_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_garage_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.relais_garage_strahler_l1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.relais_garage_strahler_l2","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_garage","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_33a_anwesenheitserkennung_garage","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":140,"wires":[["9afe324bd9430769"]]},{"id":"15e6bb0107d10910","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"f1957c4a028a53eb","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3080,"y":140,"wires":[["b0a4753c18087b91"],[]]},{"id":"9afe324bd9430769","type":"link out","z":"321b9e5b5c279dd0","g":"f1957c4a028a53eb","name":"Initialisierung","mode":"link","links":["548950e43b52b3c0"],"x":3685,"y":140,"wires":[]},{"id":"32f71969f40fa5b2","type":"link out","z":"321b9e5b5c279dd0","g":"50b3606059d01625","name":"TriggerA - true","mode":"link","links":["548950e43b52b3c0"],"x":505,"y":980,"wires":[]},{"id":"5d700d3621b27727","type":"server-state-changed","z":"321b9e5b5c279dd0","g":"36a498a3f52ed49e","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["d3068dd51f443115"]]},{"id":"d3068dd51f443115","type":"switch","z":"321b9e5b5c279dd0","g":"36a498a3f52ed49e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"563ea1e6b655c141","type":"subflow:d5c060879184b636","z":"321b9e5b5c279dd0","g":"4276fa33800a6791","name":"","x":400,"y":1320,"wires":[["0e2b5195ed016c27"]]},{"id":"548950e43b52b3c0","type":"link in","z":"321b9e5b5c279dd0","g":"4276fa33800a6791","name":"Verteiler-Out Connect","links":["667682a6a17f2843","010e82c1c3d39e68","a977b923bfdd1de0","1d71c46f3f72513a","2a34dcad071cdda2","e6475339adb56cf5","43982c724459415d","33c1634b6413a332","3ddb2bbdf6966a47","9afe324bd9430769","659ba8a6007aba69","28cfd86b9c3337a4","2470bbc1e2b7f9b2","eb34691e4a1a98ea","32f71969f40fa5b2","628c4832715e6c72","6b2f63da06805934","d96abc5cd0baae49","dc2898496873996d","84c53c68ab294a89","b12bff82dbde4b70","f33aa8af2e698fe2","e9a69eb60bf2cd22","d400d3906cc7b2ab","d68376a8c56ccc53","2b5df1899cd9fe34","f41a11fdd7d84dbf","8eef4d540fe1e817"],"x":125,"y":1320,"wires":[["563ea1e6b655c141"]]},{"id":"0e2b5195ed016c27","type":"link out","z":"321b9e5b5c279dd0","g":"4276fa33800a6791","name":"Verteiler-In","mode":"link","links":["7d9ce20f304deb4d"],"x":675,"y":1320,"wires":[]},{"id":"97241db5b884f3e1","type":"catch","z":"321b9e5b5c279dd0","g":"8a93acd3e5f07fb3","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["7d15f5c7fc99df5f","99b638b02f595b17"]]},{"id":"7d15f5c7fc99df5f","type":"debug","z":"321b9e5b5c279dd0","g":"8a93acd3e5f07fb3","name":"LI - Garage Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1460,"wires":[]},{"id":"b93562e908152bbe","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":660,"wires":[[]]},{"id":"8ae84ea39fd00413","type":"switch","z":"321b9e5b5c279dd0","g":"fe0b38a1857fa230","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":720,"wires":[[]]},{"id":"99b638b02f595b17","type":"function","z":"321b9e5b5c279dd0","g":"8a93acd3e5f07fb3","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33 Garage',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33 Garage Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["fd0b567dc92cc057"]]},{"id":"fd0b567dc92cc057","type":"link out","z":"321b9e5b5c279dd0","g":"8a93acd3e5f07fb3","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":600,"y":1460,"wires":[]},{"id":"4cc9d296414a273b","type":"link out","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2660,"y":560,"wires":[]},{"id":"986d18e8c934d971","type":"function","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33 Garage',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":620,"wires":[["b5de4fcbc9a9782a"]]},{"id":"b5de4fcbc9a9782a","type":"link out","z":"321b9e5b5c279dd0","g":"bbffbc7556563bc0","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2660,"y":620,"wires":[]}],"configs":[]}
