.codex-build/li_batch4_step08_keller_20260515.flow.json
{"id":"4e5706ce889de00d","label":"LI - 33 Keller","disabled":false,"info":"","env":[],"nodes":[{"id":"8fa1816d535898f2","type":"group","z":"4e5706ce889de00d","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["c9c9e7883a9a1cc1","c4a894dac9bd83fb","df5535bde6c277b8","4283f7bf083ff241","91a8ff1fb58a650a","67d5a93f5b519bba","d4c9f756aeb64de6","2e20a6a3552bdf16","d0e74fcc340abfbb","e8972fd719c065bc","e2bb3317e5a80a42","be11ecdfb289cda3","639f92d44215e776","eba1ed7deb833fe3","63e6425063d7036e","6c2f7c2f3a33d19d","be92abe47c6a0747","ac483bf8efbae45d","3afd57f5bf789615"],"x":68,"y":68,"w":3674,"h":1139},{"id":"7e0af5fc6a5e959e","type":"group","z":"4e5706ce889de00d","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["d86d4886708980a9","e4feb647e1b19fca","89d4c9cdd648e69a"],"x":84,"y":1279,"w":632,"h":82},{"id":"834cf0d17c4b5c3e","type":"group","z":"4e5706ce889de00d","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["e7a7652325713327","34d1f1aaaa85b481","c43b9826cd7cb3d9","9533f4e57e66dfc1"],"x":74,"y":1419,"w":700,"h":82},{"id":"eba1ed7deb833fe3","type":"group","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["725a5d4a02586a4c","5f3a45b6f08a696a","db6b6d9d507e5cf5","78a154631ad30120","ba1324b9f05e264b","11255badf65dc8e3","4a28f08f62b5a288","7817ef69795523ed","6e5c35023062996b","287f0a60255e5e56","d668e24e56bfc5fc","74f4bea29d459e74","0479d1535257a53e","cfbb5a3968b1dda2","9860aee2591423ac","c43abb690231aed0","85e26042b9010a2e","1b75852cc680863e","b46eb8738a8cc615","45eb3125d9d740b0"],"x":94,"y":99,"w":442,"h":1042},{"id":"63e6425063d7036e","type":"group","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["27bbe4c3afc7b413","9821b1a73fa15635","5d702ed1a1c24b4c","434341feb88bcdf0","16e81ba6030c0263","fe1898ab8f9916eb","bd37eb5b92f7fbc8","c69c87aa73898f1d","3cd4421b58c8da45","d8a9bdc713acf6de","443c0e0a9d7bf992","548e0e70af3ebc82","b6b8fb23b72af77d","b808862e4dceb9b0","2b6f6ce70d577994","1f1b396f06e6685a","d646d875922bf7c0","c352f1504fed2d4c","f95e8ba6644465b3","cf412fd79f428e5d","ea0eb3208af7ee8e","391fdd9451318c47","5dcff5233702be2f","e4a821d0b56778be","65ae5a26348927dc","9a83339d11b0a507","cf74865b1f104fbc","0ef2413174e02494","aa081e6a33838826","2a9a268fa5b71c48","c81fba66101459a8","ecc3d4f4fc84dd19","d8ac7f33d8b0a764","991c097499e145c7","fca2b5bfd36515fc","826dae8193d1adbe"],"x":714,"y":619,"w":1082,"h":562},{"id":"6c2f7c2f3a33d19d","type":"group","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["7ebef8dfb2b49ddf","a54a9af4f6482a66","5ed395d64516e352","b825b04bd6e02876","dff752eb2fc4f79b","3fe5086df9184422","ec1c21394447c4df","21b47c4417034ec1","76964dc9cc29caed","dac4a8f69435f4c2","b72fc8c515859bda","1160d9b5a0d11866","33cf36be232d3b9a","90d8944127e33df2","bdce83b545bdefe2","bd6ee9fbacd5e880","bcbb5bddfaecfc3b","dd091bd705b4b624","118940f20aa5ed87","0784e97ac4bd1501","c8b22eaeb8158827","ab9a49544fb9a6d1","c4fc5117e1f152a8","d5cb7517c97d5645","7dab7de11f50066d","6dd5298894da0658","cf2c3bcb5b06586d","9fcbe0682fbe06f1"],"x":724,"y":94,"w":2152,"h":607},{"id":"be92abe47c6a0747","type":"group","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["917c2c25dad88b37","6a9227d77ba6e96e","59bd0524082f28f3"],"x":2874,"y":99,"w":842,"h":82},{"id":"3afd57f5bf789615","type":"group","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["cb345d1103f4cf92","252203a1ef689d7b"],"x":1834,"y":619,"w":432,"h":82},{"id":"c9c9e7883a9a1cc1","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger1 - true","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":140,"wires":[]},{"id":"c4a894dac9bd83fb","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger2 - true","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":200,"wires":[]},{"id":"df5535bde6c277b8","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger3 - true","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":260,"wires":[]},{"id":"4283f7bf083ff241","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger1 - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":320,"wires":[]},{"id":"91a8ff1fb58a650a","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger2 - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":380,"wires":[]},{"id":"67d5a93f5b519bba","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger3 - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":440,"wires":[]},{"id":"d4c9f756aeb64de6","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger1 long - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":500,"wires":[]},{"id":"2e20a6a3552bdf16","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger2 long - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":560,"wires":[]},{"id":"d0e74fcc340abfbb","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger3 long - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":620,"wires":[]},{"id":"e8972fd719c065bc","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger1 long extended - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":680,"wires":[]},{"id":"e2bb3317e5a80a42","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger2 long extended - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":740,"wires":[]},{"id":"be11ecdfb289cda3","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"Trigger3 long extended - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":800,"wires":[]},{"id":"639f92d44215e776","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"TriggerN - true","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":860,"wires":[]},{"id":"725a5d4a02586a4c","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_keller_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":190,"y":140,"wires":[["c9c9e7883a9a1cc1"],[]]},{"id":"5f3a45b6f08a696a","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_heizraum_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":190,"y":200,"wires":[["c4a894dac9bd83fb"],[]]},{"id":"db6b6d9d507e5cf5","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":190,"y":260,"wires":[["df5535bde6c277b8"],[]]},{"id":"78a154631ad30120","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_keller_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":200,"y":320,"wires":[["4283f7bf083ff241"],[]]},{"id":"ba1324b9f05e264b","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_heizraum_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":200,"y":380,"wires":[["91a8ff1fb58a650a"],[]]},{"id":"11255badf65dc8e3","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":200,"y":440,"wires":[["67d5a93f5b519bba"],[]]},{"id":"4a28f08f62b5a288","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_keller"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":210,"y":500,"wires":[["d4c9f756aeb64de6"],[]]},{"id":"7817ef69795523ed","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_heizraum"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":210,"y":560,"wires":[["2e20a6a3552bdf16"],[]]},{"id":"6e5c35023062996b","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":210,"y":620,"wires":[["d0e74fcc340abfbb"],[]]},{"id":"287f0a60255e5e56","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_keller"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":240,"y":680,"wires":[["e8972fd719c065bc"],[]]},{"id":"d668e24e56bfc5fc","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_heizraum"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":240,"y":740,"wires":[["e2bb3317e5a80a42"],[]]},{"id":"74f4bea29d459e74","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":240,"y":800,"wires":[["be11ecdfb289cda3"],[]]},{"id":"0479d1535257a53e","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":200,"y":860,"wires":[["639f92d44215e776"],[]]},{"id":"cfbb5a3968b1dda2","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":190,"y":980,"wires":[["ac483bf8efbae45d"],[]]},{"id":"9860aee2591423ac","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":200,"y":920,"wires":[["c43abb690231aed0"],[]]},{"id":"c43abb690231aed0","type":"link out","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"TriggerN - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":920,"wires":[]},{"id":"85e26042b9010a2e","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":200,"y":1040,"wires":[["1b75852cc680863e"],[]]},{"id":"1b75852cc680863e","type":"link out","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"TriggerA - false","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":1040,"wires":[]},{"id":"b46eb8738a8cc615","type":"server-state-changed","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_keller"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":190,"y":1100,"wires":[["45eb3125d9d740b0"]]},{"id":"45eb3125d9d740b0","type":"link out","z":"4e5706ce889de00d","g":"eba1ed7deb833fe3","name":"Licht-Gruppe","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":1100,"wires":[]},{"id":"27bbe4c3afc7b413","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":660,"wires":[[]]},{"id":"9821b1a73fa15635","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":720,"wires":[[]]},{"id":"5d702ed1a1c24b4c","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"434341feb88bcdf0","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":780,"wires":[[]]},{"id":"16e81ba6030c0263","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":900,"wires":[[]]},{"id":"fe1898ab8f9916eb","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Licht An/Aus","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":660,"wires":[]},{"id":"bd37eb5b92f7fbc8","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Dimmrichtung zurücksetzen","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":780,"wires":[]},{"id":"c69c87aa73898f1d","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Automatische Dimmung","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":720,"wires":[]},{"id":"3cd4421b58c8da45","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":840,"wires":[]},{"id":"d8a9bdc713acf6de","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Dimmung heller","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":900,"wires":[]},{"id":"443c0e0a9d7bf992","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Dimmung dunkler","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":960,"wires":[]},{"id":"548e0e70af3ebc82","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Licht umschalten #1","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":1020,"wires":[]},{"id":"b6b8fb23b72af77d","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Licht umschalten #2","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":1080,"wires":[]},{"id":"b808862e4dceb9b0","type":"link out","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Licht umschalten #3","mode":"link","links":["e4feb647e1b19fca"],"x":1755,"y":1140,"wires":[]},{"id":"2b6f6ce70d577994","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":840,"wires":[["5d702ed1a1c24b4c"]]},{"id":"1f1b396f06e6685a","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":810,"y":780,"wires":[["434341feb88bcdf0"]]},{"id":"d646d875922bf7c0","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":720,"wires":[["9821b1a73fa15635"]]},{"id":"c352f1504fed2d4c","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":660,"wires":[["27bbe4c3afc7b413"]]},{"id":"f95e8ba6644465b3","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":900,"wires":[["16e81ba6030c0263"]]},{"id":"cf412fd79f428e5d","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":660,"wires":[["fe1898ab8f9916eb"]]},{"id":"ea0eb3208af7ee8e","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":720,"wires":[["c69c87aa73898f1d"]]},{"id":"391fdd9451318c47","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":780,"wires":[["bd37eb5b92f7fbc8"]]},{"id":"5dcff5233702be2f","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":840,"wires":[["3cd4421b58c8da45"]]},{"id":"e4a821d0b56778be","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":900,"wires":[["d8a9bdc713acf6de"]]},{"id":"65ae5a26348927dc","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["443c0e0a9d7bf992"]]},{"id":"9a83339d11b0a507","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1020,"wires":[["548e0e70af3ebc82"]]},{"id":"cf74865b1f104fbc","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["b6b8fb23b72af77d"]]},{"id":"0ef2413174e02494","type":"change","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1140,"wires":[["b808862e4dceb9b0"]]},{"id":"aa081e6a33838826","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":960,"wires":[[]]},{"id":"2a9a268fa5b71c48","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":960,"wires":[["aa081e6a33838826"]]},{"id":"c81fba66101459a8","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1020,"wires":[[]]},{"id":"ecc3d4f4fc84dd19","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1020,"wires":[["c81fba66101459a8"]]},{"id":"d8ac7f33d8b0a764","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1080,"wires":[[]]},{"id":"991c097499e145c7","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1080,"wires":[["d8ac7f33d8b0a764"]]},{"id":"fca2b5bfd36515fc","type":"switch","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1140,"wires":[[]]},{"id":"826dae8193d1adbe","type":"server-state-changed","z":"4e5706ce889de00d","g":"63e6425063d7036e","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1140,"wires":[["fca2b5bfd36515fc"]]},{"id":"7ebef8dfb2b49ddf","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"7ebef8dfb2b49ddf\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1360,"y":140,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"a54a9af4f6482a66","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"kelvin\":4000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"a54a9af4f6482a66\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1880,"y":140,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"5ed395d64516e352","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"5ed395d64516e352\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2400,"y":140,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"b825b04bd6e02876","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"b825b04bd6e02876\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1350,"y":200,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"dff752eb2fc4f79b","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"dff752eb2fc4f79b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1850,"y":200,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"3fe5086df9184422","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"3fe5086df9184422\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2370,"y":200,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"ec1c21394447c4df","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"ec1c21394447c4df\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1370,"y":380,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"21b47c4417034ec1","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"21b47c4417034ec1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1910,"y":380,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"76964dc9cc29caed","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"76964dc9cc29caed\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2450,"y":380,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"dac4a8f69435f4c2","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"dac4a8f69435f4c2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1360,"y":320,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"b72fc8c515859bda","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"b72fc8c515859bda\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1880,"y":320,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"1160d9b5a0d11866","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"1160d9b5a0d11866\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2400,"y":320,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"33cf36be232d3b9a","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"33cf36be232d3b9a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1360,"y":260,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"90d8944127e33df2","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"90d8944127e33df2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1880,"y":260,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"bdce83b545bdefe2","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"bdce83b545bdefe2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2400,"y":260,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"bd6ee9fbacd5e880","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"bd6ee9fbacd5e880\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1370,"y":500,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"bcbb5bddfaecfc3b","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"bcbb5bddfaecfc3b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1910,"y":500,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"dd091bd705b4b624","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"dd091bd705b4b624\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2450,"y":500,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"118940f20aa5ed87","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"118940f20aa5ed87\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1340,"y":560,"wires":[["6dd5298894da0658"],["c4fc5117e1f152a8","cf2c3bcb5b06586d"]]},{"id":"0784e97ac4bd1501","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"0784e97ac4bd1501\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1370,"y":440,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"c8b22eaeb8158827","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"c8b22eaeb8158827\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1910,"y":440,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"ab9a49544fb9a6d1","type":"subflow:235e206401c6aa25","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Keller\",\"room\":\"keller\",\"nodeId\":\"ab9a49544fb9a6d1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"keller","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2450,"y":440,"wires":[["6dd5298894da0658"],["cf2c3bcb5b06586d"]]},{"id":"c4fc5117e1f152a8","type":"link out","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["e4feb647e1b19fca"],"x":1655,"y":560,"wires":[]},{"id":"d5cb7517c97d5645","type":"switch","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":970,"y":180,"wires":[["7ebef8dfb2b49ddf"],["b825b04bd6e02876"],["33cf36be232d3b9a"],["dac4a8f69435f4c2"],["ec1c21394447c4df"],["0784e97ac4bd1501"],["bd6ee9fbacd5e880"],["118940f20aa5ed87"],["6dd5298894da0658"]]},{"id":"7dab7de11f50066d","type":"link in","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Verteiler-In","links":["89d4c9cdd648e69a"],"x":765,"y":180,"wires":[["d5cb7517c97d5645"]]},{"id":"917c2c25dad88b37","type":"change","z":"4e5706ce889de00d","g":"be92abe47c6a0747","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_keller","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_keller_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_keller_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_heizraum_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_keller_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_select.licht_automatisierung_heizraum_status","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_keller_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_heizraum_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_keller_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_keller_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_keller_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_heizraum_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_keller_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_heizraum_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_keller_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_heizraum_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_keller_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.lichtschalter_keller","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_hausflur_keller","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_keller","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_heizraum","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3450,"y":140,"wires":[["59bd0524082f28f3"]]},{"id":"6a9227d77ba6e96e","type":"server-state-changed","z":"4e5706ce889de00d","g":"be92abe47c6a0747","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3070,"y":140,"wires":[["917c2c25dad88b37"],[]]},{"id":"59bd0524082f28f3","type":"link out","z":"4e5706ce889de00d","g":"be92abe47c6a0747","name":"Initialisierung","mode":"link","links":["e4feb647e1b19fca"],"x":3675,"y":140,"wires":[]},{"id":"ac483bf8efbae45d","type":"link out","z":"4e5706ce889de00d","g":"8fa1816d535898f2","name":"TriggerA - true","mode":"link","links":["e4feb647e1b19fca"],"x":495,"y":980,"wires":[]},{"id":"cb345d1103f4cf92","type":"server-state-changed","z":"4e5706ce889de00d","g":"3afd57f5bf789615","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["252203a1ef689d7b"]]},{"id":"252203a1ef689d7b","type":"switch","z":"4e5706ce889de00d","g":"3afd57f5bf789615","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"d86d4886708980a9","type":"subflow:d5c060879184b636","z":"4e5706ce889de00d","g":"7e0af5fc6a5e959e","name":"","x":400,"y":1320,"wires":[["89d4c9cdd648e69a"]]},{"id":"e4feb647e1b19fca","type":"link in","z":"4e5706ce889de00d","g":"7e0af5fc6a5e959e","name":"Verteiler-Out Connect","links":["b6b8fb23b72af77d","fe1898ab8f9916eb","b808862e4dceb9b0","e8972fd719c065bc","91a8ff1fb58a650a","4283f7bf083ff241","c43abb690231aed0","d4c9f756aeb64de6","2e20a6a3552bdf16","59bd0524082f28f3","c69c87aa73898f1d","67d5a93f5b519bba","bd37eb5b92f7fbc8","443c0e0a9d7bf992","ac483bf8efbae45d","c4a894dac9bd83fb","d0e74fcc340abfbb","3cd4421b58c8da45","c9c9e7883a9a1cc1","548e0e70af3ebc82","639f92d44215e776","45eb3125d9d740b0","c4fc5117e1f152a8","e2bb3317e5a80a42","d8a9bdc713acf6de","1b75852cc680863e","be11ecdfb289cda3","df5535bde6c277b8"],"x":125,"y":1320,"wires":[["d86d4886708980a9"]]},{"id":"89d4c9cdd648e69a","type":"link out","z":"4e5706ce889de00d","g":"7e0af5fc6a5e959e","name":"Verteiler-In","mode":"link","links":["7dab7de11f50066d"],"x":675,"y":1320,"wires":[]},{"id":"e7a7652325713327","type":"catch","z":"4e5706ce889de00d","g":"834cf0d17c4b5c3e","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["34d1f1aaaa85b481","c43b9826cd7cb3d9"]]},{"id":"34d1f1aaaa85b481","type":"debug","z":"4e5706ce889de00d","g":"834cf0d17c4b5c3e","name":"LI - Keller Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":1460,"wires":[]},{"id":"c43b9826cd7cb3d9","type":"function","z":"4e5706ce889de00d","g":"834cf0d17c4b5c3e","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33 Keller',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33 Keller Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["9533f4e57e66dfc1"]]},{"id":"9533f4e57e66dfc1","type":"link out","z":"4e5706ce889de00d","g":"834cf0d17c4b5c3e","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":570,"y":1460,"wires":[]},{"id":"6dd5298894da0658","type":"link out","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2650,"y":560,"wires":[]},{"id":"cf2c3bcb5b06586d","type":"function","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33 Keller',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":620,"wires":[["9fcbe0682fbe06f1"]]},{"id":"9fcbe0682fbe06f1","type":"link out","z":"4e5706ce889de00d","g":"6c2f7c2f3a33d19d","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2650,"y":620,"wires":[]}],"configs":[]}
