.codex-build/li_batch3_step2_badog_20260515.flow.json
{"id":"a52501bd98548d1c","label":"LI - Badezimmer OG","disabled":false,"info":"","env":[],"nodes":[{"id":"5d913eb4c42693c3","type":"group","z":"a52501bd98548d1c","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["587ef5b59d6ab4b4","8b746a84a696acb1","02009941b7f07651","f1f540c34000a02c","fdaf2007db8623fc","261514ca774b6bb2","8033af8e76258891","c0e74b078556d315","9ff327e6995bcb3d","1960d4c3a5da858e","d6f1f7b49454d642","e24f4dcb2e134811","a431e8d5abb205b8","da11a6d445d9f3cf","381d0293b75814cc","36fb8e51fbb2c583","d7eea588d8e04bda","42199472122db4d0","facbf86c2c1ea71a"],"x":78,"y":68,"w":3674,"h":1139},{"id":"dbcf624a3ab0d456","type":"group","z":"a52501bd98548d1c","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["a363bde4242273ad","5c966e571b2b8eb8","316e07524c442a0f"],"x":84,"y":1279,"w":632,"h":82},{"id":"6fda59d7e85301d0","type":"group","z":"a52501bd98548d1c","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["c1be8241a4d37f50","abfdab20911d9e34","4feef18375f0d9b4","e8dea46f1bc271ae"],"x":74,"y":1419,"w":700,"h":82},{"id":"da11a6d445d9f3cf","type":"group","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["43422054e9f0cecb","9ce297ce314c67a4","19a47d62a72eb4df","57d3e92ed79649a3","a29f8761581c8807","6fa5b8e743d7f8d6","64c0e48390d803b1","04868ee962db0d13","033e83eb0ddd2bbf","e0368941a78b99ed","bf7cfb32f20143e4","09b4b085c24526b9","1bb64535c59d30fd","a196a5f5d46722e7","25b14767681f2476","4ae4427eb7cf40b8","f87c7f59a3f28e3e","45185297668413dd","6b62d5410ba9049d","18dfb2dca4e72d65"],"x":104,"y":99,"w":442,"h":1042},{"id":"381d0293b75814cc","type":"group","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["339e3897e3985627","745ee9c7b512bd37","9cdecf9aaa2e5e28","a43ce5db1439d82a","5011861a31eb066f","14bb3cdd3e5abad0","1f52e91049f1feba","3b2deaa9eb404d03","ab9edfc4325357da","e6dfc1b2be1c5a53","0484a672fc9667ce","b1183b1704888931","a886cdbd4416b3f4","5c14089f1a27ffc1","bd50dbc06199e90f","2d53e500f9d6368e","426b0fa26b7464b7","04b784db827f33e4","fd8b8211c31b8f55","bdc776bc5434177b","243b469567ba919d","0703b2697df15a4c","ed1b1856659f189b","604b49f27029f63f","1657e0106f9990fc","0c52cebc7e48bf8b","8695406f28764621","a9ccf5465bbf154c","602b65e6c4f00ad7","083f6edf86979ba6","3ee81677baee17c5","0e60e21fc8ada86b","7e6ba125e66c1227","1c478875ccc53d0c","ae3ab9f537c8be82","4c8e82d30c4e8d8d"],"x":724,"y":611.5,"w":1082,"h":569.5},{"id":"36fb8e51fbb2c583","type":"group","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["0194ed0af73dbcad","5f2e1474a6aebf42","c9d0579c9999b2e1","a48b0525f9ccc6a1","9b05194cd26d7d99","a0f8f270097686df","b0a396d1c8ec2389","eaa4b645ddb095c7","d0d14322b8e99fcc","ab26ab8e3bb93aed","6f59296fc711c543","a382a2c255791567","98cf96a8542325f8","76e678c2da2ea118","5d1ad41e860bb647","b19a181f94c0512e","1ae722f81ffc9357","5812eefaae66fca3","4adcde6f899b78be","87c78033c370ccad","ec7664e06df8b256","3d1142fdedb5235f","6fcaed6d36ab8c29","61b2d4de6d062112","e329b3d5342ce9f8","5cf9eaedc9d6d8c0","61fd696124174b7d","39f07532bb5d8ed8"],"x":734,"y":94,"w":2152,"h":607},{"id":"d7eea588d8e04bda","type":"group","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["acd023849c373dd1","9871b0d094180276","7b9e0f7e0c3d228e"],"x":2884,"y":99,"w":842,"h":82},{"id":"facbf86c2c1ea71a","type":"group","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["341e2787a8072c77","bddafcc8270c5d3c"],"x":1834,"y":619,"w":432,"h":82},{"id":"316e07524c442a0f","type":"link out","z":"a52501bd98548d1c","g":"dbcf624a3ab0d456","name":"Verteiler-In","mode":"link","links":["e329b3d5342ce9f8"],"x":675,"y":1320,"wires":[]},{"id":"5c966e571b2b8eb8","type":"link in","z":"a52501bd98548d1c","g":"dbcf624a3ab0d456","name":"Verteiler-Out Connect","links":["a886cdbd4416b3f4","14bb3cdd3e5abad0","5c14089f1a27ffc1","1960d4c3a5da858e","fdaf2007db8623fc","f1f540c34000a02c","4ae4427eb7cf40b8","8033af8e76258891","c0e74b078556d315","7b9e0f7e0c3d228e","3b2deaa9eb404d03","261514ca774b6bb2","1f52e91049f1feba","0484a672fc9667ce","42199472122db4d0","8b746a84a696acb1","9ff327e6995bcb3d","ab9edfc4325357da","587ef5b59d6ab4b4","b1183b1704888931","a431e8d5abb205b8","18dfb2dca4e72d65","6fcaed6d36ab8c29","d6f1f7b49454d642","e6dfc1b2be1c5a53","45185297668413dd","e24f4dcb2e134811","02009941b7f07651"],"x":125,"y":1320,"wires":[["a363bde4242273ad"]]},{"id":"587ef5b59d6ab4b4","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger1 - true","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":140,"wires":[]},{"id":"8b746a84a696acb1","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger2 - true","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":200,"wires":[]},{"id":"02009941b7f07651","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger3 - true","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":260,"wires":[]},{"id":"f1f540c34000a02c","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger1 - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":320,"wires":[]},{"id":"fdaf2007db8623fc","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger2 - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":380,"wires":[]},{"id":"261514ca774b6bb2","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger3 - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":440,"wires":[]},{"id":"8033af8e76258891","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger1 long - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":500,"wires":[]},{"id":"c0e74b078556d315","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger2 long - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":560,"wires":[]},{"id":"9ff327e6995bcb3d","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger3 long - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":620,"wires":[]},{"id":"1960d4c3a5da858e","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger1 long extended - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":680,"wires":[]},{"id":"d6f1f7b49454d642","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger2 long extended - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":740,"wires":[]},{"id":"e24f4dcb2e134811","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"Trigger3 long extended - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":800,"wires":[]},{"id":"a431e8d5abb205b8","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"TriggerN - true","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":860,"wires":[]},{"id":"43422054e9f0cecb","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_badezimmer_og_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":200,"y":140,"wires":[["587ef5b59d6ab4b4"],[]]},{"id":"9ce297ce314c67a4","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":200,"y":200,"wires":[["8b746a84a696acb1"],[]]},{"id":"19a47d62a72eb4df","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":200,"y":260,"wires":[["02009941b7f07651"],[]]},{"id":"57d3e92ed79649a3","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_badezimmer_og_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":210,"y":320,"wires":[["f1f540c34000a02c"],[]]},{"id":"a29f8761581c8807","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":210,"y":380,"wires":[["fdaf2007db8623fc"],[]]},{"id":"6fa5b8e743d7f8d6","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":210,"y":440,"wires":[["261514ca774b6bb2"],[]]},{"id":"64c0e48390d803b1","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_badezimmer_og"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":220,"y":500,"wires":[["8033af8e76258891"],[]]},{"id":"04868ee962db0d13","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":220,"y":560,"wires":[["c0e74b078556d315"],[]]},{"id":"033e83eb0ddd2bbf","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":220,"y":620,"wires":[["9ff327e6995bcb3d"],[]]},{"id":"e0368941a78b99ed","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_badezimmer_og"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":250,"y":680,"wires":[["1960d4c3a5da858e"],[]]},{"id":"bf7cfb32f20143e4","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":250,"y":740,"wires":[["d6f1f7b49454d642"],[]]},{"id":"09b4b085c24526b9","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":250,"y":800,"wires":[["e24f4dcb2e134811"],[]]},{"id":"1bb64535c59d30fd","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":210,"y":860,"wires":[["a431e8d5abb205b8"],[]]},{"id":"a196a5f5d46722e7","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":200,"y":980,"wires":[["42199472122db4d0"],[]]},{"id":"25b14767681f2476","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":210,"y":920,"wires":[["4ae4427eb7cf40b8"],[]]},{"id":"4ae4427eb7cf40b8","type":"link out","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"TriggerN - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":920,"wires":[]},{"id":"f87c7f59a3f28e3e","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":210,"y":1040,"wires":[["45185297668413dd"],[]]},{"id":"45185297668413dd","type":"link out","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"TriggerA - false","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":1040,"wires":[]},{"id":"6b62d5410ba9049d","type":"server-state-changed","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_badezimmer_og"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":200,"y":1100,"wires":[["18dfb2dca4e72d65"]]},{"id":"18dfb2dca4e72d65","type":"link out","z":"a52501bd98548d1c","g":"da11a6d445d9f3cf","name":"Licht-Gruppe","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":1100,"wires":[]},{"id":"339e3897e3985627","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1180,"y":660,"wires":[["bdc776bc5434177b"],["243b469567ba919d"],["0703b2697df15a4c"]]},{"id":"745ee9c7b512bd37","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":720,"wires":[[]]},{"id":"9cdecf9aaa2e5e28","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":840,"wires":[[]]},{"id":"a43ce5db1439d82a","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":780,"wires":[[]]},{"id":"5011861a31eb066f","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":900,"wires":[[]]},{"id":"14bb3cdd3e5abad0","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Licht An/Aus","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":660,"wires":[]},{"id":"1f52e91049f1feba","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Dimmrichtung zurücksetzen","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":780,"wires":[]},{"id":"3b2deaa9eb404d03","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Automatische Dimmung","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":720,"wires":[]},{"id":"ab9edfc4325357da","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":840,"wires":[]},{"id":"e6dfc1b2be1c5a53","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Dimmung heller","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":900,"wires":[]},{"id":"0484a672fc9667ce","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Dimmung dunkler","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":960,"wires":[]},{"id":"b1183b1704888931","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Licht umschalten #1","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":1020,"wires":[]},{"id":"a886cdbd4416b3f4","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Licht umschalten #2","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":1080,"wires":[]},{"id":"5c14089f1a27ffc1","type":"link out","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Licht umschalten #3","mode":"link","links":["5c966e571b2b8eb8"],"x":1765,"y":1140,"wires":[]},{"id":"bd50dbc06199e90f","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":840,"wires":[["9cdecf9aaa2e5e28"]]},{"id":"2d53e500f9d6368e","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":820,"y":780,"wires":[["a43ce5db1439d82a"]]},{"id":"426b0fa26b7464b7","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":720,"wires":[["745ee9c7b512bd37"]]},{"id":"04b784db827f33e4","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_badezimmer_og_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":660,"wires":[["339e3897e3985627"]]},{"id":"fd8b8211c31b8f55","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":900,"wires":[["5011861a31eb066f"]]},{"id":"bdc776bc5434177b","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["14bb3cdd3e5abad0"]]},{"id":"243b469567ba919d","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":720,"wires":[["3b2deaa9eb404d03"]]},{"id":"0703b2697df15a4c","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":780,"wires":[["1f52e91049f1feba"]]},{"id":"ed1b1856659f189b","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":840,"wires":[["ab9edfc4325357da"]]},{"id":"604b49f27029f63f","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":900,"wires":[["e6dfc1b2be1c5a53"]]},{"id":"1657e0106f9990fc","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":960,"wires":[["0484a672fc9667ce"]]},{"id":"0c52cebc7e48bf8b","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1020,"wires":[["b1183b1704888931"]]},{"id":"8695406f28764621","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1080,"wires":[["a886cdbd4416b3f4"]]},{"id":"a9ccf5465bbf154c","type":"change","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1140,"wires":[["5c14089f1a27ffc1"]]},{"id":"602b65e6c4f00ad7","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":960,"wires":[[]]},{"id":"083f6edf86979ba6","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":960,"wires":[["602b65e6c4f00ad7"]]},{"id":"3ee81677baee17c5","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1020,"wires":[[]]},{"id":"0e60e21fc8ada86b","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1020,"wires":[["3ee81677baee17c5"]]},{"id":"7e6ba125e66c1227","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1080,"wires":[[]]},{"id":"1c478875ccc53d0c","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1080,"wires":[["7e6ba125e66c1227"]]},{"id":"ae3ab9f537c8be82","type":"switch","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1140,"wires":[[]]},{"id":"4c8e82d30c4e8d8d","type":"server-state-changed","z":"a52501bd98548d1c","g":"381d0293b75814cc","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1140,"wires":[["ae3ab9f537c8be82"]]},{"id":"0194ed0af73dbcad","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":4000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"0194ed0af73dbcad\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1370,"y":140,"wires":[["5cf9eaedc9d6d8c0"],["5f2e1474a6aebf42","61fd696124174b7d"]]},{"id":"5f2e1474a6aebf42","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"5f2e1474a6aebf42\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1890,"y":140,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"c9d0579c9999b2e1","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"c9d0579c9999b2e1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2410,"y":140,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"a48b0525f9ccc6a1","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"a48b0525f9ccc6a1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1360,"y":200,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"9b05194cd26d7d99","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"9b05194cd26d7d99\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1860,"y":200,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"a0f8f270097686df","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"a0f8f270097686df\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2380,"y":200,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"b0a396d1c8ec2389","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"b0a396d1c8ec2389\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1380,"y":380,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"eaa4b645ddb095c7","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"eaa4b645ddb095c7\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1920,"y":380,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"d0d14322b8e99fcc","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"d0d14322b8e99fcc\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2460,"y":380,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"ab26ab8e3bb93aed","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":25,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"ab26ab8e3bb93aed\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1370,"y":320,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"6f59296fc711c543","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"6f59296fc711c543\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1890,"y":320,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"a382a2c255791567","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"a382a2c255791567\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2410,"y":320,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"98cf96a8542325f8","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"98cf96a8542325f8\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1370,"y":260,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"76e678c2da2ea118","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"76e678c2da2ea118\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1890,"y":260,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"5d1ad41e860bb647","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"5d1ad41e860bb647\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2410,"y":260,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"b19a181f94c0512e","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"b19a181f94c0512e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1380,"y":500,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"1ae722f81ffc9357","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"1ae722f81ffc9357\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1920,"y":500,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"5812eefaae66fca3","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"5812eefaae66fca3\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2460,"y":500,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"4adcde6f899b78be","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"4adcde6f899b78be\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1350,"y":560,"wires":[["5cf9eaedc9d6d8c0"],["6fcaed6d36ab8c29","61fd696124174b7d"]]},{"id":"87c78033c370ccad","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"87c78033c370ccad\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1380,"y":440,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"ec7664e06df8b256","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"ec7664e06df8b256\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1920,"y":440,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"3d1142fdedb5235f","type":"subflow:235e206401c6aa25","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Badezimmer OG\",\"room\":\"badezimmer_og\",\"nodeId\":\"3d1142fdedb5235f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"badezimmer_og","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2460,"y":440,"wires":[["5cf9eaedc9d6d8c0"],["61fd696124174b7d"]]},{"id":"6fcaed6d36ab8c29","type":"link out","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["5c966e571b2b8eb8"],"x":1665,"y":560,"wires":[]},{"id":"61b2d4de6d062112","type":"switch","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":980,"y":180,"wires":[["0194ed0af73dbcad"],["a48b0525f9ccc6a1"],["98cf96a8542325f8"],["ab26ab8e3bb93aed"],["b0a396d1c8ec2389"],["87c78033c370ccad"],["b19a181f94c0512e"],["4adcde6f899b78be"],["5cf9eaedc9d6d8c0"]]},{"id":"e329b3d5342ce9f8","type":"link in","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Verteiler-In","links":["316e07524c442a0f"],"x":775,"y":180,"wires":[["61b2d4de6d062112"]]},{"id":"acd023849c373dd1","type":"change","z":"a52501bd98548d1c","g":"d7eea588d8e04bda","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_og","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_og_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_badezimmer_og_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_badezimmer_og_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_badezimmer_og_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_og_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_og_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_badezimmer_og_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_badezimmer_og_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_badezimmer_og_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_badezimmer_og_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.deckenleuchte_badezimmer_og_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.deckenleuchte_badezimmer_og_2","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"light.lichtschalter_badezimmer_og_spiegel","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_badezimmer_og","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"light.licht_gruppe_badezimmer_og_deckenleuchten","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"light.licht_gruppe_badezimmer_og_deckenleuchten","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_badezimmer_og","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"3","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":140,"wires":[["7b9e0f7e0c3d228e"]]},{"id":"9871b0d094180276","type":"server-state-changed","z":"a52501bd98548d1c","g":"d7eea588d8e04bda","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3080,"y":140,"wires":[["acd023849c373dd1"],[]]},{"id":"7b9e0f7e0c3d228e","type":"link out","z":"a52501bd98548d1c","g":"d7eea588d8e04bda","name":"Initialisierung","mode":"link","links":["5c966e571b2b8eb8"],"x":3685,"y":140,"wires":[]},{"id":"42199472122db4d0","type":"link out","z":"a52501bd98548d1c","g":"5d913eb4c42693c3","name":"TriggerA - true","mode":"link","links":["5c966e571b2b8eb8"],"x":505,"y":980,"wires":[]},{"id":"341e2787a8072c77","type":"server-state-changed","z":"a52501bd98548d1c","g":"facbf86c2c1ea71a","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["bddafcc8270c5d3c"]]},{"id":"bddafcc8270c5d3c","type":"switch","z":"a52501bd98548d1c","g":"facbf86c2c1ea71a","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"a363bde4242273ad","type":"subflow:d5c060879184b636","z":"a52501bd98548d1c","g":"dbcf624a3ab0d456","name":"","x":400,"y":1320,"wires":[["316e07524c442a0f"]]},{"id":"c1be8241a4d37f50","type":"catch","z":"a52501bd98548d1c","g":"6fda59d7e85301d0","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["abfdab20911d9e34","4feef18375f0d9b4"]]},{"id":"abfdab20911d9e34","type":"debug","z":"a52501bd98548d1c","g":"6fda59d7e85301d0","name":"LI - Badezimmer OG Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1460,"wires":[]},{"id":"4feef18375f0d9b4","type":"function","z":"a52501bd98548d1c","g":"6fda59d7e85301d0","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - Badezimmer OG',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - Badezimmer OG Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["e8dea46f1bc271ae"]]},{"id":"e8dea46f1bc271ae","type":"link out","z":"a52501bd98548d1c","g":"6fda59d7e85301d0","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":610,"y":1460,"wires":[]},{"id":"5cf9eaedc9d6d8c0","type":"link out","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2660,"y":560,"wires":[]},{"id":"61fd696124174b7d","type":"function","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - Badezimmer OG',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":620,"wires":[["39f07532bb5d8ed8"]]},{"id":"39f07532bb5d8ed8","type":"link out","z":"a52501bd98548d1c","g":"36fb8e51fbb2c583","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2660,"y":620,"wires":[]}],"configs":[]}
