.codex-build/li_batch4_step05_flur_eg_20260515.flow.json
{"id":"dd61e232cd662fcb","label":"LI - 33 Flur EG","disabled":false,"info":"","env":[],"nodes":[{"id":"73470c3787cc81c2","type":"group","z":"dd61e232cd662fcb","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["4bbe3be8203a3811","cbd20c6442179f63","456361f246ee1d99","55fce6bebe27363f","23ce0eabe157b95f","1f3e5cad22870027","96a285c9d5d35176","0a644f02caf39bdb","bbd7118ee463d630","fb1de1162b3c324b","1dc1226af6c1214e","52b45161b8631470","c48ae19db6a98115","22eb9485d946d7f1","5d7786c89cbe1752","a943f2e449640321","59d548ed6a1f9ecc","74f693fe63835c83","7f951a81fa241887"],"x":78,"y":68,"w":3674,"h":1139},{"id":"ac5afbbe786fc97e","type":"group","z":"dd61e232cd662fcb","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["56ded2444fa81cbb","4585b77eadd04389","e1c48e1b8cfacdf1"],"x":84,"y":1279,"w":632,"h":82},{"id":"f88d75fb37932b45","type":"group","z":"dd61e232cd662fcb","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["1cccbb059f90d444","5a2480aafc5865a6","b4c9e65bb6b2e829","f047b85c2e3b7b3c"],"x":74,"y":1419,"w":700,"h":82},{"id":"22eb9485d946d7f1","type":"group","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["18c6e1995a0d5084","56862b168460b201","8525c34c35c57224","313baeb7edf00497","3b5072014aae6341","650ae1faefa3fc54","960f3a0b539e1d1d","ac2013fb7402d1fe","2aaaab1d569664bc","a715d8f0205f2eba","d2362efcda98730f","947610bf28e3583b","8c65d9ede55eeac7","fd124dbe7095bbde","96d9dbcb4d3c79f2","d3200f48fb80ccc2","17d54dd9e053e66d","2a1aab5760049e57","249fd7de9168e968","6fc72e725e40c665"],"x":104,"y":99,"w":442,"h":1042},{"id":"5d7786c89cbe1752","type":"group","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["304b71c85c2e8ca4","4b2811b98d5e3624","7d516a71d1ea3841","81250fd33c272450","61555c8453a8db8b","6b686f9c4f3e098e","2062a921f8b37751","359f79375c8c7b85","df2927879e5fa68c","2fbdfe94c603fcce","e0f781b0acc639eb","7488433b7682265c","fa1d3190763a7675","f2e3bd87afad1c44","56e5280a474de96e","d66dea69e8e91d30","a84d583316922cee","a9070763afc38a7f","d8b26bfa51a5a41c","6d1ee847599f452e","ce0e1e9f4aba5198","bb64bda4ba7f258d","67c0f3eee6a13022","4464b1bba09b8361","f231fa40a52c98a0","a9eb1fafe120735b","807ad1f31970686a","ad39ea1b6089e5ee","dc6f33fedd6f29bf","e4a0a153331aa622","2fdab7f0dd796fd6","dd877d6ebfd341c7","22dd9f08f4a68532","8b853ccdf1e16348","baa0a02427214866","10b57d1d5dd96f30"],"x":724,"y":619,"w":1082,"h":562},{"id":"a943f2e449640321","type":"group","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["1f78c6b52f4fba66","7e68868d667b5baa","07b638d6a50b8b32","d926342a00619480","01f39c1791ece70a","990dfdd467f6af96","0b10791a26989c93","e3bd28a1ffb5deeb","f0878f4617140437","e7400968aa17743b","604c29e080aee227","1ae13914ca1dbc7a","b30a36b8d0830a64","74c26c33e1fc5587","d53c35cc0d33ccdf","d07cfeb8f5e7ea5a","2d46eaa0673eba11","353a167b5825d5d3","22f875299b64d43f","76c34786b31d4191","6281c9526cc03cfb","57010932c069d64a","c70c6d5a36925975","123ae21f4319c1cb","0fe7cf816915ab7f","30e237ad7304f0e7","d98976610cb50ab8","f61b5d788216c777"],"x":734,"y":94,"w":2152,"h":607},{"id":"59d548ed6a1f9ecc","type":"group","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["dc09d1ffa04ce32c","6b3d4baf9a2209e8","14bc2616a1e30362"],"x":2884,"y":99,"w":842,"h":82},{"id":"7f951a81fa241887","type":"group","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["c4ac5723c49bdd08","a8933983764d4311"],"x":1834,"y":619,"w":432,"h":82},{"id":"4bbe3be8203a3811","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger1 - true","mode":"link","links":["4585b77eadd04389"],"x":505,"y":140,"wires":[]},{"id":"cbd20c6442179f63","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger2 - true","mode":"link","links":["4585b77eadd04389"],"x":505,"y":200,"wires":[]},{"id":"456361f246ee1d99","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger3 - true","mode":"link","links":["4585b77eadd04389"],"x":505,"y":260,"wires":[]},{"id":"55fce6bebe27363f","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger1 - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":320,"wires":[]},{"id":"23ce0eabe157b95f","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger2 - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":380,"wires":[]},{"id":"1f3e5cad22870027","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger3 - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":440,"wires":[]},{"id":"96a285c9d5d35176","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger1 long - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":500,"wires":[]},{"id":"0a644f02caf39bdb","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger2 long - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":560,"wires":[]},{"id":"bbd7118ee463d630","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger3 long - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":620,"wires":[]},{"id":"fb1de1162b3c324b","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger1 long extended - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":680,"wires":[]},{"id":"1dc1226af6c1214e","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger2 long extended - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":740,"wires":[]},{"id":"52b45161b8631470","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"Trigger3 long extended - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":800,"wires":[]},{"id":"c48ae19db6a98115","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"TriggerN - true","mode":"link","links":["4585b77eadd04389"],"x":505,"y":860,"wires":[]},{"id":"18c6e1995a0d5084","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_flur_eg_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":200,"y":140,"wires":[["4bbe3be8203a3811"],[]]},{"id":"56862b168460b201","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":200,"y":200,"wires":[["cbd20c6442179f63"],[]]},{"id":"8525c34c35c57224","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":200,"y":260,"wires":[["456361f246ee1d99"],[]]},{"id":"313baeb7edf00497","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_flur_eg_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":210,"y":320,"wires":[["55fce6bebe27363f"],[]]},{"id":"3b5072014aae6341","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":210,"y":380,"wires":[["23ce0eabe157b95f"],[]]},{"id":"650ae1faefa3fc54","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":210,"y":440,"wires":[["1f3e5cad22870027"],[]]},{"id":"960f3a0b539e1d1d","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_flur_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":220,"y":500,"wires":[["96a285c9d5d35176"],[]]},{"id":"ac2013fb7402d1fe","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":220,"y":560,"wires":[["0a644f02caf39bdb"],[]]},{"id":"2aaaab1d569664bc","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":220,"y":620,"wires":[["bbd7118ee463d630"],[]]},{"id":"a715d8f0205f2eba","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_flur_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":250,"y":680,"wires":[["fb1de1162b3c324b"],[]]},{"id":"d2362efcda98730f","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":250,"y":740,"wires":[["1dc1226af6c1214e"],[]]},{"id":"947610bf28e3583b","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":250,"y":800,"wires":[["52b45161b8631470"],[]]},{"id":"8c65d9ede55eeac7","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":210,"y":860,"wires":[["c48ae19db6a98115"],[]]},{"id":"fd124dbe7095bbde","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":200,"y":980,"wires":[["74f693fe63835c83"],[]]},{"id":"96d9dbcb4d3c79f2","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":210,"y":920,"wires":[["d3200f48fb80ccc2"],[]]},{"id":"d3200f48fb80ccc2","type":"link out","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"TriggerN - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":920,"wires":[]},{"id":"17d54dd9e053e66d","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":210,"y":1040,"wires":[["2a1aab5760049e57"],[]]},{"id":"2a1aab5760049e57","type":"link out","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"TriggerA - false","mode":"link","links":["4585b77eadd04389"],"x":505,"y":1040,"wires":[]},{"id":"249fd7de9168e968","type":"server-state-changed","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_flur_eg"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":200,"y":1100,"wires":[["6fc72e725e40c665"]]},{"id":"6fc72e725e40c665","type":"link out","z":"dd61e232cd662fcb","g":"22eb9485d946d7f1","name":"Licht-Gruppe","mode":"link","links":["4585b77eadd04389"],"x":505,"y":1100,"wires":[]},{"id":"304b71c85c2e8ca4","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":660,"wires":[[]]},{"id":"4b2811b98d5e3624","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":720,"wires":[[]]},{"id":"7d516a71d1ea3841","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":840,"wires":[[]]},{"id":"81250fd33c272450","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":780,"wires":[[]]},{"id":"61555c8453a8db8b","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":900,"wires":[[]]},{"id":"6b686f9c4f3e098e","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Licht An/Aus","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":660,"wires":[]},{"id":"2062a921f8b37751","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Dimmrichtung zurücksetzen","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":780,"wires":[]},{"id":"359f79375c8c7b85","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Automatische Dimmung","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":720,"wires":[]},{"id":"df2927879e5fa68c","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":840,"wires":[]},{"id":"2fbdfe94c603fcce","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Dimmung heller","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":900,"wires":[]},{"id":"e0f781b0acc639eb","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Dimmung dunkler","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":960,"wires":[]},{"id":"7488433b7682265c","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Licht umschalten #1","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":1020,"wires":[]},{"id":"fa1d3190763a7675","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Licht umschalten #2","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":1080,"wires":[]},{"id":"f2e3bd87afad1c44","type":"link out","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Licht umschalten #3","mode":"link","links":["4585b77eadd04389"],"x":1765,"y":1140,"wires":[]},{"id":"56e5280a474de96e","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":840,"wires":[["7d516a71d1ea3841"]]},{"id":"d66dea69e8e91d30","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":820,"y":780,"wires":[["81250fd33c272450"]]},{"id":"a84d583316922cee","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":720,"wires":[["4b2811b98d5e3624"]]},{"id":"a9070763afc38a7f","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":660,"wires":[["304b71c85c2e8ca4"]]},{"id":"d8b26bfa51a5a41c","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":900,"wires":[["61555c8453a8db8b"]]},{"id":"6d1ee847599f452e","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["6b686f9c4f3e098e"]]},{"id":"ce0e1e9f4aba5198","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":720,"wires":[["359f79375c8c7b85"]]},{"id":"bb64bda4ba7f258d","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":780,"wires":[["2062a921f8b37751"]]},{"id":"67c0f3eee6a13022","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":840,"wires":[["df2927879e5fa68c"]]},{"id":"4464b1bba09b8361","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":900,"wires":[["2fbdfe94c603fcce"]]},{"id":"f231fa40a52c98a0","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":960,"wires":[["e0f781b0acc639eb"]]},{"id":"a9eb1fafe120735b","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1020,"wires":[["7488433b7682265c"]]},{"id":"807ad1f31970686a","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1080,"wires":[["fa1d3190763a7675"]]},{"id":"ad39ea1b6089e5ee","type":"change","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1140,"wires":[["f2e3bd87afad1c44"]]},{"id":"dc6f33fedd6f29bf","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":960,"wires":[[]]},{"id":"e4a0a153331aa622","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":960,"wires":[["dc6f33fedd6f29bf"]]},{"id":"2fdab7f0dd796fd6","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1020,"wires":[[]]},{"id":"dd877d6ebfd341c7","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1020,"wires":[["2fdab7f0dd796fd6"]]},{"id":"22dd9f08f4a68532","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1080,"wires":[[]]},{"id":"8b853ccdf1e16348","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1080,"wires":[["22dd9f08f4a68532"]]},{"id":"baa0a02427214866","type":"switch","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1140,"wires":[[]]},{"id":"10b57d1d5dd96f30","type":"server-state-changed","z":"dd61e232cd662fcb","g":"5d7786c89cbe1752","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1140,"wires":[["baa0a02427214866"]]},{"id":"1f78c6b52f4fba66","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"1f78c6b52f4fba66\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1370,"y":140,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"7e68868d667b5baa","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"7e68868d667b5baa\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1890,"y":140,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"07b638d6a50b8b32","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"07b638d6a50b8b32\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2410,"y":140,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"d926342a00619480","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"d926342a00619480\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1360,"y":200,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"01f39c1791ece70a","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"01f39c1791ece70a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1860,"y":200,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"990dfdd467f6af96","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"990dfdd467f6af96\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2380,"y":200,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"0b10791a26989c93","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"0b10791a26989c93\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1380,"y":380,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"e3bd28a1ffb5deeb","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"e3bd28a1ffb5deeb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1920,"y":380,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"f0878f4617140437","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"f0878f4617140437\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2460,"y":380,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"e7400968aa17743b","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"e7400968aa17743b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1370,"y":320,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"604c29e080aee227","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"604c29e080aee227\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1890,"y":320,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"1ae13914ca1dbc7a","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"1ae13914ca1dbc7a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2410,"y":320,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"b30a36b8d0830a64","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"b30a36b8d0830a64\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1370,"y":260,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"74c26c33e1fc5587","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"74c26c33e1fc5587\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1890,"y":260,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"d53c35cc0d33ccdf","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"d53c35cc0d33ccdf\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2410,"y":260,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"d07cfeb8f5e7ea5a","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"d07cfeb8f5e7ea5a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1380,"y":500,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"2d46eaa0673eba11","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"2d46eaa0673eba11\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1920,"y":500,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"353a167b5825d5d3","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"353a167b5825d5d3\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2460,"y":500,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"22f875299b64d43f","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"22f875299b64d43f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1350,"y":560,"wires":[["30e237ad7304f0e7"],["c70c6d5a36925975","d98976610cb50ab8"]]},{"id":"76c34786b31d4191","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"76c34786b31d4191\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1380,"y":440,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"6281c9526cc03cfb","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"6281c9526cc03cfb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1920,"y":440,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"57010932c069d64a","type":"subflow:235e206401c6aa25","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - 33 Flur EG\",\"room\":\"flur_eg\",\"nodeId\":\"57010932c069d64a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"flur_eg","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2460,"y":440,"wires":[["30e237ad7304f0e7"],["d98976610cb50ab8"]]},{"id":"c70c6d5a36925975","type":"link out","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["4585b77eadd04389"],"x":1665,"y":560,"wires":[]},{"id":"123ae21f4319c1cb","type":"switch","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":980,"y":180,"wires":[["1f78c6b52f4fba66"],["d926342a00619480"],["b30a36b8d0830a64"],["e7400968aa17743b"],["0b10791a26989c93"],["76c34786b31d4191"],["d07cfeb8f5e7ea5a"],["22f875299b64d43f"],["30e237ad7304f0e7"]]},{"id":"0fe7cf816915ab7f","type":"link in","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Verteiler-In","links":["e1c48e1b8cfacdf1"],"x":775,"y":180,"wires":[["123ae21f4319c1cb"]]},{"id":"dc09d1ffa04ce32c","type":"change","z":"dd61e232cd662fcb","g":"59d548ed6a1f9ecc","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_flur_eg","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_flur_eg_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_flur_eg_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_flur_eg_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_flur_eg_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_flur_eg_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_flur_eg_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_flur_eg_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_flur_eg_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_flur_eg_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_flur_eg_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.lichtschalter_flur_eg","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.salzstein_aquarium","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_flur_eg","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_flur_eg","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"2","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":140,"wires":[["14bc2616a1e30362"]]},{"id":"6b3d4baf9a2209e8","type":"server-state-changed","z":"dd61e232cd662fcb","g":"59d548ed6a1f9ecc","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3080,"y":140,"wires":[["dc09d1ffa04ce32c"],[]]},{"id":"14bc2616a1e30362","type":"link out","z":"dd61e232cd662fcb","g":"59d548ed6a1f9ecc","name":"Initialisierung","mode":"link","links":["4585b77eadd04389"],"x":3685,"y":140,"wires":[]},{"id":"74f693fe63835c83","type":"link out","z":"dd61e232cd662fcb","g":"73470c3787cc81c2","name":"TriggerA - true","mode":"link","links":["4585b77eadd04389"],"x":505,"y":980,"wires":[]},{"id":"c4ac5723c49bdd08","type":"server-state-changed","z":"dd61e232cd662fcb","g":"7f951a81fa241887","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["a8933983764d4311"]]},{"id":"a8933983764d4311","type":"switch","z":"dd61e232cd662fcb","g":"7f951a81fa241887","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"56ded2444fa81cbb","type":"subflow:d5c060879184b636","z":"dd61e232cd662fcb","g":"ac5afbbe786fc97e","name":"","x":400,"y":1320,"wires":[["e1c48e1b8cfacdf1"]]},{"id":"4585b77eadd04389","type":"link in","z":"dd61e232cd662fcb","g":"ac5afbbe786fc97e","name":"Verteiler-Out Connect","links":["fa1d3190763a7675","6b686f9c4f3e098e","f2e3bd87afad1c44","fb1de1162b3c324b","23ce0eabe157b95f","55fce6bebe27363f","d3200f48fb80ccc2","96a285c9d5d35176","0a644f02caf39bdb","14bc2616a1e30362","359f79375c8c7b85","1f3e5cad22870027","2062a921f8b37751","e0f781b0acc639eb","74f693fe63835c83","cbd20c6442179f63","bbd7118ee463d630","df2927879e5fa68c","4bbe3be8203a3811","7488433b7682265c","c48ae19db6a98115","6fc72e725e40c665","c70c6d5a36925975","1dc1226af6c1214e","2fbdfe94c603fcce","2a1aab5760049e57","52b45161b8631470","456361f246ee1d99"],"x":125,"y":1320,"wires":[["56ded2444fa81cbb"]]},{"id":"e1c48e1b8cfacdf1","type":"link out","z":"dd61e232cd662fcb","g":"ac5afbbe786fc97e","name":"Verteiler-In","mode":"link","links":["0fe7cf816915ab7f"],"x":675,"y":1320,"wires":[]},{"id":"1cccbb059f90d444","type":"catch","z":"dd61e232cd662fcb","g":"f88d75fb37932b45","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["5a2480aafc5865a6","b4c9e65bb6b2e829"]]},{"id":"5a2480aafc5865a6","type":"debug","z":"dd61e232cd662fcb","g":"f88d75fb37932b45","name":"LI - Flur EG Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":1460,"wires":[]},{"id":"b4c9e65bb6b2e829","type":"function","z":"dd61e232cd662fcb","g":"f88d75fb37932b45","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - 33 Flur EG',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - 33 Flur EG Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["f047b85c2e3b7b3c"]]},{"id":"f047b85c2e3b7b3c","type":"link out","z":"dd61e232cd662fcb","g":"f88d75fb37932b45","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":580,"y":1460,"wires":[]},{"id":"30e237ad7304f0e7","type":"link out","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2660,"y":560,"wires":[]},{"id":"d98976610cb50ab8","type":"function","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - 33 Flur EG',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":620,"wires":[["f61b5d788216c777"]]},{"id":"f61b5d788216c777","type":"link out","z":"dd61e232cd662fcb","g":"a943f2e449640321","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2660,"y":620,"wires":[]}],"configs":[]}
