.codex-build/li_batch3_step1_ankleide_20260515.flow.json
{"id":"b84b2227e15f2ce5","label":"LI - Ankleidezimmer","disabled":false,"info":"","env":[],"nodes":[{"id":"9fc296a017f22d50","type":"group","z":"b84b2227e15f2ce5","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["b4c613b18ffdf35a","49de9fa1434d9c46","ec8dcc1cb08942e6","bde23aba9d5444fe","8a17a1bbf589ac6f","c81aef4b7cdd8df3","157d4568efa92dde","c99b9b721a0a4bca","125c587295ab186e","2f276017a1de7472","0efbc801b08fbfdb","945ef5044c41f73a","84ce601dc54a9b19","fbdd956088f01af3","244161d4ae88af8e","14180f787c254658","42c10152234560ae","53848c33c9a0f3b1","08152eb166da6cab"],"x":78,"y":68,"w":3674,"h":1139},{"id":"809a87637855a63a","type":"group","z":"b84b2227e15f2ce5","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["5307cef73bd7901f","ed94cf319b0f2d84","854dd87b270843bc"],"x":84,"y":1279,"w":632,"h":82},{"id":"57755212afc57093","type":"group","z":"b84b2227e15f2ce5","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["f55f5122a841d1c9","778a45d4c9e2c0f1","4a70fdd3c574bd6c","ad1cd0a2e8de4e59"],"x":74,"y":1419,"w":700,"h":82},{"id":"fbdd956088f01af3","type":"group","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["034fb629d532ce9f","7a54db4c1fdee1de","286a49b41a9e4470","24fb08be8a90d83c","b08d6c780524a4f7","089319a7bb6a55a0","a2ad075b30c1b37a","38308daf23f5a65a","4baee963b69c4a15","aa4d45cdd0f16d97","91dcfed17a660415","5353c1de02ae1506","d9e5c6388ec5bd09","d5ea8a473ccf74fc","1ffc5fabf6bbae66","d62f8ec0393f82c9","cada415a4fd623e5","91f141ba71f4dc1c","11cbc5ab8102fa84","9c56b02714497f24"],"x":104,"y":99,"w":442,"h":1042},{"id":"244161d4ae88af8e","type":"group","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["1d4158e7f7d2581f","1704258336dca732","5def25a1879188a9","68e1d72252069cf3","f3953e004eec5f11","8780d923130b6752","94c37d15a98b1068","33af5fda17557530","e043dc53a7aab0b2","df200291d4787232","7e65c343c6b31cea","36b1f29525185f69","f1ecf7dead96cc53","807ef12fb6499e3c","90129d159480a1ae","db95facb75c384db","4e99c709e99e0a60","7f269bc628f661d4","276f8e45bbd85aea","73c132da271e00ba","581f73a7888e381b","c8670e0743b103b2","8550b0795bf890ce","bbd24bdfe81f5a1a","8203be84ae61237b","d4786dc07ebca6ec","6ee64b03c45ab38b","de9f1ee830edb8f1","79a2915a4df88c6b","4a1c384ae315a756","dbf9501a2a220db0","36ebf6deaa836ee8","aedd274c84dcaf7d","1e999a21e89d3a8d","756a46a79693525f","89fa97e2316df4de"],"x":724,"y":611.5,"w":1082,"h":569.5},{"id":"14180f787c254658","type":"group","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["cfdcc823ada0f661","6bcbd6ad3469bc39","f8a3c41abf0c0302","79142acbcee6e606","323aee2f97c9da0e","fc7ed066da2297e0","64a5362ee251f9cd","47daa8c2d97f2ad0","2110740b74223b3e","c4a6451db669f119","6ae85f81fd527992","a5e7356e48d995cc","de7cbf380d824cc7","bd48301e3e9afa89","e267b5b915ede6c5","a04b58f8235450df","6a5f8bf335424677","db35074a86f66d09","a6da0fddc7dbbd93","f2848a8ba701ddd6","2343ae56f1149968","1fba9068c9ad9887","212ad3d2aa516d77","3eb831e5bed574dc","a74a81e67ba692a3","d8019068758d8542","0b5a0b9b702fed9d","c620d5275444343a"],"x":734,"y":94,"w":2152,"h":607},{"id":"42c10152234560ae","type":"group","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["b9d03dd9b7c9a6ba","05e48ca93fdaa345","27e5e98c3a94490e"],"x":2884,"y":99,"w":842,"h":82},{"id":"08152eb166da6cab","type":"group","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["d6325b09afc52224","f0e93f19bfdc8348"],"x":1834,"y":619,"w":432,"h":82},{"id":"b4c613b18ffdf35a","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger1 - true","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":140,"wires":[]},{"id":"49de9fa1434d9c46","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger2 - true","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":200,"wires":[]},{"id":"ec8dcc1cb08942e6","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger3 - true","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":260,"wires":[]},{"id":"bde23aba9d5444fe","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger1 - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":320,"wires":[]},{"id":"8a17a1bbf589ac6f","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger2 - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":380,"wires":[]},{"id":"c81aef4b7cdd8df3","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger3 - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":440,"wires":[]},{"id":"157d4568efa92dde","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger1 long - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":500,"wires":[]},{"id":"c99b9b721a0a4bca","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger2 long - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":560,"wires":[]},{"id":"125c587295ab186e","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger3 long - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":620,"wires":[]},{"id":"2f276017a1de7472","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger1 long extended - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":680,"wires":[]},{"id":"0efbc801b08fbfdb","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger2 long extended - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":740,"wires":[]},{"id":"945ef5044c41f73a","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"Trigger3 long extended - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":800,"wires":[]},{"id":"84ce601dc54a9b19","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"TriggerN - true","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":860,"wires":[]},{"id":"034fb629d532ce9f","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_ankleidezimmer_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":200,"y":140,"wires":[["b4c613b18ffdf35a"],[]]},{"id":"7a54db4c1fdee1de","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":200,"y":200,"wires":[["49de9fa1434d9c46"],[]]},{"id":"286a49b41a9e4470","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":200,"y":260,"wires":[["ec8dcc1cb08942e6"],[]]},{"id":"24fb08be8a90d83c","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_ankleidezimmer_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":210,"y":320,"wires":[["bde23aba9d5444fe"],[]]},{"id":"b08d6c780524a4f7","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":210,"y":380,"wires":[["8a17a1bbf589ac6f"],[]]},{"id":"089319a7bb6a55a0","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":210,"y":440,"wires":[["c81aef4b7cdd8df3"],[]]},{"id":"a2ad075b30c1b37a","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_ankleidezimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":220,"y":500,"wires":[["157d4568efa92dde"],[]]},{"id":"38308daf23f5a65a","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":220,"y":560,"wires":[["c99b9b721a0a4bca"],[]]},{"id":"4baee963b69c4a15","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":220,"y":620,"wires":[["125c587295ab186e"],[]]},{"id":"aa4d45cdd0f16d97","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_ankleidezimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":250,"y":680,"wires":[["2f276017a1de7472"],[]]},{"id":"91dcfed17a660415","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":250,"y":740,"wires":[["0efbc801b08fbfdb"],[]]},{"id":"5353c1de02ae1506","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":250,"y":800,"wires":[["945ef5044c41f73a"],[]]},{"id":"d9e5c6388ec5bd09","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":210,"y":860,"wires":[["84ce601dc54a9b19"],[]]},{"id":"d5ea8a473ccf74fc","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":200,"y":980,"wires":[["53848c33c9a0f3b1"],[]]},{"id":"1ffc5fabf6bbae66","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":210,"y":920,"wires":[["d62f8ec0393f82c9"],[]]},{"id":"d62f8ec0393f82c9","type":"link out","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"TriggerN - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":920,"wires":[]},{"id":"cada415a4fd623e5","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":210,"y":1040,"wires":[["91f141ba71f4dc1c"],[]]},{"id":"91f141ba71f4dc1c","type":"link out","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"TriggerA - false","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":1040,"wires":[]},{"id":"11cbc5ab8102fa84","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_ankleidezimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":200,"y":1100,"wires":[["9c56b02714497f24"]]},{"id":"9c56b02714497f24","type":"link out","z":"b84b2227e15f2ce5","g":"fbdd956088f01af3","name":"Licht-Gruppe","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":1100,"wires":[]},{"id":"1d4158e7f7d2581f","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1180,"y":660,"wires":[["276f8e45bbd85aea"],["73c132da271e00ba"],["581f73a7888e381b"]]},{"id":"1704258336dca732","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":840,"wires":[[]]},{"id":"5def25a1879188a9","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":780,"wires":[[]]},{"id":"68e1d72252069cf3","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":900,"wires":[[]]},{"id":"f3953e004eec5f11","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Licht An/Aus","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":660,"wires":[]},{"id":"8780d923130b6752","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Dimmrichtung zurücksetzen","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":780,"wires":[]},{"id":"94c37d15a98b1068","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Automatische Dimmung","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":720,"wires":[]},{"id":"33af5fda17557530","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":840,"wires":[]},{"id":"e043dc53a7aab0b2","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Dimmung heller","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":900,"wires":[]},{"id":"df200291d4787232","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Dimmung dunkler","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":960,"wires":[]},{"id":"7e65c343c6b31cea","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Licht umschalten #1","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":1020,"wires":[]},{"id":"36b1f29525185f69","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Licht umschalten #2","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":1080,"wires":[]},{"id":"f1ecf7dead96cc53","type":"link out","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Licht umschalten #3","mode":"link","links":["ed94cf319b0f2d84"],"x":1765,"y":1140,"wires":[]},{"id":"807ef12fb6499e3c","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":840,"wires":[["1704258336dca732"]]},{"id":"90129d159480a1ae","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":820,"y":780,"wires":[["5def25a1879188a9"]]},{"id":"db95facb75c384db","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_ankleidezimmer_2_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":720,"wires":[["89fa97e2316df4de"]]},{"id":"4e99c709e99e0a60","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_ankleidezimmer_1_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":660,"wires":[["1d4158e7f7d2581f"]]},{"id":"7f269bc628f661d4","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":900,"wires":[["68e1d72252069cf3"]]},{"id":"276f8e45bbd85aea","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["f3953e004eec5f11"]]},{"id":"73c132da271e00ba","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":720,"wires":[["94c37d15a98b1068"]]},{"id":"581f73a7888e381b","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":780,"wires":[["8780d923130b6752"]]},{"id":"c8670e0743b103b2","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":840,"wires":[["33af5fda17557530"]]},{"id":"8550b0795bf890ce","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":900,"wires":[["e043dc53a7aab0b2"]]},{"id":"bbd24bdfe81f5a1a","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":960,"wires":[["df200291d4787232"]]},{"id":"8203be84ae61237b","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1020,"wires":[["7e65c343c6b31cea"]]},{"id":"d4786dc07ebca6ec","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1080,"wires":[["36b1f29525185f69"]]},{"id":"6ee64b03c45ab38b","type":"change","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1140,"wires":[["f1ecf7dead96cc53"]]},{"id":"de9f1ee830edb8f1","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":960,"wires":[[]]},{"id":"79a2915a4df88c6b","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":960,"wires":[["de9f1ee830edb8f1"]]},{"id":"4a1c384ae315a756","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1020,"wires":[[]]},{"id":"dbf9501a2a220db0","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1020,"wires":[["4a1c384ae315a756"]]},{"id":"36ebf6deaa836ee8","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1080,"wires":[[]]},{"id":"aedd274c84dcaf7d","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1080,"wires":[["36ebf6deaa836ee8"]]},{"id":"1e999a21e89d3a8d","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1140,"wires":[[]]},{"id":"756a46a79693525f","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1140,"wires":[["1e999a21e89d3a8d"]]},{"id":"cfdcc823ada0f661","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"cfdcc823ada0f661\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1370,"y":140,"wires":[["d8019068758d8542"],["6bcbd6ad3469bc39","0b5a0b9b702fed9d"]]},{"id":"6bcbd6ad3469bc39","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":3000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"6bcbd6ad3469bc39\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1890,"y":140,"wires":[["d8019068758d8542"],["f8a3c41abf0c0302","0b5a0b9b702fed9d"]]},{"id":"f8a3c41abf0c0302","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"f8a3c41abf0c0302\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2410,"y":140,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"79142acbcee6e606","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"79142acbcee6e606\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1360,"y":200,"wires":[["d8019068758d8542"],["323aee2f97c9da0e","0b5a0b9b702fed9d"]]},{"id":"323aee2f97c9da0e","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"323aee2f97c9da0e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1860,"y":200,"wires":[["d8019068758d8542"],["fc7ed066da2297e0","0b5a0b9b702fed9d"]]},{"id":"fc7ed066da2297e0","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"fc7ed066da2297e0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2380,"y":200,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"64a5362ee251f9cd","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"64a5362ee251f9cd\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1380,"y":380,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"47daa8c2d97f2ad0","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"47daa8c2d97f2ad0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1920,"y":380,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"2110740b74223b3e","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"2110740b74223b3e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2460,"y":380,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"c4a6451db669f119","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"c4a6451db669f119\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1370,"y":320,"wires":[["d8019068758d8542"],["6ae85f81fd527992","0b5a0b9b702fed9d"]]},{"id":"6ae85f81fd527992","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":50,\"color_temp_kelvin\":2000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"6ae85f81fd527992\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1890,"y":320,"wires":[["d8019068758d8542"],["a5e7356e48d995cc","0b5a0b9b702fed9d"]]},{"id":"a5e7356e48d995cc","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"a5e7356e48d995cc\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2410,"y":320,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"de7cbf380d824cc7","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"de7cbf380d824cc7\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1370,"y":260,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"bd48301e3e9afa89","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"bd48301e3e9afa89\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1890,"y":260,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"e267b5b915ede6c5","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"e267b5b915ede6c5\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2410,"y":260,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"a04b58f8235450df","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"a04b58f8235450df\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1380,"y":500,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"6a5f8bf335424677","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"6a5f8bf335424677\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1920,"y":500,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"db35074a86f66d09","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"db35074a86f66d09\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2460,"y":500,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"a6da0fddc7dbbd93","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"a6da0fddc7dbbd93\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1350,"y":560,"wires":[["d8019068758d8542"],["212ad3d2aa516d77","0b5a0b9b702fed9d"]]},{"id":"f2848a8ba701ddd6","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"f2848a8ba701ddd6\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1380,"y":440,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"2343ae56f1149968","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"2343ae56f1149968\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1920,"y":440,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"1fba9068c9ad9887","type":"subflow:235e206401c6aa25","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Ankleidezimmer\",\"room\":\"ankleidezimmer\",\"nodeId\":\"1fba9068c9ad9887\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"ankleidezimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2460,"y":440,"wires":[["d8019068758d8542"],["0b5a0b9b702fed9d"]]},{"id":"212ad3d2aa516d77","type":"link out","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["ed94cf319b0f2d84"],"x":1665,"y":560,"wires":[]},{"id":"3eb831e5bed574dc","type":"switch","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":980,"y":180,"wires":[["cfdcc823ada0f661"],["79142acbcee6e606"],["de7cbf380d824cc7"],["c4a6451db669f119"],["64a5362ee251f9cd"],["f2848a8ba701ddd6"],["a04b58f8235450df"],["a6da0fddc7dbbd93"],["d8019068758d8542"]]},{"id":"a74a81e67ba692a3","type":"link in","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Verteiler-In","links":["854dd87b270843bc"],"x":775,"y":180,"wires":[["3eb831e5bed574dc"]]},{"id":"b9d03dd9b7c9a6ba","type":"change","z":"b84b2227e15f2ce5","g":"42c10152234560ae","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_ankleidezimmer","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_ankleidezimmer_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_ankleidezimmer_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_ankleidezimmer_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_ankleidezimmer_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_ankleidezimmer_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_ankleidezimmer_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_ankleidezimmer_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_ankleidezimmer_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_ankleidezimmer_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_ankleidezimmer_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.deckenleuchte_ankleidezimmer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.deckenleuchte_ankleidezimmer_2","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"light.steckdose_salzstein_komode","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"light.bodenbeleuchtung_ankleidezimmer","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"light.schminktisch","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_ankleidezimmer","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"light.licht_gruppe_ankleidezimmer_deckenleuchten","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_ankleidezimmer","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"5","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":140,"wires":[["27e5e98c3a94490e"]]},{"id":"05e48ca93fdaa345","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"42c10152234560ae","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3080,"y":140,"wires":[["b9d03dd9b7c9a6ba"],[]]},{"id":"27e5e98c3a94490e","type":"link out","z":"b84b2227e15f2ce5","g":"42c10152234560ae","name":"Initialisierung","mode":"link","links":["ed94cf319b0f2d84"],"x":3685,"y":140,"wires":[]},{"id":"53848c33c9a0f3b1","type":"link out","z":"b84b2227e15f2ce5","g":"9fc296a017f22d50","name":"TriggerA - true","mode":"link","links":["ed94cf319b0f2d84"],"x":505,"y":980,"wires":[]},{"id":"d6325b09afc52224","type":"server-state-changed","z":"b84b2227e15f2ce5","g":"08152eb166da6cab","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["f0e93f19bfdc8348"]]},{"id":"f0e93f19bfdc8348","type":"switch","z":"b84b2227e15f2ce5","g":"08152eb166da6cab","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"5307cef73bd7901f","type":"subflow:d5c060879184b636","z":"b84b2227e15f2ce5","g":"809a87637855a63a","name":"","x":400,"y":1320,"wires":[["854dd87b270843bc"]]},{"id":"ed94cf319b0f2d84","type":"link in","z":"b84b2227e15f2ce5","g":"809a87637855a63a","name":"Verteiler-Out Connect","links":["36b1f29525185f69","f3953e004eec5f11","f1ecf7dead96cc53","2f276017a1de7472","8a17a1bbf589ac6f","bde23aba9d5444fe","d62f8ec0393f82c9","157d4568efa92dde","c99b9b721a0a4bca","27e5e98c3a94490e","94c37d15a98b1068","c81aef4b7cdd8df3","8780d923130b6752","df200291d4787232","53848c33c9a0f3b1","49de9fa1434d9c46","125c587295ab186e","33af5fda17557530","b4c613b18ffdf35a","7e65c343c6b31cea","84ce601dc54a9b19","9c56b02714497f24","212ad3d2aa516d77","0efbc801b08fbfdb","e043dc53a7aab0b2","91f141ba71f4dc1c","945ef5044c41f73a","ec8dcc1cb08942e6"],"x":125,"y":1320,"wires":[["5307cef73bd7901f"]]},{"id":"854dd87b270843bc","type":"link out","z":"b84b2227e15f2ce5","g":"809a87637855a63a","name":"Verteiler-In","mode":"link","links":["a74a81e67ba692a3"],"x":675,"y":1320,"wires":[]},{"id":"89fa97e2316df4de","type":"switch","z":"b84b2227e15f2ce5","g":"244161d4ae88af8e","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1180,"y":720,"wires":[["276f8e45bbd85aea"],["73c132da271e00ba"],["581f73a7888e381b"]]},{"id":"f55f5122a841d1c9","type":"catch","z":"b84b2227e15f2ce5","g":"57755212afc57093","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["778a45d4c9e2c0f1","4a70fdd3c574bd6c"]]},{"id":"778a45d4c9e2c0f1","type":"debug","z":"b84b2227e15f2ce5","g":"57755212afc57093","name":"LI - Ankleidezimmer Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1460,"wires":[]},{"id":"4a70fdd3c574bd6c","type":"function","z":"b84b2227e15f2ce5","g":"57755212afc57093","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - Ankleidezimmer',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - Ankleidezimmer Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["ad1cd0a2e8de4e59"]]},{"id":"ad1cd0a2e8de4e59","type":"link out","z":"b84b2227e15f2ce5","g":"57755212afc57093","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":600,"y":1460,"wires":[]},{"id":"d8019068758d8542","type":"link out","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2660,"y":560,"wires":[]},{"id":"0b5a0b9b702fed9d","type":"function","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - Ankleidezimmer',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":620,"wires":[["c620d5275444343a"]]},{"id":"c620d5275444343a","type":"link out","z":"b84b2227e15f2ce5","g":"14180f787c254658","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2660,"y":620,"wires":[]}],"configs":[]}
