.codex-build/li_batch3_final_20260515.flow.json
{"id":"6a6e7b9bbba46024","label":"LI - Familienzimmer","disabled":false,"info":"","env":[],"nodes":[{"id":"58d28e4e1b966dfb","type":"group","z":"6a6e7b9bbba46024","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["5dac160c926f2a0f","5d46ecdb7907e174","efe08f744d22cb41","94e477ac70962d38","4b668a86c159c8fe","0fe4112a7f70d193","3fb04bf185d96d91","a9704104ac12d599","8a8fa817f5f938ef","947d16c6c0a2cccc","f7c82bc2d597162b","83beead2254ccba2","82d20c8e8ddb01f0","67e79b310d570ec8","eff02e182a530531","4a74a0925872115d","9e29fc37613dea11","9315ccf056138abe","76cbde40ac72532d"],"x":68,"y":68,"w":3674,"h":1139},{"id":"97378b72e3cd942f","type":"group","z":"6a6e7b9bbba46024","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["ae3cba5661bd7c43","c5e3d56ba9d71567","e5a5d34beeb873e3"],"x":74,"y":1279,"w":632,"h":82},{"id":"330690251451468a","type":"group","z":"6a6e7b9bbba46024","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["2bdc178fb28cfef1","f0c570e06104e3be","8820d58685119cb6","0e471799c1b02813"],"x":74,"y":1419,"w":700,"h":82},{"id":"67e79b310d570ec8","type":"group","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["c1201c8c303f2134","da0b0986b2e175ea","a7c6bd2462aa80cd","8aa768026b18ba9c","6e0a2cb091f00e06","3d95585c220567ad","9573b4700a72a985","1ed9ee096b83a7bb","a785440ebcba5ded","7b3a9dda4669d867","847961e00680a3be","cbf81e794ea9cb10","290ec708536f69a3","bafe94edae67a331","c203b0c1297361ef","7426b79399610d82","984bf279cce9b552","2264d59c399e75fd","21f9f51872ae1e31","e0458b15cbbc49d0"],"x":94,"y":99,"w":442,"h":1042},{"id":"eff02e182a530531","type":"group","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["7c456671ed404f19","46b1c0b159464c6d","5f52c564e6c2ef42","4a5a82bcdd8ba826","dc57a6247ebaaf0d","d3fc79401aa265e4","6ad534c083c98fa1","927a8f34354733af","10932e652ee06e0b","1ba693f83ac2d3b6","7d0a6d174e4b96f0","70e8b8f2e9894e03","4b475520d37c968f","fb1332cc656b17d2","5588e8186e5d0c96","095690646432ee32","ddb167e4dd0afdd4","919e325d41eaf27c","6e8a749d107034c0","56304285c6b7c4af","29b525f7b0bf34db","e50d73ef08530dc3","28a195a95d1c5692","111b0aaebc1da36c","64770d91acd0ccba","671c41f3175b7c70","a6b9226e40b9e044","e032d3658039933b","c059b17df1af530b","8185172c5732cfff","ecb5fd6c09305672","74a7f1222c519b37","b0af23eddb9e2f34","3e917801a798473c","2aa7660338fe43e5","b1428883e22a097c"],"x":714,"y":611.5,"w":1082,"h":569.5},{"id":"4a74a0925872115d","type":"group","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["2737a36df463a226","c3d38f05101f33c0","408112b847324207","09a1f716e8871a9e","25accd9f6b45132d","452fedb31061a9ec","8c80b7dae25ecb65","d3092468c1895e3c","ed1174adf5a058a4","2e8731d47bce9efa","1d75516579f8aced","d26c1abdbf04571b","e4ae2c6d72885a6b","850152717c72785d","a8d5da96adee55ae","1d4d586475fddb3b","66c76cedea9c89cb","718f97cbbf6bfd6f","894045476ccb91a3","cc3fd660142acde2","e97433d5328e7cbb","6676e2e507336c73","242afe0d0f575db7","2b2dee8ac850a2f8","bed4dacbd0bad33b","a0d03ea452cd263f","ea1ffa0753b05100","a8b750a913552430"],"x":724,"y":94,"w":2152,"h":607},{"id":"9e29fc37613dea11","type":"group","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["35412b20523fa979","25f5d9d800579609","50c3d49bef146720"],"x":2874,"y":99,"w":842,"h":82},{"id":"76cbde40ac72532d","type":"group","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["586c5a4e596b279d","8b21da332aca17c6","ec8214e9f7a3c7c4"],"x":1824,"y":619,"w":1062,"h":82},{"id":"5dac160c926f2a0f","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger1 - true","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":140,"wires":[]},{"id":"5d46ecdb7907e174","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger2 - true","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":200,"wires":[]},{"id":"efe08f744d22cb41","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger3 - true","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":260,"wires":[]},{"id":"94e477ac70962d38","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger1 - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":320,"wires":[]},{"id":"4b668a86c159c8fe","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger2 - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":380,"wires":[]},{"id":"0fe4112a7f70d193","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger3 - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":440,"wires":[]},{"id":"3fb04bf185d96d91","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger1 long - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":500,"wires":[]},{"id":"a9704104ac12d599","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger2 long - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":560,"wires":[]},{"id":"8a8fa817f5f938ef","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger3 long - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":620,"wires":[]},{"id":"947d16c6c0a2cccc","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger1 long extended - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":680,"wires":[]},{"id":"f7c82bc2d597162b","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger2 long extended - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":740,"wires":[]},{"id":"83beead2254ccba2","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"Trigger3 long extended - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":800,"wires":[]},{"id":"82d20c8e8ddb01f0","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"TriggerN - true","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":860,"wires":[]},{"id":"c1201c8c303f2134","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_familienzimmer_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":190,"y":140,"wires":[["5dac160c926f2a0f"],[]]},{"id":"da0b0986b2e175ea","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":190,"y":200,"wires":[["5d46ecdb7907e174"],[]]},{"id":"a7c6bd2462aa80cd","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":190,"y":260,"wires":[["efe08f744d22cb41"],[]]},{"id":"8aa768026b18ba9c","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.bewegungsmelder_familienzimmer_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":200,"y":320,"wires":[["94e477ac70962d38"],[]]},{"id":"6e0a2cb091f00e06","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":200,"y":380,"wires":[["4b668a86c159c8fe"],[]]},{"id":"3d95585c220567ad","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":200,"y":440,"wires":[["0fe4112a7f70d193"],[]]},{"id":"9573b4700a72a985","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_familienzimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":210,"y":500,"wires":[["3fb04bf185d96d91"],[]]},{"id":"1ed9ee096b83a7bb","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":210,"y":560,"wires":[["a9704104ac12d599"],[]]},{"id":"a785440ebcba5ded","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":210,"y":620,"wires":[["8a8fa817f5f938ef"],[]]},{"id":"7b3a9dda4669d867","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_familienzimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":240,"y":680,"wires":[["947d16c6c0a2cccc"],[]]},{"id":"847961e00680a3be","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":240,"y":740,"wires":[["f7c82bc2d597162b"],[]]},{"id":"cbf81e794ea9cb10","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":240,"y":800,"wires":[["83beead2254ccba2"],[]]},{"id":"290ec708536f69a3","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":200,"y":860,"wires":[["82d20c8e8ddb01f0"],[]]},{"id":"bafe94edae67a331","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":190,"y":980,"wires":[["9315ccf056138abe"],[]]},{"id":"c203b0c1297361ef","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":200,"y":920,"wires":[["7426b79399610d82"],[]]},{"id":"7426b79399610d82","type":"link out","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"TriggerN - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":920,"wires":[]},{"id":"984bf279cce9b552","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":200,"y":1040,"wires":[["2264d59c399e75fd"],[]]},{"id":"2264d59c399e75fd","type":"link out","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"TriggerA - false","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":1040,"wires":[]},{"id":"21f9f51872ae1e31","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["light.licht_gruppe_familienzimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":190,"y":1100,"wires":[["e0458b15cbbc49d0"]]},{"id":"e0458b15cbbc49d0","type":"link out","z":"6a6e7b9bbba46024","g":"67e79b310d570ec8","name":"Licht-Gruppe","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":1100,"wires":[]},{"id":"7c456671ed404f19","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"left_press_release/left_hold/left_hold_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"left_press_release","vt":"str"},{"t":"eq","v":"left_hold","vt":"str"},{"t":"eq","v":"left_hold_release","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1170,"y":660,"wires":[["56304285c6b7c4af"],["29b525f7b0bf34db"],["e50d73ef08530dc3"]]},{"id":"46b1c0b159464c6d","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":720,"wires":[[]]},{"id":"5f52c564e6c2ef42","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"4a5a82bcdd8ba826","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":780,"wires":[[]]},{"id":"dc57a6247ebaaf0d","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":900,"wires":[[]]},{"id":"d3fc79401aa265e4","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Licht An/Aus","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":660,"wires":[]},{"id":"6ad534c083c98fa1","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Dimmrichtung zurücksetzen","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":780,"wires":[]},{"id":"927a8f34354733af","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Automatische Dimmung","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":720,"wires":[]},{"id":"10932e652ee06e0b","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":840,"wires":[]},{"id":"1ba693f83ac2d3b6","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Dimmung heller","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":900,"wires":[]},{"id":"7d0a6d174e4b96f0","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Dimmung dunkler","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":960,"wires":[]},{"id":"70e8b8f2e9894e03","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Licht umschalten #1","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":1020,"wires":[]},{"id":"4b475520d37c968f","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Licht umschalten #2","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":1080,"wires":[]},{"id":"fb1332cc656b17d2","type":"link out","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Licht umschalten #3","mode":"link","links":["c5e3d56ba9d71567"],"x":1755,"y":1140,"wires":[]},{"id":"5588e8186e5d0c96","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":840,"wires":[["5f52c564e6c2ef42"]]},{"id":"095690646432ee32","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":810,"y":780,"wires":[["4a5a82bcdd8ba826"]]},{"id":"ddb167e4dd0afdd4","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":720,"wires":[["46b1c0b159464c6d"]]},{"id":"919e325d41eaf27c","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_familienzimmer_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":660,"wires":[["7c456671ed404f19"]]},{"id":"6e8a749d107034c0","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":900,"wires":[["dc57a6247ebaaf0d"]]},{"id":"56304285c6b7c4af","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":660,"wires":[["d3fc79401aa265e4"]]},{"id":"29b525f7b0bf34db","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":720,"wires":[["927a8f34354733af"]]},{"id":"e50d73ef08530dc3","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":780,"wires":[["6ad534c083c98fa1"]]},{"id":"28a195a95d1c5692","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":840,"wires":[["10932e652ee06e0b"]]},{"id":"111b0aaebc1da36c","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":900,"wires":[["1ba693f83ac2d3b6"]]},{"id":"64770d91acd0ccba","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":960,"wires":[["7d0a6d174e4b96f0"]]},{"id":"671c41f3175b7c70","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1020,"wires":[["70e8b8f2e9894e03"]]},{"id":"a6b9226e40b9e044","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1080,"wires":[["4b475520d37c968f"]]},{"id":"e032d3658039933b","type":"change","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1140,"wires":[["fb1332cc656b17d2"]]},{"id":"c059b17df1af530b","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":960,"wires":[[]]},{"id":"8185172c5732cfff","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":960,"wires":[["c059b17df1af530b"]]},{"id":"ecb5fd6c09305672","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1020,"wires":[[]]},{"id":"74a7f1222c519b37","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1020,"wires":[["ecb5fd6c09305672"]]},{"id":"b0af23eddb9e2f34","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1080,"wires":[[]]},{"id":"3e917801a798473c","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1080,"wires":[["b0af23eddb9e2f34"]]},{"id":"2aa7660338fe43e5","type":"switch","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1050,"y":1140,"wires":[[]]},{"id":"b1428883e22a097c","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"eff02e182a530531","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":810,"y":1140,"wires":[["2aa7660338fe43e5"]]},{"id":"2737a36df463a226","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":4000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"2737a36df463a226\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1360,"y":140,"wires":[["a0d03ea452cd263f"],["c3d38f05101f33c0","ea1ffa0753b05100"]]},{"id":"c3d38f05101f33c0","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"c3d38f05101f33c0\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1880,"y":140,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"408112b847324207","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"408112b847324207\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2400,"y":140,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"09a1f716e8871a9e","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"09a1f716e8871a9e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1350,"y":200,"wires":[["a0d03ea452cd263f"],["25accd9f6b45132d","ea1ffa0753b05100"]]},{"id":"25accd9f6b45132d","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"25accd9f6b45132d\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1850,"y":200,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"452fedb31061a9ec","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"452fedb31061a9ec\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2370,"y":200,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"8c80b7dae25ecb65","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"8c80b7dae25ecb65\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1370,"y":380,"wires":[["a0d03ea452cd263f"],["d3092468c1895e3c","ea1ffa0753b05100"]]},{"id":"d3092468c1895e3c","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"d3092468c1895e3c\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1910,"y":380,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"ed1174adf5a058a4","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"ed1174adf5a058a4\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2450,"y":380,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"2e8731d47bce9efa","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":25,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"2e8731d47bce9efa\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1360,"y":320,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"1d75516579f8aced","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"1d75516579f8aced\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1880,"y":320,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"d26c1abdbf04571b","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"d26c1abdbf04571b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2400,"y":320,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"e4ae2c6d72885a6b","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"color_temp_kelvin\":2200}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"e4ae2c6d72885a6b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1360,"y":260,"wires":[["a0d03ea452cd263f"],["850152717c72785d","ea1ffa0753b05100"]]},{"id":"850152717c72785d","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"850152717c72785d\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1880,"y":260,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"a8d5da96adee55ae","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"a8d5da96adee55ae\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2400,"y":260,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"1d4d586475fddb3b","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"1d4d586475fddb3b\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1370,"y":500,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"66c76cedea9c89cb","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"66c76cedea9c89cb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1910,"y":500,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"718f97cbbf6bfd6f","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"718f97cbbf6bfd6f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2450,"y":500,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"894045476ccb91a3","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\",\"{{flow.licht.automatisierung_licht5}}\",\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"894045476ccb91a3\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1340,"y":560,"wires":[["a0d03ea452cd263f"],["242afe0d0f575db7","ea1ffa0753b05100"]]},{"id":"cc3fd660142acde2","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"cc3fd660142acde2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1370,"y":440,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"e97433d5328e7cbb","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"e97433d5328e7cbb\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1910,"y":440,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"6676e2e507336c73","type":"subflow:235e206401c6aa25","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Familienzimmer\",\"room\":\"familienzimmer\",\"nodeId\":\"6676e2e507336c73\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"familienzimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2450,"y":440,"wires":[["a0d03ea452cd263f"],["ea1ffa0753b05100"]]},{"id":"242afe0d0f575db7","type":"link out","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["c5e3d56ba9d71567"],"x":1655,"y":560,"wires":[]},{"id":"2b2dee8ac850a2f8","type":"switch","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":970,"y":180,"wires":[["2737a36df463a226"],["09a1f716e8871a9e"],["e4ae2c6d72885a6b"],["2e8731d47bce9efa"],["8c80b7dae25ecb65"],["cc3fd660142acde2"],["1d4d586475fddb3b"],["894045476ccb91a3"],["a0d03ea452cd263f"]]},{"id":"bed4dacbd0bad33b","type":"link in","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Verteiler-In","links":["e5a5d34beeb873e3"],"x":765,"y":180,"wires":[["2b2dee8ac850a2f8"]]},{"id":"35412b20523fa979","type":"change","z":"6a6e7b9bbba46024","g":"9e29fc37613dea11","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_familienzimmer","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_familienzimmer_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_familienzimmer_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_familienzimmer_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_familienzimmer_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_familienzimmer_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_familienzimmer_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_familienzimmer_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.bewegungsmelder_familienzimmer_illuminance","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.bewegungsmelder_familienzimmer_occupancy","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_familienzimmer_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.deckenleuchte_familienzimmer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.deckenleuchte_familienzimmer_2","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"light.deckenleuchte_familienzimmer_3","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"light.deckenleuchte_familienzimmer_schreibtisch","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"light.wandbeleuchtung_familienzimmer","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"light.lichtschalter_familienzimmer_fitnessbereich","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"light.licht_gruppe_familienzimmer","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"light.licht_gruppe_familienzimmer_deckenleuchten","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"light.licht_gruppe_familienzimmer_deckenleuchten","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_familienzimmer","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"6","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3450,"y":140,"wires":[["50c3d49bef146720"]]},{"id":"25f5d9d800579609","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"9e29fc37613dea11","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3070,"y":140,"wires":[["35412b20523fa979"],[]]},{"id":"50c3d49bef146720","type":"link out","z":"6a6e7b9bbba46024","g":"9e29fc37613dea11","name":"Initialisierung","mode":"link","links":["c5e3d56ba9d71567"],"x":3675,"y":140,"wires":[]},{"id":"9315ccf056138abe","type":"link out","z":"6a6e7b9bbba46024","g":"58d28e4e1b966dfb","name":"TriggerA - true","mode":"link","links":["c5e3d56ba9d71567"],"x":495,"y":980,"wires":[]},{"id":"586c5a4e596b279d","type":"server-state-changed","z":"6a6e7b9bbba46024","g":"76cbde40ac72532d","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.lichtschalter_familienzimmer_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1930,"y":660,"wires":[["8b21da332aca17c6"]]},{"id":"8b21da332aca17c6","type":"switch","z":"6a6e7b9bbba46024","g":"76cbde40ac72532d","name":"right_press_release","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"right_press_release","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2220,"y":660,"wires":[["ec8214e9f7a3c7c4"]]},{"id":"ae3cba5661bd7c43","type":"subflow:d5c060879184b636","z":"6a6e7b9bbba46024","g":"97378b72e3cd942f","name":"","x":390,"y":1320,"wires":[["e5a5d34beeb873e3"]]},{"id":"c5e3d56ba9d71567","type":"link in","z":"6a6e7b9bbba46024","g":"97378b72e3cd942f","name":"Verteiler-Out Connect","links":["4b475520d37c968f","d3fc79401aa265e4","fb1332cc656b17d2","947d16c6c0a2cccc","4b668a86c159c8fe","94e477ac70962d38","7426b79399610d82","3fb04bf185d96d91","a9704104ac12d599","50c3d49bef146720","927a8f34354733af","0fe4112a7f70d193","6ad534c083c98fa1","7d0a6d174e4b96f0","9315ccf056138abe","5d46ecdb7907e174","8a8fa817f5f938ef","10932e652ee06e0b","5dac160c926f2a0f","70e8b8f2e9894e03","82d20c8e8ddb01f0","e0458b15cbbc49d0","242afe0d0f575db7","f7c82bc2d597162b","1ba693f83ac2d3b6","2264d59c399e75fd","83beead2254ccba2","efe08f744d22cb41"],"x":115,"y":1320,"wires":[["ae3cba5661bd7c43"]]},{"id":"e5a5d34beeb873e3","type":"link out","z":"6a6e7b9bbba46024","g":"97378b72e3cd942f","name":"Verteiler-In","mode":"link","links":["bed4dacbd0bad33b"],"x":665,"y":1320,"wires":[]},{"id":"ec8214e9f7a3c7c4","type":"api-call-service","z":"6a6e7b9bbba46024","g":"76cbde40ac72532d","name":"Lichtschalter Familienzimmer Fitnessbereich umschalten","server":"86f0795d.48a3f8","version":7,"debugenabled":false,"action":"light.toggle","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.lichtschalter_familienzimmer_fitnessbereich"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"light","service":"toggle","x":2650,"y":660,"wires":[[]]},{"id":"2bdc178fb28cfef1","type":"catch","z":"6a6e7b9bbba46024","g":"330690251451468a","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["f0c570e06104e3be","8820d58685119cb6"]]},{"id":"f0c570e06104e3be","type":"debug","z":"6a6e7b9bbba46024","g":"330690251451468a","name":"LI - Familienzimmer Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1460,"wires":[]},{"id":"8820d58685119cb6","type":"function","z":"6a6e7b9bbba46024","g":"330690251451468a","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - Familienzimmer',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - Familienzimmer Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["0e471799c1b02813"]]},{"id":"0e471799c1b02813","type":"link out","z":"6a6e7b9bbba46024","g":"330690251451468a","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":600,"y":1460,"wires":[]},{"id":"a0d03ea452cd263f","type":"link out","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2650,"y":560,"wires":[]},{"id":"ea1ffa0753b05100","type":"function","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - Familienzimmer',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":620,"wires":[["a8b750a913552430"]]},{"id":"a8b750a913552430","type":"link out","z":"6a6e7b9bbba46024","g":"4a74a0925872115d","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2650,"y":620,"wires":[]}],"configs":[]}
