.codex-build/li_batch4_step01_esszimmer_20260515.flow.json
{"id":"46b22075e4fd2912","label":"LI - Esszimmer","disabled":false,"info":"","env":[],"nodes":[{"id":"6fb38b9819baab00","type":"group","z":"46b22075e4fd2912","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["2cbb3e429dc70ae8","0aeb9f2e04ce190d","2dfd85cfe63b7d05","e7389ff2e83fffac","347ddb1afecd8b2a","d05e159f698b0982","ffd833867899aac2","780a136a2d0039bf","4443303442874f4e","47ced4195ebf6999","b05c98483ba60d8b","81260885ed198274","ceb09f4ff55ca1ef","437c840c5223f84b","0e88921bd80d80e0","0130600e204566bf","ebf7ef73a141b2ac","76ceb83327f5ef18","e7d0867e301d8b08"],"x":78,"y":68,"w":3674,"h":1139},{"id":"a7c7dfee96379ec6","type":"group","z":"46b22075e4fd2912","name":"","style":{"stroke":"#999999","fill":"none","label":true},"nodes":["1b5bf41b5e2e7d7e","cb96e701310742e3","0a7431d0ce105a1d"],"x":84,"y":1279,"w":632,"h":82},{"id":"e9bfedb7101e21a4","type":"group","z":"46b22075e4fd2912","name":"","style":{"label":true,"stroke":"#999999","fill":"none"},"nodes":["a4f214c5f5d6fe9e","1704ff6b03f091b4","baafcd031ed469e1","4b3a507b2570e84f"],"x":74,"y":1419,"w":700,"h":82},{"id":"437c840c5223f84b","type":"group","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["2e62c0ef0e003483","c73c7a9540b09da1","d5c381de702585ba","095ee92225f7fe84","1be3cdfc2ded51b4","0506f027fdf3a27d","d79863bb62561f03","c9aac2727c92a5be","bf9e14948a09cdae","0d63c6bd99c25a01","b98596fa9d82b1e8","28aff5b09b46f289","697263938659fcaf","2f4870b8b47002d1","e7ce488a99142e33","94da4eb41e4b1c12","4faca05fe7988b60","91ceae526a24c40c","861858f3f7898e26","f95d25ff3eda7649"],"x":104,"y":99,"w":442,"h":1042},{"id":"0e88921bd80d80e0","type":"group","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["18316e505ebe4183","d8aa1cd089f474d0","c8d6c9f68f8eedc5","0196fe35142577b6","d1b163c1c3a4f4fe","a23558c7d82a799f","d0e9db30daef047b","b3d6f3078caada72","1b778b72216fdbf1","62a452d2d217baec","2f4ad40852406a93","03641cab5d309c91","e778f42377c8e8b1","53a599525aa6cd83","5b98a54dfd67341c","7d734efc2a16a2a8","70f4f6ba6c480d64","a7a61fe5de921858","1f2325db5bfae729","0b97ad8edf7f08d4","cbc41be1794d2ea0","6bea0b0ed0066c63","bf9feafd0f357aae","1d76efba16d32b26","b040a5488965931d","d28e2191ca34ed40","13e1d61b580514ad","27549e72016e0487","cd616ec67a8bc0b6","4caa5076fac62428","f7992f76184aff73","9b345aa13b990e34","87cf8bf19727f4af","5bd0f7748d8bb31d","c851a2635c6ef6ca","b2345b9c7822973e"],"x":724,"y":619,"w":1082,"h":562},{"id":"0130600e204566bf","type":"group","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["33cf167f35a69e0f","edb5275f42f8f6f1","241efe53605a11de","1a41925b11fb6ead","e6feafcd529aecb2","6cf2925fc7b6b949","76f144c926c6fd31","1ae3291a8b8c6a81","e54434bdd137fe74","606b6ba6cd16cf26","5ea0baa22e315b3d","684cfe1cd0786462","e862fed2b7a271d9","4b81bb690160bebe","0e49fbe705f8b868","7e99dbd71d2454b2","33ef2fe02fd38575","91e1aed0ed637056","3b5ae0248d6de47e","d2505b9ed73cd4de","afa61a05d93f3394","aba5b2e8ff88fa3a","45da4602647dd9bd","79e441c4cc19edb5","1ca844169d2185fe","f598531909089778","e70c29f7a3769f9d","db018e79eea9f069"],"x":734,"y":94,"w":2152,"h":607},{"id":"ebf7ef73a141b2ac","type":"group","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["9b0c22357fe2d916","4def76aa81dfd9e2","55f02a2332be0ea5"],"x":2884,"y":99,"w":842,"h":82},{"id":"e7d0867e301d8b08","type":"group","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"","style":{"fill":"#ffcf3f","label":true},"nodes":["1b0858d55d4ec4c6","b05962a54995a31f"],"x":1834,"y":619,"w":432,"h":82},{"id":"2cbb3e429dc70ae8","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger1 - true","mode":"link","links":["cb96e701310742e3"],"x":505,"y":140,"wires":[]},{"id":"0aeb9f2e04ce190d","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger2 - true","mode":"link","links":["cb96e701310742e3"],"x":505,"y":200,"wires":[]},{"id":"2dfd85cfe63b7d05","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger3 - true","mode":"link","links":["cb96e701310742e3"],"x":505,"y":260,"wires":[]},{"id":"e7389ff2e83fffac","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger1 - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":320,"wires":[]},{"id":"347ddb1afecd8b2a","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger2 - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":380,"wires":[]},{"id":"d05e159f698b0982","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger3 - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":440,"wires":[]},{"id":"ffd833867899aac2","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger1 long - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":500,"wires":[]},{"id":"780a136a2d0039bf","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger2 long - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":560,"wires":[]},{"id":"4443303442874f4e","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger3 long - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":620,"wires":[]},{"id":"47ced4195ebf6999","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger1 long extended - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":680,"wires":[]},{"id":"b05c98483ba60d8b","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger2 long extended - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":740,"wires":[]},{"id":"81260885ed198274","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"Trigger3 long extended - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":800,"wires":[]},{"id":"ceb09f4ff55ca1ef","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"TriggerN - true","mode":"link","links":["cb96e701310742e3"],"x":505,"y":860,"wires":[]},{"id":"2e62c0ef0e003483","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger1 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.prasenzmelder_kuche_belegung_esszimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - true","valueType":"str"}],"x":200,"y":140,"wires":[["2cbb3e429dc70ae8"],[]]},{"id":"c73c7a9540b09da1","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger2 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - true","valueType":"str"}],"x":200,"y":200,"wires":[["0aeb9f2e04ce190d"],[]]},{"id":"d5c381de702585ba","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger3 - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - true","valueType":"str"}],"x":200,"y":260,"wires":[["2dfd85cfe63b7d05"],[]]},{"id":"095ee92225f7fe84","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger1 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.prasenzmelder_kuche_belegung_esszimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay1","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 - false","valueType":"str"}],"x":210,"y":320,"wires":[["e7389ff2e83fffac"],[]]},{"id":"1be3cdfc2ded51b4","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger2 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 - false","valueType":"str"}],"x":210,"y":380,"wires":[["347ddb1afecd8b2a"],[]]},{"id":"0506f027fdf3a27d","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger3 - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"delay2","forType":"flow","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 - false","valueType":"str"}],"x":210,"y":440,"wires":[["d05e159f698b0982"],[]]},{"id":"d79863bb62561f03","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger1 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_esszimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long - false","valueType":"str"}],"x":220,"y":500,"wires":[["ffd833867899aac2"],[]]},{"id":"c9aac2727c92a5be","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger2 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long - false","valueType":"str"}],"x":220,"y":560,"wires":[["780a136a2d0039bf"],[]]},{"id":"bf9e14948a09cdae","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger3 long - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long - false","valueType":"str"}],"x":220,"y":620,"wires":[["4443303442874f4e"],[]]},{"id":"0d63c6bd99c25a01","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger1 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.alarmanlage_anwesenheitserkennung_esszimmer"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger1 long extended - false","valueType":"str"}],"x":250,"y":680,"wires":[["47ced4195ebf6999"],[]]},{"id":"b98596fa9d82b1e8","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger2 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger2 long extended - false","valueType":"str"}],"x":250,"y":740,"wires":[["b05c98483ba60d8b"],[]]},{"id":"28aff5b09b46f289","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Trigger3 long extended - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_true"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"false","valueType":"bool"},{"property":"path","propertyType":"msg","value":"Trigger3 long extended - false","valueType":"str"}],"x":250,"y":800,"wires":[["81260885ed198274"],[]]},{"id":"697263938659fcaf","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"TriggerN - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - true","valueType":"str"}],"x":210,"y":860,"wires":[["ceb09f4ff55ca1ef"],[]]},{"id":"2f4870b8b47002d1","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"TriggerA - true","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - true","valueType":"str"}],"x":200,"y":980,"wires":[["76ceb83327f5ef18"],[]]},{"id":"e7ce488a99142e33","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"TriggerN - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.routine_schlafenszeit"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerN - false","valueType":"str"}],"x":210,"y":920,"wires":[["94da4eb41e4b1c12"],[]]},{"id":"94da4eb41e4b1c12","type":"link out","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"TriggerN - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":920,"wires":[]},{"id":"4faca05fe7988b60","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"TriggerA - false","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_sonnenstrahlen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"path","propertyType":"msg","value":"TriggerA - false","valueType":"str"}],"x":210,"y":1040,"wires":[["91ceae526a24c40c"],[]]},{"id":"91ceae526a24c40c","type":"link out","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"TriggerA - false","mode":"link","links":["cb96e701310742e3"],"x":505,"y":1040,"wires":[]},{"id":"861858f3f7898e26","type":"server-state-changed","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Licht-Gruppe","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"path","propertyType":"msg","value":"Licht-Gruppe","valueType":"str"}],"x":200,"y":1100,"wires":[["f95d25ff3eda7649"]]},{"id":"f95d25ff3eda7649","type":"link out","z":"46b22075e4fd2912","g":"437c840c5223f84b","name":"Licht-Gruppe","mode":"link","links":["cb96e701310742e3"],"x":505,"y":1100,"wires":[]},{"id":"18316e505ebe4183","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":660,"wires":[[]]},{"id":"d8aa1cd089f474d0","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":840,"wires":[[]]},{"id":"c8d6c9f68f8eedc5","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":780,"wires":[[]]},{"id":"0196fe35142577b6","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":900,"wires":[[]]},{"id":"d1b163c1c3a4f4fe","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Licht An/Aus","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":660,"wires":[]},{"id":"a23558c7d82a799f","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Dimmrichtung zurücksetzen","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":780,"wires":[]},{"id":"d0e9db30daef047b","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Automatische Dimmung","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":720,"wires":[]},{"id":"b3d6f3078caada72","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Automatischer Weiß-/Farbwechsel","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":840,"wires":[]},{"id":"1b778b72216fdbf1","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Dimmung heller","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":900,"wires":[]},{"id":"62a452d2d217baec","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Dimmung dunkler","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":960,"wires":[]},{"id":"2f4ad40852406a93","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Licht umschalten #1","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":1020,"wires":[]},{"id":"03641cab5d309c91","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Licht umschalten #2","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":1080,"wires":[]},{"id":"e778f42377c8e8b1","type":"link out","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Licht umschalten #3","mode":"link","links":["cb96e701310742e3"],"x":1765,"y":1140,"wires":[]},{"id":"53a599525aa6cd83","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter4","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":840,"wires":[["d8aa1cd089f474d0"]]},{"id":"5b98a54dfd67341c","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter3","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"","valueType":"entityState"}],"x":820,"y":780,"wires":[["c8d6c9f68f8eedc5"]]},{"id":"7d734efc2a16a2a8","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter2","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":720,"wires":[["b2345b9c7822973e"]]},{"id":"70f4f6ba6c480d64","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":660,"wires":[["18316e505ebe4183"]]},{"id":"a7a61fe5de921858","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter5","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":900,"wires":[["0196fe35142577b6"]]},{"id":"1f2325db5bfae729","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht An/Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":660,"wires":[["d1b163c1c3a4f4fe"]]},{"id":"0b97ad8edf7f08d4","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatische Dimmung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":720,"wires":[["d0e9db30daef047b"]]},{"id":"cbc41be1794d2ea0","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmrichtung zurücksetzen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":780,"wires":[["a23558c7d82a799f"]]},{"id":"6bea0b0ed0066c63","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Automatischer Weiß-/Farbwechsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":840,"wires":[["b3d6f3078caada72"]]},{"id":"bf9feafd0f357aae","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung heller","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":900,"wires":[["1b778b72216fdbf1"]]},{"id":"1d76efba16d32b26","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Dimmung dunkler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":960,"wires":[["62a452d2d217baec"]]},{"id":"b040a5488965931d","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1020,"wires":[["2f4ad40852406a93"]]},{"id":"d28e2191ca34ed40","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1080,"wires":[["03641cab5d309c91"]]},{"id":"13e1d61b580514ad","type":"change","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"Licht umschalten #3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1140,"wires":[["e778f42377c8e8b1"]]},{"id":"27549e72016e0487","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":960,"wires":[[]]},{"id":"cd616ec67a8bc0b6","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter6","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":960,"wires":[["27549e72016e0487"]]},{"id":"4caa5076fac62428","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1020,"wires":[[]]},{"id":"f7992f76184aff73","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter7","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1020,"wires":[["4caa5076fac62428"]]},{"id":"9b345aa13b990e34","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1080,"wires":[[]]},{"id":"87cf8bf19727f4af","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter8","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1080,"wires":[["9b345aa13b990e34"]]},{"id":"5bd0f7748d8bb31d","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":1140,"wires":[[]]},{"id":"c851a2635c6ef6ca","type":"server-state-changed","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"Lichtschalter9","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":820,"y":1140,"wires":[["5bd0f7748d8bb31d"]]},{"id":"33cf167f35a69e0f","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"33cf167f35a69e0f\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1370,"y":140,"wires":[["f598531909089778"],["edb5275f42f8f6f1","e70c29f7a3769f9d"]]},{"id":"edb5275f42f8f6f1","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100,\"rgb_color\":[255,255,255]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"edb5275f42f8f6f1\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":1890,"y":140,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"241efe53605a11de","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Sehr hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"241efe53605a11de\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"sehr_hell","type":"str"}],"x":2410,"y":140,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"1a41925b11fb6ead","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Hell #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"1a41925b11fb6ead\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1360,"y":200,"wires":[["f598531909089778"],["e6feafcd529aecb2","e70c29f7a3769f9d"]]},{"id":"e6feafcd529aecb2","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Hell #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"e6feafcd529aecb2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":1860,"y":200,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"6cf2925fc7b6b949","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Hell #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"6cf2925fc7b6b949\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Hell #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"hell","type":"str"}],"x":2380,"y":200,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"76f144c926c6fd31","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":10,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"76f144c926c6fd31\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1380,"y":380,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"1ae3291a8b8c6a81","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht5}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"1ae3291a8b8c6a81\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":1920,"y":380,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"e54434bdd137fe74","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"e54434bdd137fe74\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Sehr dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"sehr_dunkel","type":"str"}],"x":2460,"y":380,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"606b6ba6cd16cf26","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Dunkel #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"606b6ba6cd16cf26\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1370,"y":320,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"5ea0baa22e315b3d","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Dunkel #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":50,\"color_temp_kelvin\":2000}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"5ea0baa22e315b3d\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":1890,"y":320,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"684cfe1cd0786462","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Dunkel #3","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"684cfe1cd0786462\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Dunkel #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"dunkel","type":"str"}],"x":2410,"y":320,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"e862fed2b7a271d9","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Normal #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"e862fed2b7a271d9\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1370,"y":260,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"4b81bb690160bebe","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Normal #2","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht6}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"4b81bb690160bebe\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":1890,"y":260,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"0e49fbe705f8b868","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Normal #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"0e49fbe705f8b868\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Normal #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"normal","type":"str"}],"x":2410,"y":260,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"7e99dbd71d2454b2","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":1,\"rgb_color\":[255,99,71]}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"7e99dbd71d2454b2\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1380,"y":500,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"33ef2fe02fd38575","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"33ef2fe02fd38575\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":1920,"y":500,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"91e1aed0ed637056","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Nachtlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"91e1aed0ed637056\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Nachtlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"nachtlicht","type":"str"}],"x":2460,"y":500,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"3b5ae0248d6de47e","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Aus","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\",\"{{flow.licht.automatisierung_licht2}}\",\"{{flow.licht.automatisierung_licht3}}\",\"{{flow.licht.automatisierung_licht4}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_off","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_off","type":"str"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"3b5ae0248d6de47e\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Aus\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_off","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"aus","type":"str"}],"x":1350,"y":560,"wires":[["f598531909089778"],["45da4602647dd9bd","e70c29f7a3769f9d"]]},{"id":"d2505b9ed73cd4de","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","env":[{"name":"ENTITY_TEMPLATES","value":"[\"{{flow.licht.automatisierung_licht1}}\"]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"d2505b9ed73cd4de\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #1\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1380,"y":440,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"afa61a05d93f3394","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #2","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{\"brightness_pct\":100}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"afa61a05d93f3394\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #2\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":1920,"y":440,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"aba5b2e8ff88fa3a","type":"subflow:235e206401c6aa25","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Abendlicht #3","env":[{"name":"ENTITY_TEMPLATES","value":"[]","type":"json"},{"name":"ACTION","value":"light.turn_on","type":"str"},{"name":"DOMAIN","value":"light","type":"str"},{"name":"SERVICE","value":"turn_on","type":"str"},{"name":"DATA_SPEC","value":"{\"mode\":\"literal\",\"value\":{}}","type":"json"},{"name":"SOURCE","value":"{\"flow\":\"LI - Esszimmer\",\"room\":\"esszimmer\",\"nodeId\":\"aba5b2e8ff88fa3a\",\"nodeName\":\"Licht - Automatisierung Lichtanforderung - Abendlicht #3\"}","type":"json"},{"name":"ORIGIN","value":"presence_automation","type":"str"},{"name":"INTENT","value":"turn_on","type":"str"},{"name":"PRIORITY_CLASS","value":"presence_automation","type":"str"},{"name":"PRIORITY","type":"num","value":"50"},{"name":"SCOPE","value":"room","type":"str"},{"name":"ROOM","value":"esszimmer","type":"str"},{"name":"PROFILE","value":"abendlicht","type":"str"}],"x":2460,"y":440,"wires":[["f598531909089778"],["e70c29f7a3769f9d"]]},{"id":"45da4602647dd9bd","type":"link out","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Licht - Automatisierung Lichtanforderung - Aus","mode":"link","links":["cb96e701310742e3"],"x":1665,"y":560,"wires":[]},{"id":"79e441c4cc19edb5","type":"switch","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Verteiler-In","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Hell #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Normal #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Sehr dunkel #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Abendlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Nachtlicht #1","vt":"str"},{"t":"eq","v":"Licht - Automatisierung Lichtanforderung - Aus","vt":"str"},{"t":"eq","v":"LI - Koordination Request","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":980,"y":180,"wires":[["33cf167f35a69e0f"],["1a41925b11fb6ead"],["e862fed2b7a271d9"],["606b6ba6cd16cf26"],["76f144c926c6fd31"],["d2505b9ed73cd4de"],["7e99dbd71d2454b2"],["3b5ae0248d6de47e"],["f598531909089778"]]},{"id":"1ca844169d2185fe","type":"link in","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Verteiler-In","links":["0a7431d0ce105a1d"],"x":775,"y":180,"wires":[["79e441c4cc19edb5"]]},{"id":"9b0c22357fe2d916","type":"change","z":"46b22075e4fd2912","g":"ebf7ef73a141b2ac","name":"","rules":[{"t":"set","p":"licht.automatisierung1","pt":"flow","to":"input_boolean.licht_automatisierung","tot":"str"},{"t":"set","p":"licht.automatisierung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name","pt":"flow","to":"input_boolean.licht_automatisierung_esszimmer","tot":"str"},{"t":"set","p":"licht.automatisierung2_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitsabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_esszimmer_helligkeitsabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitsabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_helligkeitswert","pt":"flow","to":"input_number.licht_automatisierung_esszimmer_helligkeitswert","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_helligkeitswert","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_status","pt":"flow","to":"input_select.licht_automatisierung_esszimmer_status","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_status","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_ausschaltverzoegerung","pt":"flow","to":"input_number.licht_automatisierung_esszimmer_ausschaltverzogerung","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_ausschaltverzoegerung","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_tageszeitabfrage","pt":"flow","to":"input_boolean.licht_automatisierung_esszimmer_tageszeitabfrage","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_tageszeitabfrage","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_abendlicht","pt":"flow","to":"input_boolean.licht_automatisierung_esszimmer_abendlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_abendlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_name_nachtlicht","pt":"flow","to":"input_boolean.licht_automatisierung_esszimmer_nachtlicht","tot":"str"},{"t":"set","p":"licht.automatisierung2_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_name_nachtlicht","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_lux","pt":"flow","to":"sensor.prasenzmelder_kuche_beleuchtungsstarke","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_lux","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung1_bewegungsmelder_occupancy","pt":"flow","to":"binary_sensor.prasenzmelder_kuche_belegung_esszimmer","tot":"str"},{"t":"set","p":"licht.automatisierung2_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung3_bewegungsmelder_occupancy","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"licht.automatisierung_statusverfolgung","pt":"flow","to":"input_boolean.licht_automatisierung_statusverfolgung","tot":"str"},{"t":"set","p":"licht.automatisierung_name_lichtanforderung","pt":"flow","to":"input_select.licht_automatisierung_esszimmer_lichtanforderung","tot":"str"},{"t":"set","p":"licht.automatisierung_licht1","pt":"flow","to":"light.steckdose_holzlampe","tot":"str"},{"t":"set","p":"licht.automatisierung_licht2","pt":"flow","to":"light.salzstein_esstisch","tot":"str"},{"t":"set","p":"licht.automatisierung_licht3","pt":"flow","to":"light.decke_led_streifen_6","tot":"str"},{"t":"set","p":"licht.automatisierung_licht4","pt":"flow","to":"light.decke_led_streifen_7","tot":"str"},{"t":"set","p":"licht.automatisierung_licht5","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht6","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht7","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht8","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht9","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht10","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_licht11","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_lichtgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_dimmgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"licht.automatisierung_farbgruppe","pt":"flow","to":"input_number.allgemein_immer_1","tot":"str"},{"t":"set","p":"direction","pt":"flow","to":"Up","tot":"str"},{"t":"set","p":"high_brightness","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"alarmanlage.anwesenheitserkennung1","pt":"flow","to":"input_boolean.alarmanlage_anwesenheitserkennung_esszimmer","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung2","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"alarmanlage.anwesenheitserkennung3","pt":"flow","to":"input_number.allgemein_immer_0","tot":"str"},{"t":"set","p":"allgemein.sonnenstrahlen","pt":"flow","to":"input_boolean.allgemein_sonnenstrahlen","tot":"str"},{"t":"set","p":"allgemein.schlafenszeit","pt":"flow","to":"input_boolean.routine_schlafenszeit","tot":"str"},{"t":"set","p":"allgemein.anwesend","pt":"flow","to":"input_boolean.allgemein_anwesend","tot":"str"},{"t":"set","p":"licht.automatisierung_number_status","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_ausschaltverzoegerung","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_abendlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_nachtlicht","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_tageszeitabfrage","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"licht.automatisierung_number_lichter","pt":"flow","to":"4","tot":"str"},{"t":"set","p":"licht.automatisierung_number_zones","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"colors","pt":"flow","to":"[[255,0,0],[255,127,0],[255,255,0],[127,255,0],[0,255,0],[0,255,127],[0,255,255],[0,127,255],[0,0,255],[127,0,255],[255,0,255],[255,0,127],[255,105,180],[240,230,140]]","tot":"json"},{"t":"set","p":"whiteTones","pt":"flow","to":"[6500,4500,3500,2700,2000]","tot":"json"},{"t":"set","p":"brightnesses","pt":"flow","to":"[1,20,40,60,80,100]","tot":"json"},{"t":"set","p":"path","pt":"msg","to":"Initialisierung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3460,"y":140,"wires":[["55f02a2332be0ea5"]]},{"id":"4def76aa81dfd9e2","type":"server-state-changed","z":"46b22075e4fd2912","g":"ebf7ef73a141b2ac","name":"Allgemein - Initialisierung Licht eingeschaltet","server":"86f0795d.48a3f8","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_initialisierung_licht"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":3080,"y":140,"wires":[["9b0c22357fe2d916"],[]]},{"id":"55f02a2332be0ea5","type":"link out","z":"46b22075e4fd2912","g":"ebf7ef73a141b2ac","name":"Initialisierung","mode":"link","links":["cb96e701310742e3"],"x":3685,"y":140,"wires":[]},{"id":"76ceb83327f5ef18","type":"link out","z":"46b22075e4fd2912","g":"6fb38b9819baab00","name":"TriggerA - true","mode":"link","links":["cb96e701310742e3"],"x":505,"y":980,"wires":[]},{"id":"1b0858d55d4ec4c6","type":"server-state-changed","z":"46b22075e4fd2912","g":"e7d0867e301d8b08","name":"LichtschalterS1","server":"86f0795d.48a3f8","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.allgemein_immer_false"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"action","propertyType":"msg","value":"string","valueType":"entityState"}],"x":1940,"y":660,"wires":[["b05962a54995a31f"]]},{"id":"b05962a54995a31f","type":"switch","z":"46b22075e4fd2912","g":"e7d0867e301d8b08","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":2190,"y":660,"wires":[[]]},{"id":"1b5bf41b5e2e7d7e","type":"subflow:d5c060879184b636","z":"46b22075e4fd2912","g":"a7c7dfee96379ec6","name":"","x":400,"y":1320,"wires":[["0a7431d0ce105a1d"]]},{"id":"cb96e701310742e3","type":"link in","z":"46b22075e4fd2912","g":"a7c7dfee96379ec6","name":"Verteiler-Out Connect","links":["03641cab5d309c91","d1b163c1c3a4f4fe","e778f42377c8e8b1","47ced4195ebf6999","347ddb1afecd8b2a","e7389ff2e83fffac","94da4eb41e4b1c12","ffd833867899aac2","780a136a2d0039bf","55f02a2332be0ea5","d0e9db30daef047b","d05e159f698b0982","a23558c7d82a799f","62a452d2d217baec","76ceb83327f5ef18","0aeb9f2e04ce190d","4443303442874f4e","b3d6f3078caada72","2cbb3e429dc70ae8","2f4ad40852406a93","ceb09f4ff55ca1ef","f95d25ff3eda7649","45da4602647dd9bd","b05c98483ba60d8b","1b778b72216fdbf1","91ceae526a24c40c","81260885ed198274","2dfd85cfe63b7d05"],"x":125,"y":1320,"wires":[["1b5bf41b5e2e7d7e"]]},{"id":"0a7431d0ce105a1d","type":"link out","z":"46b22075e4fd2912","g":"a7c7dfee96379ec6","name":"Verteiler-In","mode":"link","links":["1ca844169d2185fe"],"x":675,"y":1320,"wires":[]},{"id":"b2345b9c7822973e","type":"switch","z":"46b22075e4fd2912","g":"0e88921bd80d80e0","name":"action","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"action","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1060,"y":720,"wires":[[]]},{"id":"a4f214c5f5d6fe9e","type":"catch","z":"46b22075e4fd2912","g":"e9bfedb7101e21a4","name":"Fehlerabfrage","scope":null,"uncaught":false,"x":170,"y":1460,"wires":[["1704ff6b03f091b4","baafcd031ed469e1"]]},{"id":"1704ff6b03f091b4","type":"debug","z":"46b22075e4fd2912","g":"e9bfedb7101e21a4","name":"LI - Esszimmer Debug","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1460,"wires":[]},{"id":"baafcd031ed469e1","type":"function","z":"46b22075e4fd2912","g":"e9bfedb7101e21a4","name":"Catch -> Diagnose","func":"const error = msg.error ?? {};\nconst source = error.source?.name || error.source?.id || error.source?.type || 'unbekannte Quelle';\nconst message = error.message || 'Unbekannter Fehler';\n\nmsg.diagnose = {\n    level: 'error',\n    domain: 'LI',\n    flow: 'LI - Esszimmer',\n    event: 'flow_error',\n    source,\n    target: error.source?.id || '',\n    reason: message,\n    message: 'LI - Esszimmer Fehler: ' + message + ' (' + source + ')',\n    details: { error },\n    node_id: error.source?.id ?? null,\n    node_type: error.source?.type ?? null,\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["4b3a507b2570e84f"]]},{"id":"4b3a507b2570e84f","type":"link out","z":"46b22075e4fd2912","g":"e9bfedb7101e21a4","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":600,"y":1460,"wires":[]},{"id":"f598531909089778","type":"link out","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"an LI - Koordination","mode":"link","links":["1fa6e568f7f9844c"],"x":2660,"y":560,"wires":[]},{"id":"e70c29f7a3769f9d","type":"function","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"Diagnosefilter Request Builder","func":"const diagnostic = msg.li_diagnostic;\nif (!diagnostic) {\n    return null;\n}\n\nfunction level(status) {\n    if (status === 'deduplicated') return 'debug';\n    if (status === 'rejected_lower_priority') return 'info';\n    if (status === 'rejected_invalid' || status === 'rejected') return 'warning';\n    return 'info';\n}\n\nconst source = diagnostic.source || {};\nconst status = diagnostic.status || 'rejected_invalid';\nconst sourceText = source.nodeName || source.path || msg.path || 'LI - Request Builder';\nconst target = diagnostic.action || diagnostic.target || diagnostic.request?.room || '-';\nconst reason = diagnostic.reason || status;\n\nmsg.diagnose = {\n    level: level(status),\n    domain: 'LI',\n    flow: 'LI - Esszimmer',\n    event: 'request_builder_' + status,\n    source: sourceText,\n    target,\n    reason,\n    message: status + ': ' + reason,\n    details: { diagnostic, path: msg.path },\n    correlation_id: msg._msgid\n};\nmsg.payload = msg.diagnose;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":620,"wires":[["db018e79eea9f069"]]},{"id":"db018e79eea9f069","type":"link out","z":"46b22075e4fd2912","g":"0130600e204566bf","name":"an SY - Diagnose","mode":"link","links":["d1a6761e9b2f40c3"],"x":2660,"y":620,"wires":[]}],"configs":[]}
